<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES DANS LE <span style="color: #C3413B;"><strong>SPORT</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 486px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">LA FILIERE STAPS:</h1>
          <p style="margin-top: -39px;">BAC+3: L’objectif de la licence STAPS (niveau bac+3) est de former des diplômés capables d’animer et d’encadrer un groupe d’enfants comme d’adultes en toute sécurité dans le domaine des pratiques physiques ou sportives.</p>
          <p style="margin-top: -39px;">Après STAPS, il est par exemple possible de préparer les concours de la fonction publique territoriale, d’écoles d’ergothérapie ou kinésithérapie. A la fin de la L2, une orientation en licence professionnelle en 1 an peut être intéressante pour travailler dans le tourisme et les loisirs sportifs. Il est également possible de poursuivre en master pour passer les concours de l’enseignement (CAPEPS), principalement après le parcours éducation et motricité ou un master proposant une orientation dans l’encadrement au sein des sports de compétition, l’animation sportive, la gestion du sport...</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong><a href="/jobs/503">ENTRAÎNEUR(EUSE) SPORTIF(TIVE)</a>, <a href="/jobs/504">EDUCATEUR(TRICE) SPORTIF(TIVE)</a>, <a href="/jobs/213">ANIMATEUR DE CLUB DE VACANCES</a>, <a href="/jobs/411">MAÎTRE-NAGEUR(EUSE) SAUVETEUR(EUSE)</a>, <a href="/jobs/555">PROFESSEUR D'ÉDUCATION PHYSIQUE ET SPORTIVE, </a>, Coach, Accompagnateur Accompagnatrice de tourisme sportif, animateur Animatrice d'activités physiques pour tous, assistant(e) animateur activités sportives, entraîneur fédéral sport.... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 549px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">DIPLOMES D'ETAT POUR SPORTIFS SPECIALISES:</h1>
          <p style="margin-top: -39px;">Le BPJEPS (brevet professionnel de la jeunesse, de l'éducation populaire et du sport) permet d'exercer les métiers d'animateur, de moniteur ou d'éducateur sportif dans une trentaine de disciplines sportives.</p>
          <p style="margin-top: -39px;">Les titulaires du DEJEPS (diplôme d’État de la jeunesse, de l’éducation populaire et du sport) interviennent en tant que coordinateurs auprès de différents publics dans divers milieux professionnels (associations, structures sociales…). Comme pour entrer en BPJEPS, il faut avoir obtenu un PSC1 (qui atteste de la participation à une formation de prévention et secours civiques niveau 1) pour accéder à la formation, qui se déroule en général sur un an. Les candidats ont le choix entre deux spécialités : “animation socio-éducative ou culturelle” et “perfectionnement sportif”, spécialité assortie de 80 mentions (boxe, VTT…).</p>
          <p style="margin-top: -39px;">Le DESJEPS (diplôme d’État supérieur de la jeunesse, de l’éducation populaire et du sport) forme des directeurs d’association, de club sportif ou des entraîneurs de haut niveau. L’entrée en formation est conditionnée par des tests de sélection organisés par chaque organisme de formation. Le DESJEPS comporte les mêmes spécialités que le DEJEPS, et offre un choix de mentions tout aussi large.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Animateur / moniteur / éducateur / coordinateur sportif, directeur d’association, directeur de club sportif, entraîneurs de haut niveau... </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>
