<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES DANS L' <span style="color: #C3413B;"><strong>ENVIRONNEMENT</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 567px;" >
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">VOUS VOYEZ LES CHOSES EN GRAND:</h1>
          <p>Si vous rêvez de <strong>sauver la planète</strong> ou d'être l'inventeur d'une <strong>super machine qui ne pollue pas</strong> et qui en plus sauve la planète, alors pas le choix vous allez sûrement devoir faire des études d'ingénieurs.</p>
          <p style="margin-top: -39px;">Vous pourrez vous spécialiser dans ce qui vous passionne le plus, par exemple en génie de l'environnement, en dépollution et gestion de l'environnement ou encore en biotechnologies.</p>
          <p style="margin-top: -39px;"><strong>Attention regardez où se trouvent les écoles qui proposent la spécialisation qui vous intéresse, il se peut que vous soyez obligé de déménager. Mais bon, c'est plutôt cool non ?</strong></p>
          <p style="margin-top: -39px;">Non seulement vous allez être nos héros, mais en plus vous avez de la chance beaucoup d'entreprises recherchent vos profils.</p>
          <p style="margin-top: -39px;">Sont admissibles en école d'ingénieurs, les bacheliers ou titulaires d'un BTS. Attention vous avez souvent une première sélection après analyse des dossiers, et ensuite une seconde avec des épreuves/entretiens à l'oral.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong><a href="/jobs/326">INGÉNIEUR ENVIRONNEMENT (les spécialités sont nombreuses: traitement des eaux et des nuisances, gestion de l'environnement, dépollution)</a>, <a href="/296">ECOTOXICOLOGUE</a>, <a href="/jobs/295">ECO-CONSEILLER</a>, <a href="/jobs/217">BIOLOGISTE EN ENVIRONNEMENT</a>... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 320px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">BAC+3 ET C'EST TOUT:</h1>
          <p>La licence, dans ces cas-là, vous servira surtout après votre BTS ou DUT dans l'environnement et si vous souhaitez vous spécialiser dans un domaine en particulier ou si votre licence vous permettra de devenir plus vite manager.</p>
          <p style="margin-top: -39px;">Notre conseil: demandez l'avis de vos profs de BTS et DUT si dans votre cas et avec votre projet la licence est importante ou pas.</p>
          <p style="margin-top: -39px;">Mais partez du principe que vous ne serez jamais perdants à faire une troisième année d'études, vous maîtriserez davantage votre sujet et vous validerez un BAC+3. Toujours utile surtout si les recruteurs utilisent des grilles de salaires où le salaire est fixe et déterminé en fonction de l'expérience, des années d'études etc...</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 515px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg');">
          <h1 style="padding: 26px 10px;">BAC+2 ET C'EST TOUT:</h1>
          <p>Si vous aimez l'environnement et souhaitez contribuer à sa protection, vous pouvez aussi le faire par le biais d'un BTS ou DUT. Le BTS peut également être un moyen d'accéder aux études d'ingénieurs.</p>
          <p style="margin-top: -39px;">C'est une formation en 2 ans et vous pourrez tout à fait poursuivre vos études en faisant une license et un master par la suite.</p>
          <p style="margin-top: -39px;">Exemples de BTS: BTS métiers de l’eau, BTSA aménagements paysagers, BTS métiers des services à l'environnement, BTSA gestion et protection de la nature, BTS maritime spécialité pêche et gestion de l'environnement marin (PGEM), DUT génie biologique option génie de l'environnement.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers après un BTS:</span> <span style="font-size: 11px;"><strong><a href="/jobs/203">TECHNICIEN FORESTIER</a>, technicien(ne) d'exploitation de l'eau/garde-littoral/garde-pêche, technicien(ne) paysagiste, animateur qualité-sécurité-environnement, <a href="/jobs/277">RESPONSABLE HYGIÈNE, SÉCURITÉ, ENVIRONNEMENT</a>, technicien(ne) en traitement des déchets, technicien(ne) de chantier (rivière, cynégétique...), garde (chasse, pêche, littoral, rivière, parc nationaux), <a href="/jobs/233">TECHNICIEN DE MESURE DE LA POLLUTION</a>, <a href="/jobs/282">TECHNICIEN DE LA QUALITÉ DE L'EAU</a>, <a href="/jobs/441">TECHNICIEN DE MAINTENANCE SUR ÉOLIENNE</a>... </strong></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg -->
<%= render '/shared/navigationbar' %>
