<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center;">FAIRE DES ETUDES DANS LE <span style="color: #C3413B;"><strong>TOURISME / HÔTELLERIE / RESTAURATION</strong></span>:</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study-uni">
          <a href="/etudes_medical_et_paramedical"><h1>BTS/DUT/DEUST -> LICENCE -> MASTER:</h1>
          <p>Le parcours pour devenir...</p></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study-cpge">
          <a href="/etudes_commerce_et_gestion"><h1>LA PREPA:</h1>
          <p>pour intégrer une école par la suite et devenir...</p></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study-gepb">
          <a href="/etudes_droit"><h1>UNE ECOLE POST-BAC:</h1>
          <p>pour plus de concret et devenir...</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
