<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES EN <span style="color: #C3413B;"><strong>ARTS / DESIGN</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 900px;" >
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1532237868/inge.jpg');">
          <h1 style="padding: 26px 10px;">CONCILIER CREATIVITE ET SALAIRE:</h1>
          <p style="margin-top: -19px;"><span style="font-size: 14px;"><strong><a href="/jobs/102" style="color: white;">ARCHITECTE</a> et <a href="/jobs/95" style="color: white;"> ARCHITECTE D'INTERIEUR</a>:</strong></span> BAC+5 dans une des 20 Ensa (Écoles nationales supérieures d'architecture) de France. L'admission se fait sur examen du dossier, complété par un entretien et éventuellement par des tests. Les bacheliers S sont les plus nombreux parmi les étudiants, mais les écoles accueillent aussi des ES, L ainsi que des titulaires des bacs technologiques STI2D et STD2A, et des bacheliers professionnels dans une spécialité du domaine du bâtiment. Les candidatures se font via la plateforme Parcoursup. Vous pouvez également prolonger de deux ans et avoir la double spécialisation: Architecte/Ingénieur. <a href="/jobs/102" style="color: blue; text-decoration: underline;">Voir fiche métier architecte</a>  <a href="/jobs/95" style="color: pink; text-decoration: underline;">Voir fiche métier architecte d'intérieur</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>CONCEPTEUR DE JEUX VIDEO:</strong></span> BAC+3 minimum, le plus souvent BAC+5/6. Pour ceux qui souhaitteraient d'arrêter à bac + 3, vous pouvez faire une licence professionnelle avec une spécialisation en jeu vidéo ; et pour les BAC +5 ans, visez un cursus spécialisé en école (Ensad, Beaux-arts, Supinfogame, Gobelins...), un diplôme d'ingénieur spécialité image, multimédia, audiovisuel et communication; ou un master, par exemple, audiovisuel, médias intéractifs numériques, jeux; ou même un Mastère spé. Interactive Digital Experiences (CNAM) jeu vidéo (BAC+6).</p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>UX/UI DESIGNER:</strong></span> C'est un nouveau métier et il n'exige pas une école et des études précises en particulier. Vous pouvez tout à fait exercer ce métier avec un BAC+2 ou un BAC+6. Tout se jouera sur votre expérience terrain et vos capacité à comprendre à la fois les attentes de l'entreprise et de ses clients. C'est un métier qui demande de la rigueur, BEAUCOUP de créativité et de curiosité car c'est un métier qui évolue très vite, avec le marché.</p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>MOTION DESIGNER:</strong></span> BAC+2 minimum. En règle générale, les entreprises recrutent des diplômés d'écoles d'art appliqués ou des titulaires de BTS ou de DUT en informatique ayant suivi une formation complémentaire en design graphique.</p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>GRAPHISTE:</strong></span></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>CHEF CUISINIER:</strong></span></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>MARKETING MANAGER:</strong></span></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>SPECIALISTE DU SON:</strong></span></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>DIRECTEUR ARTISTIQUE:</strong></span></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>STYLISTE:</strong></span></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>COMPOSITEUR:</strong></span></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>ILLUSTRATEUR:</strong></span></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>EBENISTE:</strong></span></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>MERCHANDISEUR:</strong></span></p>
          <p style="margin-top: -39px;">...</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">CONCILIER CREATIVITE ET SALAIRE:</h1>
          <p style="margin-top: -39px;">maquilleur de star, écrivain, </p>
          <p style="margin-top: -39px;"></p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg');">
          <h1 style="padding: 26px 10px;">CONCILIER CREATIVITE ET SALAIRE:</h1>
          <p style="margin-top: -39px;"></p>
          <p style="margin-top: -39px;"></p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>... </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg -->
<%= render '/shared/navigationbar' %>
