<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES EN <span style="color: #C3413B;"><strong>INFORMATIQUE / ELECTRONIQUE</strong></span>:</p>
<div class="container">
  <div>
    <h1 class="agenda">INFOS A VENIR</h1>
  </div>

<!--   <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" >
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px; background-color: rgba(0, 0, 0, 0.3);">PREPAREZ-VOUS POUR LA PACES:</h1>
          <p>Si vous voulez faire des études de médecine, pharmacie, odontologie, kinésithérapie, ostéopathe etc... alors la case PACES est obligatoire.</p>
          <p>La PACES est la première année commune qui vous permettra d'accéder à vos études de médecine. Attention préparez-vous ce n'est pas de tout repos, mais si c'est votre rêve alors foncez et donnez le meilleur de vous-même!</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers PACES + études:</span> <strong>médecin, chirurgien, pédiatre, radiologue, cardiologue, neurologue, kiné, chirurgien-dentiste, ostéo... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px; background-color: rgba(0, 0, 0, 0.5);">L'ALTERNATIVE À LA PACES:</h1>
          <p>Il existe un cursus en deux ans appelé "Le modèle PluriPASS" à Angers et à Brest. Cette alternative vous permettra d'accéder à votre deuxième année d'études de médecine. Seuls les élèves de S (ou ES /L avec mention bien et très bien) peuvent candidater.</p>
          <p style="margin-top: -39px;">L'ALTER-PACES: pour les étudiants ayant déjà validé 2 ou 3 années d'études peuvent se reconvertir et candidater dans certaines universités pour rejoindre la 2e année de médecine.</p>
          <p class="card-jobs" style="margin-top: -26px;"><span style="font-size: 10px;">Exemples de métiers après alternative PACES + études:</span> <span style="font-size: 11px;"><strong>médecin, chirurgien, pédiatre, radiologue, cardiologue, neurologue, kiné, chirurgien-dentiste, ostéo... </strong></span></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg');">
          <h1 style="padding: 26px 10px;">BTS/DUT/DEUST -> LICENCE -> MASTER:</h1>
          <p>Si vous aimez le concret et rêvez de travailler le plus vite possible, vous pouvez opter pour un BTS.</p>
          <p>C'est une formation en 2 ans et vous pourrez tout à fait poursuivre vos études en faisant une license et un master par la suite. Cependant attention, si vous rêvez d'être médecin ou kiné, ce n'est pas possible avec un BTS.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers après un BTS:</span> <span style="font-size: 11px;"><strong>Diététicien, Podo-orthésiste, Prothésiste orthésiste, assistant médical... </strong></span></p>
        </div>
      </div>
    </div>
  </div> -->
</div>
</div>
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg -->
<%= render '/shared/navigationbar' %>
