<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES D'<span style="color: #C3413B;"><strong>INGENIEUR</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 511px; margin-top: 25px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1532237868/inge.jpg');">
          <p style="font-size: 12px;">Si vous ne savez pas encore quel métier précis vous voulez faire plus tard, <strong>pas de panique</strong> il existe trois types d'écoles d'ingénieurs en France: <strong>généralistes</strong> (aucune spécialité), <strong>polyvalentes</strong> (spécialisation après 1 an) et <strong>spécialisées</strong> (spécialisées dès la première année). </p>
          <p style="font-size: 12px; margin-top: -39px;">Pour vous donner une idée, voici des exemples de spécialisations:
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>aéronautique et spatial</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>agriculture et agro-alimentaire</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>automobile</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>BTP et génie civil</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>biotechnologie et génie biologique</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>chimie, électronique et mécatronique</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>énergie et le génie électrique</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>environnement et paysage</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>informatique et numérique</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>logistique et génie industriel</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>matériaux, mécanique et génie mécanique</strong></p>
          <p style="font-size: 12px; margin-top: -51px; padding-left: 34px;"><strong>télécommunications, réseaux et systèmes d'information</strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 508px;" >
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">INTEGRER UNE ECOLE D'INGENIEURS APRES LE BAC:</h1>
          <p style="margin-top: -39px;">La moitié des écoles d'ingénieurs (soit une centaine d'établissements) sont accessibles après le bac, ce qui représente environ un quart des étudiants ingénieurs.</p>
          <p style="margin-top: -39px;">Il faut présenter un dossier équilibré (notes, appréciations, lettre de motivation) et, parfois, réussir des épreuves écrites et/ou orales. Si les écoles privilégient les bacheliers S, elles accueillent aussi un petit nombre de bacheliers STI2D, STL et STAV.</p>
          <p style="margin-top: -39px;">Formation en 5 ans avec prépa intégrée de deux ans, et donc un cycle ingénieur en 3 ans.</p>
          <p style="margin-top: -39px;">Les bons côtés: Le passage en cycle ingénieur sur contrôle continu qui permet de contourner la pression des concours post-prépa, et des études un peu plus concrètes qu'en prépa et des cours de soutien pour éviter les abandons ou les échecs.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Ingénieur en Aéronautique, Ingénieur en Aérospatiale, Ingénieur en plasturgie, Ingénieur d'Affaires, Ingénieur supply chain, Ingénieur sécurité environnement, Ingénieur en management environnemental, Ingénieur sécurité web, Ingénieur en Mécanique des fluides... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 486px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">INTEGRER UNE ECOLE D'INGENIEURS APRES UN BAC+1:</h1>
          <p style="margin-top: -39px;">La majorité des écoles post-bac admettent des étudiants ayant validé un bac + 1 scientifique en cohérence avec le programme d'une formation d'ingénieur : prépas, DUT, BTS, licence, PACES (1re année commune aux études de santé).</p>
          <p style="margin-top: -39px;">L'admission s'effectue le plus souvent au cas par cas, sur dossier et/ou épreuves, et entretien. Des mises à niveau sont parfois proposées.</p>
          <p style="margin-top: -39px;">Cursus en 4 ou 5 ans. Parmi les écoles qui sélectionnent des bac + 1, certaines leur font commencer la scolarité en 1re année (ils suivent alors les 5 années du cursus), d'autres leur permettent d'entrer directement en 2e année (les étudiants n'effectuent donc que 4 ans dans l'école). Quelques-unes proposent des semestres passerelles pour faire la 1re année en 6 mois.</p>
          <p class="card-jobs" style="margin-top: -26px;"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Ingénieur en Aéronautique, Ingénieur en Aérospatiale, Ingénieur en plasturgie, Ingénieur d'Affaires, Ingénieur supply chain, Ingénieur sécurité environnement, Ingénieur en management environnemental, Ingénieur sécurité web, Ingénieur en Mécanique des fluides... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 469px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg');">
          <h1 style="padding: 26px 10px;">INTEGRER UNE ECOLE D'INGENIEURS APRES UNE CLASSE PREPA:</h1>
          <p style="margin-top: -39px;">40 % des étudiants ingénieurs sont issus de prépas scientifiques et intégrent ensuite une école d'ingénieurs pour 3 ans. La quasi-totalité des écoles d'ingénieurs recrutent les candidats issus de prépas scientifiques.</p>
          <p style="margin-top: -39px;">Pour entrer en prépa: Accessibles sur dossier (avec une sélection plus ou moins importante selon les lycées), ces classes accueillent une majorité de bacheliers S. Certaines sont toutefois réservées aux bacheliers technologiques STI2D, STL et STAV.</p>
          <p style="margin-top: -39px;">Les bons côtés de passer par une classe prépa: l'accès à un plus vaste choix d'écoles, parmi les meilleures, 2 ans pour mûrir son choix d'école et de spécialité, la gratuité des études en prépa dans les lycées publics.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Ingénieur en Aéronautique, Ingénieur en Aérospatiale, Ingénieur en plasturgie, Ingénieur d'Affaires, Ingénieur supply chain, Ingénieur sécurité environnement, Ingénieur en management environnemental, Ingénieur sécurité web, Ingénieur en Mécanique des fluides... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 428px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg');">
          <h1 style="padding: 26px 10px;">INTEGRER UNE ECOLE D'INGENIEURS APRES UN BAC+2 OU PLUS:</h1>
          <p style="margin-top: -39px;">De plus en plus d'écoles recrutent (généralement sur dossier) une partie de leurs étudiants parmi ceux ayant déjà validé un premier cursus. Certaines admettent près de la moitié de leur effectif par ce biais ; d'autres ne réservent que quelques places, voire aucune, à ces profils.</p>
          <p style="margin-top: -39px;">20 % des admis en écoles d'ingénieurs sont ainsi titulaires d'un DUT ou d'un BTS, et 7 % d'une 2e ou d'une 3e année de licence validée, parfois d'une 1re année de master. Pour ces candidats, plus que d'une réorientation, il peut s'agir d'une décision prise dès la terminale, pour un parcours qui se construit pas à pas.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Ingénieur en Aéronautique, Ingénieur en Aérospatiale, Ingénieur en plasturgie, Ingénieur d'Affaires, Ingénieur supply chain, Ingénieur sécurité environnement, Ingénieur en management environnemental, Ingénieur sécurité web, Ingénieur en Mécanique des fluides... </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg -->
<%= render '/shared/navigationbar' %>
