<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES DANS L' <span style="color: #C3413B;"><strong>INDUSTRIE</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 393px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">VOUS VOYEZ LES CHOSES EN GRAND:</h1>
          <p style="margin-top: -39px;">Si les grandes machines de production industrielles vous fascinent et que vous rêvez de fabriquer une réplique de l'usine de Charlie et la chocolaterie, alors c'est par ici que ça se passe !</p>
          <p style="margin-top: -39px;">BAC+5 ou BAC+7, il vous faut un diplôme d'ingénieur généraliste, ou en mécanique, électronique, ou encore aéronautique en fonction du secteur d'activités qui vous fait rêver.</p>
          <p style="margin-top: -39px;"><a href="/etudes_ingenieur" style="color: pink; text-decoration: underline;">Voici la fiche ingénieur pour plus de détails</a></p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <span style="font-size: 11px;"><strong>Ingénieur génie industriel, <a href="/jobs/403">INGÉNIEUR DE RECHERCHE INDUSTRIELLE</a>, <a href="/jobs/257">INGÉNIEUR AÉRONAUTIQUE</a>, Ingénieur calcul, Ingénieur construction navale, <a href="/jobs/258">INGÉNIEUR DE PRODUCTION</a>, <a href="/jobs/268">INGÉNIEUR DE FABRICATION MÉCANIQUE</a>, <a href="/jobs/225">INGÉNIEUR EN SCIENCES DES MATÉRIAUX</a>, Ingénieur méthodes, Ingénieur R&D, <a href="/jobs/269">INGÉNIEUR LEAN</a>... </strong></span></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 557px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">BAC+2/3/5 LICENCE ET MASTER:</h1>
          <p style="margin-top: -39px;">En génie énergétique, génie des matériaux, mécanique, électronique ou électrotechnique, le choix de BTS est vaste : BTS fluides, énergies, domotique; BTS maintenance des systèmes, option systèmes énergétiques et fluidiques, BTS traitement des matériaux, BTS CRCI (conception et réalisation en chaudronnerie industrielle), BTS construction navale, BTS électrotechnique, BTS CPI (con­ception de produits industriels).</p>
          <p style="margin-top: -39px;">Un DUT est aussi envisageables : DUT GTE (génie thermique et énergie), DUT SGM (sciences et génie des matériaux), GMP (génie mécanique et productique) ou QLIO (qualité, logistique industrielle et organisation).</p>
          <p style="margin-top: -39px;">Les licences du secteur technologique comportent des mentions sciences pour l'ingénieur, sciences et technologies ou électronique, énergie électrique, automatique. Le plus avisé est de poursuivre en master, car l'aspect “touche-à-tout” de ces filières nécessite une spécialisation.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers après un BAC+2:</span> <span style="font-size: 11px;"><strong>technicien(ne) chargé(e) d'études, technicien(ne) de chantier en installations électriques, technicien(ne) de maintenance, <a href="/jobs/161">ÉLECTROMÉCANICIEN</a>, technicien(ne) d'essais, responsable de service après-vente, opérateur(trice) sur machine à commande numérique, concepteur(trice) dessinateur(trice) de produits mécaniques... </strong></span></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 438px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915500/university.jpg');">
          <h1 style="padding: 26px 10px;">RENTRER DANS LA VIE PROFESSIONNELLE AU PLUS VITE:</h1>
          <p style="margin-top: -39px;">Vous pouvez tout à fait vous arrêter après un bac professionnel et rentrer dans la vie active au plus vite. Gardez cependant en tête que 2 ans ce n'est pas si long et faire un BTS vous permettrait peut-être d'évoluer à la longue dans votre métier. Mais tout dépend de ce que vous recherchez évidemment.</p>
          <p style="margin-top: -39px;">Voici des exemples de bacs pro: aéronautique, aviation générale, maintenance des équipements industriels - MEI, pilote de ligne de production - PLP, productique mécanique option décolletage, technicien d'usinage, technicien modeleur ou encore technicien outilleur.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <span style="font-size: 11px;"><strong>Mécanicien d'entretien d'avions, <a href="/jobs/161">ÉLECTROMÉCANICIEN</a>, ajusteur-monteur, ascensoriste, technicien de maintenance, <a href="/jobs/274">CONDUCTEUR DE LIGNE DE PRODUCTION ALIMENTAIRE</a>, conducteur de machine à commandes numériques, technicien en traitement des matériaux, modeleur.... </strong></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>
