<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES EN <span style="color: #C3413B;"><strong>DROIT</strong></span>:</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 417px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px; background-color: rgba(0, 0, 0, 0.3);">VOUS VOYEZ LES CHOSES EN GRAND:</h1>
          <h1 style="padding: 26px 10px; background-color: rgba(0, 0, 0, 0.3); margin-top: -46px;
    font-size: 15px;">(BAC+5 / BAC+7)</h1>
          <p style="margin-top: -39px;">Si vous rêvez de plaidez la cause d'innocents et si l'injustice vous révolte alors c'est par ici. Peu importe le métier vers lequel vous voulez vous orienter, vous devez d'abord passer par une licence de droit, études plutôt généralistes faites pour vous faire découvrir le droit et ses spécialisations.</p>
          <p style="margin-top: -45px;">C'est en Master (2 ans) que vous commencerez à vous spécialiser. À la suite de ce master vous continuerez à vous spécialiser et devenir expert dans votre domaine en passant généralement un concours d'entrée pour des études complémentaires.</p>
          <p style="margin-top: -45px;">Par exemple: concours CRFPA pour devenir avocat, concours pour entrer en Ecole Nationale de Magistrature pour devenir Magistrat (ENM), l'examen d'entrée dans un centre de formation professionnelle notariale (CFPN)...</p>
          <p style="margin-top: -45px;">Accrochez-vous et allez jusqu'au bout, les métiers du Droit sont très exigeants mais passionnants.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Avocat, Magistrat, Chef d'établissement pénitentiaire, Notaire, Huissier de justice... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px; background-color: rgba(0, 0, 0, 0.5);">BAC+3 ET C'EST TOUT:</h1>
          <p style="margin-top: -39px;">Vous pouvez tout à fait faire des études de droit et vous arrêter au bout de 3 ans. Vous commencerez sûrement assistant ou considéré en tout cas en tant que junior, mais en même c'est normal vous commencerez. àtravailler à 21/22 ans.</p>
          <p style="margin-top: -45px;">Soyez persévérent et montrez que vous en voulez ! Vous grimperez plus vite que votre ombre et votre salaire vous récompesera de vos efforts.</p>
          <p class="card-jobs" style="margin-top: -26px;"><span style="font-size: 10px;">Exemples de métiers:</span> <span style="font-size: 11px;"><strong>Assistant ou chargé de ressources humaines, Assistant en cabinets spécialisés (juridiques, de recrutement, d’avocats); Assistant en droit social, Responsable paie, Collaborateur paie...</strong></span></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg');">
          <h1 style="padding: 26px 10px;">BAC+2 ET C'EST TOUT:</h1>
          <p>Si vous aimez le concret et rêvez de travailler le plus vite possible, vous pouvez opter pour un BTS.</p>
          <p>C'est une formation en 2 ans et vous pourrez tout à fait poursuivre vos études en faisant une license et un master par la suite. Cependant attention, si vous rêvez d'être avocat ou n'importe quel autre métier proposé dans la première rubrique, ce n'est pas possible avec uniquement 2 années d'études supérieures.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers après un BTS:</span> <span style="font-size: 11px;"><strong>collaborateur d’office notarial, assistant RH, secrétaire juridique, collaboratuer, conseiller clientèle... </strong></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg -->
<%= render '/shared/navigationbar' %>
