<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES EN <span style="color: #C3413B;"><strong>COMMUNICATION / JOURNALISME</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 519px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">VOUS VOYEZ LES CHOSES EN GRAND: BAC+3 / BAC+5</h1>
          <p style="margin-top: -39px;">JOURNALISME: Une petite quinzaine d'école sont spécialisées dans le journalisme et offre une formation en presse écrite, radio, télévision, web etc... Cependant notez bien que beaucoup de journalistes travaillent en indépendant, en « free-lance », ou à la pige. De plus en plus, ce professionnel doit être polyvalent : savoir enregistrer l'image et le son, tenir la caméra et le micro, rédiger, commenter et faire le montage.</p>
          <p style="margin-top: -39px;">COMMUNICATION: De nombreuses écoles spécialisées couvrent le domaine de la communication, accessibles directement après le bac ou après un bac+2/3, et sur concours. Elles dispensent un enseignement à la fois théorique et pratique. Si les matières commerciales ne vous font pas peur, ne négligez pas non plus les écoles de commerce qui proposent des spécialisations en marketing et qui peuvent vous ouvrir un éventail plus large de débouchés.</p>
          <p style="margin-top: -39px;"></p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Rédacteur en chef, <a href="/jobs/333">JOURNALISTE (radio, web, sportif, d'entreprise, multi-supports...)</a>, Reporter-photographe, directeur de radio, <a href="/jobs/315">ATTACHÉ / ATTACHÉE DE PRESSE</a>, <a href="/jobs/591">WEBDESIGNER</a>, <a href="/jobs/259">WEBMASTER</a>, <a href="/jobs/324">RESPONSABLE DE COMMUNICATION</a>, Directeur/trice de la photographie, <a href="/jobs/592">COMMUNITY MANAGER</a>, <a href="/jobs/319">CHARGÉ(E) DE RELATIONS PUBLIQUES</a>, <a href="/jobs/589">WEB EVANGELIST</a>... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 415px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">BAC+2 BTS/DUT:</h1>
          <p style="margin-top: -39px;">Si vous aimez le concret et rêvez de travailler le plus vite possible, vous pouvez opter pour un BTS. Il vous permettra de commencer à travailler après seulement 2 ans d'études.</p>
          <p style="margin-top: -39px;">COMMUNICATION: Pour devenir un futur pro de la com, il existe aussi quatre BTS ayant chacun son domaine de prédilection : le BTS Communication (ex- BTS Communication des entreprises), le BTS Communication visuelle, le BTS Design de communication, espace et volume (ex-BTS Expression visuelle option espaces de communication) et le BTS Communication.</p>
          <p style="margin-top: -39px;">Vous pourrez tout à fait poursuivre vos études après un BTS en licence pour vous soécialisation davantage dans la branche qui vous plaira.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Chargé de communication, <a href="/jobs/306">ASSISTANT / ASSISTANTE DE COMMUNICATION</a>, <a href="/jobs/46">ACHETEUR D'ESPACES PUBLICITAIRES</a>, <a href="/jobs/316">CONCEPTEUR RÉDACTEUR</a>, <a href="/jobs/329">GRAPHISTE ILLUSTRATEUR 2D/3D</a>, <a href="/jobs/101">ETALAGISTE - DÉCORATEUR(TRICE)</a>... </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>
