<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES EN <span style="color: #C3413B;"><strong>INFORMATIQUE / ELECTRONIQUE</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 449px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">VOUS VOYEZ LES CHOSES EN GRAND: BAC+5</h1>
          <p style="margin-top: -39px;">INFORMATIQUE: Vous avez le choix entre faire une école d'ingénieurs et vous spécialiser en informatique ou directement faire une école d'informatique. Les deux se valent, surtout avec la montée en puissance récente des écoles comme EPITECH ou 42. Tout dépendra de ce que vous recherchez, si vous préférez être accompagné, ou livré à vous-même, et si vous n'êtes pas sûr de vous pour l'informatique, favorisez une école d'ingénieur où l'enseignement est plus large et moins spécialisé.</p>
          <p style="margin-top: -39px;">ELECTRONIQUE: si vous rêvez de créer des robots intelligents ou de reproduire la machine de "Chérie j'ai rétréci les gosses" alors c'est par ici que ça se passe ! La formation Ingénieur (bac + 5) est indispensable pour ces métiers de l'électronique.</p>
          <p style="margin-top: -39px;"></p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers: </span> <strong><a href="/246">DÉVELOPPEUR WEB</a>, growth hacker, <a href="/jobs/229">BIONAUTE</a>, ingénieur en intelligence artificielle, ingénieur cloud computing, architecte de réseaux, <a href="/jobs/252">DÉVELOPPEUR DE JEUX VIDÉO</a>, ingénieur électronicien/ingénieure électronicienne, inventeur, <a href="/jobs/247">INTÉGRATEUR WEB</a>, <a href="/jobs/588">ERGONOME WEB</a>, <a href="/jobs/589">WEB EVANGELIST</a>, <a href="/jobs/591">WEB DESIGNER</a>, <a href="/jobs/259">WEBMASTER</a>.... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 439px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">BAC+2/BAC+3 BTS/DUT ET LICENCE:</h1>
          <p style="margin-top: -39px;">Si vous aimez le concret et rêvez de travailler le plus vite possible, vous pouvez opter pour un BTS. Il vous permettra de commencer à travailler après seulement 2 ans d'études.</p>
          <p style="margin-top: -39px;">Vous avez le choix: BTS SIO (Services informatiques aux organisations), BTS SN (Systèmes numériques), DUT GEII (Génie électrique et informatique industrielle), DUT informatique, DUT MMI (Métiers du multimédia et de l'internet), DUT R et T (Réseaux et télécommunications) ou encore un DUT STID (Statistiques et informatique décisionnelle).</p>
          <p style="margin-top: -39px;">Vous pourrez toujours compléter votre BTS ou DUT avec une licence et un master.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers: </span> <strong><a href="/jobs/249">TECHNICIEN DE MAINTENANCE INFORMATIQUE</a>, Technicien d’exploitation, technicien micro et réseaux, technicien systèmes et réseaux, technicien réseaux et télécoms, technicien support utilisateur,  technicien d'essais, technicien électronicien, automaticien, assistant ingénieur, administrateur web... </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>
