<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center;">FAIRE DES ETUDES EN <span style="color: #C3413B;"><strong>COMMERCE / GESTION</strong></span>:</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="margin-top: 25px; height: 431px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg');">
          <h1 style="padding: 26px 15px; background-color: rgba(0, 0, 0, 0.5);">ECOLE DE COMMERCE POST-BAC:</h1>
          <p style="margin-top: -39px;">L'école Post-Bac est une super alternative pour ceux qui ont de l'ambition et aiment le concret. Souvent en 4ans, vous intégrerez le programme post-bac d'une grande école de commerce.</p>
          <p style="margin-top: -45px;">Une école de commerce vous offre des études très générales qui vous ouvriront toutes les portes. Si vous n'êtes pas sûrs de ce que vous voulez faire plus tard, avec une école de commerce vous ne pouvez pas vous trompez. Attention le coût de certaines écoles peut être très élevé.</p>
          <p style="margin-top: -45px;">Le +: la vie étudiante, le réseau, les opportunités et vous pourrez tout à fait rejoindre le master d'une autre grande école de commerce si l'une d'entre elles vous fait rêver.</p>
          <p style="margin-top: -45px;">Le -: si vous visez le prestige ou la très grande HEC, la case prépa est obligatoire.</p>
          <p class="card-jobs" style="margin-top: -27px;"><span style="font-size: 10px;">Exemples de métiers après une école de commerce:</span style="font-size: 11px;"> <strong>Auditeur, Acheteur, Business Developer, Entrepreneur, Ingénieur commercial, Contrôleur de gestion, Responsable export, Responsable Ressources Humaines...</strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 369px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px; background-color: rgba(0, 0, 0, 0.4);">PREPA + ECOLE DE COMMERCE:</h1>
          <p>La prépa, encore appelée "classe préparatoire aux grandes écoles", est un cursus de deux ans qui vous permet d'accéder aux grandes écoles de commerce pour un cursus en 3 ans (+1 an de césure). Préparez-vous, le rythme en prépa est soutenu.</p>
          <p style="margin-top: -39px;">Alors comment choisir entre école de commerce post-bac et prépa+école de commerce? La différence majeure est le prestige associé aux études prépa + grande école. Cependant vous sentirez réellement une différence dans le salaire de départ et la facilité à trouver un emploi si vous faites: prépa HEC + HEC. Là, absoluement toutes les portes vous seront ouvertes.</p>
          <p class="card-jobs" style="margin-top: -27px;"><span style="font-size: 10px;">Exemples de métiers après une école de commerce:</span style="font-size: 11px;"> <strong>Auditeur, Acheteur, Business Developer, Entrepreneur, Ingénieur commercial, Contrôleur de gestion, Responsable export, Responsable Ressources Humaines...</strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 389px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg');">
          <h1 style="padding: 26px 15px; background-color: rgba(0, 0, 0, 0.4);">BTS / DUT <span style="font-size: 15px"><em>(Possibilité de faire une licence et un master)</em></span>:</h1>
          <p style="margin-top: -39px;">Si vous aimez le concret et rêvez de travailler le plus vite possible, vous pouvez opter pour un BTS. Il vous permettra de commencer à travailler après seulement 2 ans d'études.</p>
          <p style="margin-top: -39px;">Vous pouvez tout à fait continuer vos études et faire une licence et un master si vous souhaitez devenir manager et gagner en responsabilités.</p>
          <p style="margin-top: -39px;">Pour être franc: le BTS vous permettra de travailler le plus rapidement possible. Cependant vous allez devoir être patients et faire vos preuves pour évoluer dans votre entreprise vers des postes à responsabilités. De même pour votre salaire. Si vous êtes très ambitieux et visez haut, le master est dans la majorité des cas indispensable. </p>
          <p class="card-jobs" style="margin-top: -29px;"><span style="font-size: 10px;">Avec un BTS MUC / NRC / PI / TC... vous pouvez devenir:</span style="font-size: 11px;"> <strong>commercial, téléconseiller, agent immobilier, chargé de clientèle, chasseur immobilier... </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg -->
<%= render '/shared/navigationbar' %>
