<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES EN <span style="color: #C3413B;"><strong>ARTS / DESIGN</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 1966px;" >
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1532237868/inge.jpg');">
          <h1 style="padding: 26px 10px;">CONCILIER CREATIVITE ET SALAIRE:</h1>
          <p style="margin-top: -19px;"><span style="font-size: 14px;"><strong><a href="/jobs/102" style="color: white;">ARCHITECTE</a> et <a href="/jobs/95" style="color: white;"> ARCHITECTE D'INTERIEUR</a>:</strong></span> BAC+5 dans une des 20 Ensa (Écoles nationales supérieures d'architecture) de France. L'admission se fait sur examen du dossier, complété par un entretien et éventuellement par des tests. Les bacheliers S sont les plus nombreux parmi les étudiants, mais les écoles accueillent aussi des ES, L ainsi que des titulaires des bacs technologiques STI2D et STD2A, et des bacheliers professionnels dans une spécialité du domaine du bâtiment. Les candidatures se font via la plateforme Parcoursup. Vous pouvez également prolonger de deux ans et avoir la double spécialisation: Architecte/Ingénieur. <a href="/jobs/102" style="color: blue; text-decoration: underline;">Voir fiche métier architecte</a>  <a href="/jobs/95" style="color: pink; text-decoration: underline;">Voir fiche métier architecte d'intérieur</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/252" style="color: white;"> GAME DESIGNER / CONCEPTEUR DE JEUX VIDEO:</a></strong></span> BAC+3 minimum, le plus souvent BAC+5/6. Pour ceux qui souhaitteraient d'arrêter à bac + 3, vous pouvez faire une licence professionnelle avec une spécialisation en jeu vidéo ; et pour les BAC +5 ans, visez un cursus spécialisé en école (Ensad, Beaux-arts, Supinfogame, Gobelins...), un diplôme d'ingénieur spécialité image, multimédia, audiovisuel et communication; ou un master, par exemple, audiovisuel, médias intéractifs numériques, jeux; ou même un Mastère spé. Interactive Digital Experiences (CNAM) jeu vidéo (BAC+6). <a href="/jobs/252" style="color: pink; text-decoration: underline;">Voir fiche métier game designer</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/595" style="color: white;"> UX/UI DESIGNER:</a></strong></span> C'est un nouveau métier et il n'exige pas une école et des études précises en particulier. Vous pouvez tout à fait exercer ce métier avec un BAC+2 ou un BAC+6. Tout se jouera sur votre expérience terrain et vos capacité à comprendre à la fois les attentes de l'entreprise et de ses clients. C'est un métier qui demande de la rigueur, BEAUCOUP de créativité et de curiosité car c'est un métier qui évolue très vite, avec le marché. <a href="/jobs/595" style="color: pink; text-decoration: underline;">Voir fiche métier UX/UI DESIGNER</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>MOTION DESIGNER:</strong></span> BAC+2 minimum. En règle générale, les entreprises recrutent des diplômés d'écoles d'art appliqués ou des titulaires de BTS ou de DUT en informatique ayant suivi une formation complémentaire en design graphique.</p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/329" style="color: white;">GRAPHISTE:</a></strong></span> Après avoir obtenu un bac arts appliqués, un bac scientifique ou technologique (informatique), le futur graphiste doit au minimum décrocher un diplôme de niveau bac + 2. En règle générale, les entreprises recrutent des diplômés d'écoles d'art appliqués ou des titulaires de BTS ou de DUT en informatique ayant suivi une formation complémentaire en design graphique. <a href="/jobs/329" style="color: pink; text-decoration: underline;">Voir fiche métier GRAPHISTE</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/551" style="color: white;"> CHEF CUISINIER:</a></strong></span> 3 possibilités: CAP cuisine, ouvert aux élèves de niveau 3e. Il mène au statut de commis de cuisine, soit en bas de l'échelle. C'est le diplôme de base pour entrer dans une cuisine. Bac pro restauration, ouvert aux élèves de seconde. Lorsqu'il est complété par l'option organisation et production culinaire, il permet d'accéder directement aux postes de premier commis, de second de cuisine ou, plus rarement, de chef de partie. BTS hôtellerie option arts de la table et du service. <a href="/jobs/551" style="color: pink; text-decoration: underline;">Voir fiche métier CHEF CUISINIER</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/368" style="color: white;">MARKETING MANAGER:</strong></span> Souvent de formation école de commerce, de communication ou d'ingénieurs, on accède au poste de Directeur Marketing après plusieurs années d'expérience. <a href="/jobs/368" style="color: pink; text-decoration: underline;">Voir fiche métier DIRECTEUR MARKETING</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/240" style="color: white;">SPECIALISTE DU SON:</strong></span> Les formations vont de BAC+2 (BTS) pour être technicien du son à BAC+6 (école privée) pour être régisseur général, directeur technique, ingénieur du son.<a href="/jobs/240" style="color: pink; text-decoration: underline;">Voir fiche métier SPECIALISTE DU SON</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/336" style="color: white;">DIRECTEUR ARTISTIQUE:</a></strong></span> Il n'existe pas de conditions strictement définies pour exercer cette activité. Une formation en art/stylisme/design... est cependant fortement recommandé. Tout se jouera sur le talent, les contacts, l'expérience et votre capacité à sortir du lot et vous faire remarquer.<a href="/jobs/336" style="color: pink; text-decoration: underline;">Voir fiche métier DIRECTEUR ARTISTIQUE</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/169" style="color: white;">STYLISTE:</a></strong></span> 2 ans pour préparer le BTS design de mode, textile et environnement, éventuellement complété par le DSAA design, mention mode (2 ans) ; 3 ans pour le DN MADE mention mode ; 5 ans pour le diplôme de l'Ensad, section vêtement ; 2 à 5 ans pour un diplôme d'école de stylisme.<a href="/jobs/169" style="color: pink; text-decoration: underline;">Voir fiche métier STYLISTE</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>COMPOSITEUR:</strong></span> Diplômes des conservatoires de musique, diplôme de formation supérieure de musique du conservatoire de Paris.</p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/299" style="color: white;">ILLUSTRATEUR:</a></strong></span> Beaucoup d’illustrateurs sont autodidactes, mais il est conseillé de suivre une formation artistique et/ou graphique.<a href="/jobs/299" style="color: pink; text-decoration: underline;">Voir fiche métier ILLUSTRATEUR</a></p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong>EBENISTE:</strong></span> 2 ans pour obtenir le DMA arts de l'habitat, option décors et mobiliers ou restauration de mobilier ou 3 ans pour le DN MADE mention objet.</p>
          <p style="margin-top: -39px;"><span style="font-size: 14px;"><strong><a href="/jobs/349" style="color: white;">MERCHANDISEUR:</a></strong></span> Plusieurs possibilités pour arriver à faire ce métier: BTS, licence et Master et même école de commerce. Vous pouvez vous arrêter à BAC+2 et monter doucement au sein d'une marque et aller plus loin dans les études et commencer directement en merchandiseur. Le + pour ce métier: être créatif évidemment, mais surtout être innovant et comprendre à la fois les clients et les enjeux commerciaux.<a href="/jobs/349" style="color: pink; text-decoration: underline;">Voir fiche métier MERCHANDISEUR</a></p>
          <p style="margin-top: -39px;">...</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 291px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1532272145/happy.jpg');">
          <h1 style="padding: 26px 10px;">SUIVRE SA PASSION:</h1>
          <p style="margin-top: -39px;">Vous n'êtes pas obligé de choisir parmi les métiers au-dessus, si vous rêvez d'être maquilleur de star, écrivain, chanteur, peintre, photographe, sculpteur... allez-y foncez !</p>
          <p style="margin-top: -39px;">Prenez simplement en compte que ces métiers peuvent vous rendre très connu et plus riche que riche, mais peuvent aussi ne rien vous apporter et vous condamner à une situation très précaire.</p>
          <p style="margin-top: -39px;">Si vous avez l'opportunité de tenter l'expérience et que vous y croyez à fond, alors n'attendez plus, foncez réaliser votre rêve !!</p>
          <p style="margin-top: -39px;"><a href="/temoignage4" style="color: pink; text-decoration: underline;">Ce témoignage vous emballera sûrement !😉</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>
