<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES DANS LA <span style="color: #C3413B;"><strong>BANQUE / ASSURANCE</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 550px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">VOUS VOYEZ LES CHOSES EN GRAND:</h1>
          <p style="margin-top: -39px;">BAC+5 ECOLE PRIVEE: vous pouvez tout à fait faire une école de commerce et prendre la spécialisation finance. Elles sont accessibles après le bac ou après une classe préparatoire. Vous pouvez également opter pour une école spécialisée Banque ou Assurance, à vous de voir celle qui vous convient le mieux: prix, localisation, programme etc... Notre conseil: une école de commerce vous permet de ne pas trop vous spécialiser en cas de réorientation et peut-être vous ouvrir à d'autres horizons.</p>
          <p style="margin-top: -39px;">BAC+5 UNIVERSITE LICENCE + MASTER: vous pouvez choisir de suivre une licence en économie-gestion, en AES, en droit ou encore la filière MIAGE. Après cette licence, vous pourrez accéder au niveau Master et ainsi vous professionnaliser en deux ans.</p>
          <p style="margin-top: -39px;">Dans tous les cas si vous rêvez d'être un(e) expert des chiffres, des stratégies financières, gérer des équipes et faire beaucoup d'argent il vous faut au moins un BAC+5 spécialisation finance. Les métiers de responsables en banque et assurance sont des métiers très prenants et pour certains stressants, mais rien de plus passionnant que de maîtriser et connaître les dessous de notre système financier, pas vrai? Allez GO GO GO, vous êtes au top!</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong><a href="/jobs/115">TRADER</a>, <a href="/jobs/125">GESTIONNAIRE DE PATRIMOINE</a>, <a href="/jobs/114">DIRECTEUR(TRICE) FINANCIER(IERE)</a>, gérant de portefeuille, analyste de crédit, <a href="/jobs/57">ANALYSTE FINANCIER</a>, <a href="/jobs/381">CHEF DE PRODUIT</a>, <a href="/jobs/49">ACTUAIRE</a>... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 455px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">BAC+2/3 BTS/DUT ET LICENCE:</h1>
          <p style="margin-top: -39px;">Le BTS Assurance et le le BTS Banque ont toujours la cote auprès des employeurs. Vous pouvez donc vous lancer dans ces formations sans craindre le manque de débouchés. Elles mènent généralement vers les postes de chargés de clientèle ou de commerciaux.</p>
          <p style="margin-top: -39px;">Vous pouvez aussi passer par d’autres spécialités comme le BTS Commerce international, le BTS Comptabilité et gestion des organisations, le BTS Management des unités commerciales ou encore le BTS Négociation et relation client. </p>
          <p style="margin-top: -39px;">Du côté des IUT, vous trouverez des formations adaptées bien que plus généralistes que les BTS, comme le DUT Carrières juridiques, le DUT Gestion des entreprises et des administrations (GEA)ou encore le DUT Techniques de commercialisation.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong><a href="/jobs/366">COMMERCIAL</a>, <a href="/jobs/146">CHARGÉ / CHARGÉE DE CLIENTÈLE BANCAIRE</a>, conseillers en ligne, <a href="/jobs/87">AGENT GÉNÉRAL D'ASSURANCES</a>, <a href="/jobs/109">COURTIER EN ASSURANCES</a>, conseillers en agence, souscripteur, conseiller, gestionnaire, <a href="/jobs/118">RÉDACTEUR EN ASSURANCES</a>, collaborateur d’agence ou technicien d’assurance... </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>
