<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES DANS LE <span style="color: #C3413B;"><strong>SOCIAL / PSYCHOLOGIE</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 791px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">CARRIERE DANS LE SOCIAL:</h1>
          <p style="margin-top: -39px;">Si vous rêvez de vous sentir utile en aidant les autres, alors c'esr par ici que ça se passe.</p>
          <p style="margin-top: -39px;">Si vous rêvez de devenir éducateur de jeunes enfants vous devez passer un diplôme d'Etat en trois ans appelé DEEJE (diplôme d'État d'éducateur de jeunes enfants), même chose pour éducateur spécialisé: DEES (diplôme d'État d'éducateur spécialisé) en 3 ans également.</p>
          <p style="margin-top: -39px;">Pour devenir conseiller en économie sociale et familiale c'est un autre diplôme d'Etat appelé DECESF en 1 an à faire après un BTS ESF (économie sociale et familiale) ou un DUT carrières sociales. D'autres diplômes d'Etat sont souvent demandés comme le DEASS (diplôme d'État d'assistant du service social) par exemple.</p>
          <p style="margin-top: -39px;">Il n'y a pas que les diplômes d'Etat vous pouvez également faire un DEUST médiations citoyennes, un DEUST intervention sociale, un DEUST travail social, métiers de l'aménagement et des activités sociales, économie sociale et solidaire; ou encore un DUT carrières sociales (5 options: animation sociale et socioculturelle, assistance sociale, éducation spécialisée, gestion urbaine ou services à la personne).</p>
          <p style="margin-top: -39px;">Vous pouvez aussi intégrer la formation d'éducateur de la protection judiciaire de la jeunesse (en 2 ans) ou faire des études pour devenir conseiller pénitentiaire d'insertion et de probation (en 2 ans également).</p>
          <p style="margin-top: -39px;"><strong>Bref, comme vous pouvez le voir le choix est large dans les social. Si vous ne savez pas quelles études faire, posez-vous une seule question: pourquoi je veux travailler dans le social ? Qui je veux aider ? Vous avez certainement une préférence, et bien voilà vous avez trouvé vos études.</strong></p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Animateur(trice) socioculturel(le), Assistant(e) de service social, Conseiller(ère) en économie sociale et familiale, Conseiller(ère) pénitentiaire d’insertion et de probation, Directeur(trice) de structure sociale, Éducateur(trice) de jeunes enfants, Éducateur(trice) de la protection judiciaire de la jeunesse, Éducateur(trice) spécialisé(e), Éducateur(trice) technique spécialisé(e)... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 710px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">FAIRE DES ETUDES DE PSYCHOLOGIE:</h1>
          <p style="margin-top: -39px;">Pour obtenir le titre de psychologue, un master (bac+5) est nécessaire.</p>
          <p style="margin-top: -39px;">La psychologie clinique permet d'exercer à l'hôpital, en maison de retraite ou auprès d'enfants.</p>
          <p style="margin-top: -39px;">La psychologie sociale ouvre, par exemple, sur des carrières dans les services de ressources humaines des entreprises et dans l'accompagnement des salariés.</p>
          <p style="margin-top: -39px;">C'est à partir de la troisième année que vous commencerez à vous spécialiser: psychologie clinique et pathologique (maladies mentales, troubles du comportement et leurs thérapies), psychologie cognitive (fonctionnement de l'intelligence, de la mémoire, du langage), psychologie sociale et psychologie du développement.</p>
          <p style="margin-top: -39px;">La psychologie peut également mener aux métiers paramédicaux (infirmier en psychiatrie, puériculteur, psychomotricien, orthophoniste, ergothérapeute…), sociaux (assistant de service social, éducateur spécialisé, éducateur de jeunes enfants…) et de l'orientation (psychologue de l'Éducation nationale).</p>
          <p class="card-jobs" style="margin-top: -26px; bottom: 181px;"><span style="font-size: 10px;">Exemples de métiers de psychologues<strong><span style="color: #C3413B;"> généralistes:</span></strong></span> <span style="font-size: 11px;"><strong>coach, psychologue clinicien, psychologue en libéral, psychologue en milieu judiciaire, psychanalyste, psychiatre.</strong></span></p>
          <p class="card-jobs" style="margin-top: -26px; bottom: 91px;"><span style="font-size: 10px;">Exemples de métiers de psychologues <strong><span style="color: #C3413B;">dans le monde professionnel</span></strong>:</span> <span style="font-size: 11px;"><strong>psychologue du travail, chargé de bilan de compétences, conseiller professionnel, graphologue, formateur, psychosociologue.</strong></span></p>
          <p class="card-jobs" style="margin-top: -26px;"><span style="font-size: 10px;">Exemples de métiers de psychologues <strong><span style="color: #C3413B;">qui travaillent avec les enfants</span></strong>:</span> <span style="font-size: 11px;"><strong>conseiller d’orientation psychologue, psychologue de l’aide sociale à l’enfance (ASE), psychologue scolaire, conseiller conjugal et familial.</strong></span></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 263px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg');">
          <h1 style="padding: 26px 10px;">CONNAISSEZ-VOUS?</h1>
          <p style="margin-top: -39px;"><strong>Les missions humanitaires ?</strong></p>
          <p style="margin-top: -39px;">Si vous aimez aider les autres alors n'attendez plus et allez vous confronter directement aux réalités, parfois difficiles, de ces métiers.</p>
          <p style="margin-top: -39px;"> Faites une mission humanitaire à l'étranger (avec project-abroad par exemple) ou en France (croix rouge, secours populaire, restos du coeur) pendant vos vacances scolaires. <strong>C'est le meilleur moyen de vous construire un CV en béton et SURTOUT de confirmer ou non votre envie de vous diriger dans cette voie d'études supérieures.</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg -->
<%= render '/shared/navigationbar' %>
