<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES EN <span style="color: #C3413B;"><strong>BÂTIMENT ET TRAVAUX PUBLICS</strong></span>:</p>
<div class="container">
<!--
<div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 287px;" >
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">VOUS VOYEZ LES CHOSES EN GRAND:</h1>
          <p style="margin-top: -39px;">Si vous rêvez de concevoir des ponts, des barrages, des bâtiments, des routes... c'est par ici que ça se passe !</p>
          <p style="margin-top: -39px;">Même si vous allez travailler en équipe, c'est à vous de prendre les décisions et donc assumer les responsabilités des gros chantiers. C'est un métier qui demande beaucoup de rigueur mais qui est absolument passionant ! Votre quotidien: transformer et bâtir les grandes pièces d'une ville. Génial non ?</p>
          <p style="margin-top: -39px;">Pour les études c'est BAC+5 minimum en école d'ingénieur avec une spécialité du secteur du BTP.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Ingénieur en bâtiment, Chef de projet, Direction de chantier... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 336px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">BAC+2/3/5 LICENCE ET MASTER:</h1>
          <p style="margin-top: -39px;">Ces dernières années, les licences professionnelles dans le secteur du BTP se sont multipliées, il en existe aujourd’hui plus d’une centaine, quasiment toutes proposées en alternance, qui complètent les formations courtes et sont bien appréciées de la profession.</p>
          <p style="margin-top: -39px;">Leurs domaines sont variés, allant de la licence professionnelle métiers du BTP génie civil et construction à la licence professionnelle domotique, en passant par les licences professionnelles métiers du BTP performance énergétique et environnementale des bâtiments ou encore agencement.</p>
          <p style="margin-top: -39px;">Il existe moins d'une vingtaine de licences générales à l’université : les licences génie civil ou sciences pour l’ingénieur parcours génie civil. Il est ensuite possible de poursuivre en master ou d’intégrer une école d’ingénieurs, afin de s’orienter vers des fonctions d’études techniques ou de conduite de travaux.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Chef de chantier, conducteur de travaux, chef d'équipe BTP... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 236px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg');">
          <h1 style="padding: 26px 10px;">RENTRER DANS LA VIE PROFESSIONNELLE AU PLUS VITE:</h1>
          <p style="margin-top: -39px;">Nombreux sont les métiers dans ce secteur où il n'y a pas besoin de faire de longues études. Ce qui est logique car ce sont des métiers de terrain qui s'apprennent sur le tas.</p>
          <p style="margin-top: -39px;">Vous avez le choix dans les formations: CAP maçon, CAP constructeur en béton armé du bâtiment, CAP couvreur, CAP étancheur du bâtiment et des travaux publics, CAP peintre-applicateur de revêtements...</p>
          <p style="margin-top: -39px;"></p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Maçon, couvreur, peintre en bâtiment... </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915500/university.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915533/dut.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915510/cpge.jpg -->
<!-- http://res.cloudinary.com/dozkmkl7p/image/upload/v1529915522/gepb.jpg -->
<%= render '/shared/navigationbar' %>
