<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<p class="title-network" style="font-size: 20px; margin-top: 0; text-align: center; margin-bottom: 20px;">FAIRE DES ETUDES EN <span style="color: #C3413B;"><strong>TOURISME / HÔTELLERIE</strong></span>:</p>
<div class="container">

<!-- <div>
  <h1 class="agenda">INFOS A VENIR</h1>
</div> -->

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 493px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915510/cpge.jpg');">
          <h1 style="padding: 26px 10px;">VOUS VOYEZ LES CHOSES EN GRAND: BAC+3 / BAC+5</h1>
          <p style="margin-top: -39px;">Certaines écoles proposent des formations en management dans l’hôtellerie-restauration (les plus connues: l’École supérieure internationale de Savignac (CCI de la ­Dordogne), le groupe Vatel à Bordeaux et Lyon, l'Institut Paul-Bocuse à Écully (69), l'École Ferrandi, l’École internationale Tunon, l’Institut de conciergerie internationale, l’École Ferrières ou encore en Suisse l’École hôtelière de Lausanne).</p>
          <p style="margin-top: -39px;">D'autres écoles proposent des certificats de qualification professionnelle (CQP), c'est une formation en alternance avec plusieurs spécialités : barman, maître d’hôtel, pizzaïolo…</p>
          <p style="margin-top: -39px;">Vous pouvez également faire un master après une licence. Une quinzaine de masters sont accessibles bien souvent après un cursus en économie-gestion, et plus rarement après une licence sciences humaines et sociales ou LEA. Ils permettent de se former à des postes d'encadrement et d'aborder la gestion des activités touristiques ou le management hôtelier.</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong><a href="/jobs/578">GÉRANT(E) D'HÔTEL</a>, <a href="/jobs/383">CHEF DE PRODUITS VOYAGES</a>, directeur d'office de tourisme, <a href="/jobs/347">WEDDING PLANNER</a>, directeur achat/marketing/commercial/d'exploitation, directeur d'études et projets, directeur d'agence... </strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study" style="height: 345px;">
        <div class ="card-study-formation" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 0%), url('http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1529915533/dut.jpg');">
          <h1 style="padding: 26px 10px;">BAC+2 BTS/DUT:</h1>
          <p style="margin-top: -39px;">Si vous aimez le concret et rêvez de travailler le plus vite possible, vous pouvez opter pour un BTS. Il vous permettra de commencer à travailler après seulement 2 ans d'études.</p>
          <p style="margin-top: -39px;">Plusieurs BTS s'offrent à vous: BTS hôtellerie-restauration, option art culinaire, art de la table et du service; BTS hôtellerie-restauration, option mercatique et gestion hôtelière; BTS responsable de l'hébergement à référentiel commun européen; BTS tourisme; BTS transport et prestations logistiques...</p>
          <p class="card-jobs"><span style="font-size: 10px;">Exemples de métiers:</span> <strong>Chef de partie, chargé(e) de relation clientèle, réceptionniste, conseiller de vente en agence, chargé d’informations en office de tourisme, responsable du personnel, <a href="/jobs/551">CUISINIER / CUISINIÈRE</a>, chef de cuisine (après plusieurs années d'expérience), gestionnaires des stocks et des équipements.... </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>
