<div class="navbar-up">

    <% if user_signed_in? %>
      <div class="navbar-up-item">
        <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
        <a type="student-btn" href="/infos" class="btn btn-primary next-step-btn-xtrasmall">Etape 3: infos <i class="fas fa-arrow-right arrow-next-step"></i></a>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-up-item navbar-up-link" %>
    <% end %>
</div>
<div class="navbar-onglet">
      <div class="navbar-onglet-item row">
        <a class="col-xs-4 col-xs-offset-2 col-md-3 col-md-offset-3" href="/chooseajob">Métiers</a>
        <a class="col-xs-4 col-md-3 active" href="chooseastudy">Etudes</a>
      </div>
</div>
<!-- 2.2. Afficher ces boutons pour Etudes -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study1">
          <h1>L'UNIVERSITE</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>à faire</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study2">
          <h1>CLASSE PREPARATOIRE AUX GRANDES ECOLES</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>à faire</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study3">
          <h1>GRANDES ECOLES POST-BAC</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>à faire</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study">
        <div class ="card-study4">
          <h1>DUT, BTS, etc...</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>à faire</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
