<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/infos" class="btn btn-primary next-step-btn-xtrasmall">Etape 3: infos <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="navbar-onglet">
      <div class="navbar-onglet-item row">
        <a class="col-xs-4 col-xs-offset-2 col-md-3 col-md-offset-3" href="/chooseajob">Métiers</a>
        <a class="col-xs-4 col-md-3 active" href="chooseastudy">Etudes</a>
      </div>
</div>
<!-- 2.2. Afficher ces boutons pour Etudes -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study1">
          <a href="/etudes_medical_et_paramedical"><h1>FAIRE DES ETUDES DANS LE MEDICAL / PARAMEDICAL</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study2">
          <a href="/etudes_commerce_et_gestion"><h1>FAIRE DES ETUDES EN COMMERCE / GESTION</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study3">
          <a href="/etudes_droit"><h1>FAIRE DES ETUDES EN DROIT</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study4">
          <a href="/etudes_ingenieur"><h1>FAIRE DES ETUDES D'INGENIEURS</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study5">
          <a href="/etudes_communication_et_journalisme"><h1>FAIRE DES ETUDES EN COMMUNICATION / JOURNALISME</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study6">
          <a href="/etudes_banque_et_assurance"><h1>FAIRE DES ETUDES DANS LA BANQUE / ASSURANCE</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study7">
          <a href="/etudes_tourisme_hotellerie_et_restauration"><h1>FAIRE DES ETUDES EN TOURISME / HÔTELLERIE / RESTAURATION</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study8">
          <a href="/etudes_informatique_et_electronique"><h1>FAIRE DES ETUDES EN INFORMATIQUE / ELECTRONIQUE</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study9">
          <a href="/etudes_social_et_psychologie"><h1>FAIRE DES ETUDES DANS LE SOCIAL / PSYCHOLOGIE</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study10">
          <a href="/etudes_arts_et_design"><h1>FAIRE DES ETUDES EN ARTS ET DESIGN</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study11">
          <a href="/etudes_specialisees"><h1>FAIRE DES ETUDES SPECIALISEES</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study12">
          <a href="/etudes_environnement"><h1>FAIRE DES ETUDES DANS L'ENVIRONNEMENT</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study13">
          <a href="/etudes_industrie"><h1>FAIRE DES ETUDES DANS L'INDUSTRIE</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study14">
          <a href="/batiment_et_travaux_publics"><h1>FAIRE DES ETUDES EN BATIMENT / TRAVAUX PUBLICS</h1></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-study-home">
        <div class ="card-study15">
          <a href="/autres_etudes"><h1>AUTRES ETUDES</h1></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>
