// Specific CSS for your home-page
.home {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  color: white;
}
.banner {
  position: relative;
  top: -310px;
  h1 {
    color: white;
    margin: 0;
    font-size: 32px;
    text-align: center;
    padding-top: 117px;
    z-index: 10;
  }
}
#banner-typed-text {
  font-size: 40px;
  color: white;
  box-shadow: inset 0px -18px $red;
  z-index: 10;
}
.typed-cursor {
  display: none;
}
.content {
  z-index: 10;
}
#app-content {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
}
#students-content{
  height: 100vh;
  width: 100vw;
  padding: 21px;
  overflow: scroll;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.logo {
  width: 85px;
}
.logo-row {
  text-align: center;
  position: relative;
  top: -290px;
}
// .gradient {
//   position: absolute;
//   top: 0;
//   background-image: radial-gradient( circle at 40% 60%, rgba(0, 0, 0, 0.5), rgba(11, 39, 65, 0.001) 150%, rgba(0, 0, 0, 0.01));
//   width: 100%;
//   height: calc(100vh - 300px);
//   min-height: 300px;
//   z-index: 2;
// }

video {
  z-index: -1;
  width: 100%;
  min-height: 40%;
  object-fit: cover;
}

// .container-video {
//   overflow: scroll;
// }
.youtube {
  width: 95%;
  margin: 3% 2%;
  min-height: 320px;
  position: relative;
  top: -290px;
}
.line {
  font-size: 16px;
  color: #333333;
  text-align: center;
}
.subtitle {
  font-size: 10px;
  color: #333333;
  text-align: center;
  position: relative;
  top: -290px;
}
.small-container-home {
  position: relative;
  top: -290px;
}
.arrow-home {
  position: absolute;
  font-size: 34px;
  transform: rotate(35deg);
  color: #333333;
}
.littlesubtitle {
  font-size: 14px;
  position: absolute;
  left: 41px;
  color: #333333;
  top: 10px;
  width: 100%;
}
.punchline {
  font-size: 15px;
  top: 45px;
  position: absolute;
  left: 83%;
  color: #333333;
  transform: rotate(-27deg);
}
