// Specific CSS for your home-page
.home {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  color: white;
}

#banner-typed-text {
  font-size: 40px;
  color: white;
  box-shadow: inset 0px -18px $red;
}
.typed-cursor {
  display: none;
}
.content {
  z-index: 10;
}

#app-content {
  height: calc(100vh - 140px);
  overflow: scroll;
}
