.container {
  margin-bottom: 80px;
}
.row-homepage {
  width: 100%;
}
a:hover {
  text-decoration: none;
}
.card-homepage {
  box-shadow: 1px 1px 1px 1px rgba(170, 170, 170,0.2),1px 1px 1px 1px rgba(170, 170, 170,0.2);
  padding: 0;
  border-radius: 5px;
  height: 105px;
  margin-top: 1em;
  padding: 0.5em  1.5em;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  width: 112%;
  position: relative;
  background-color: #fcfcfc;
  &:hover{
    box-shadow: 1px 1px 1px 1px rgba(170, 170, 170,0.6),1px 1px 1px 1px rgba(170, 170, 170,0.6);
  }
  p {
    font-size: 12px;
    color: #333333;
    margin-top: 0px;
    font-style: italic;
  }
  h3 {
    font-size: 15px;
    padding-left: 9%;
    margin: 0;
    text-align: center;
    color: $grey;
    margin-top: 16px;
  }
}
.cards-homepage {
  margin-bottom: 100px;
}

.fa-angle-right {
  position: absolute;
  right: 1.5%;
  font-size: 50px;
  top: 24%;
}

.em-heart {
  margin-left: 2px;
}
.em-thinking_face {
  margin-left: 1px;
}
.em-call_me_hand {
  margin-left: 5px;
}
.em-boom {
  margin-left: 2px;
}
.em-earth_americas {
  margin-left: 5px;
}
.em-muscle {
  margin-left: 2px;
}
.likes-emoji {
  position: absolute;
  top: 32px;
  left: 25px;
  font-size: 1.15em;
}
