// Specific CSS for your home-page
.home {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  color: white;
}
#banner-typed-text {
  font-size: 40px;
  color: white;
  box-shadow: inset 0px -18px $red;
  z-index: 10;
}
.typed-cursor {
  display: none;
}
.content {
  z-index: 10;
}
#app-content {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
}
#students-content{
  height: 100vh;
  width: 100vw;
  padding: 21px;
  overflow: scroll;
}
.wrapper {
  width: 100%;
  position: relative;
}
.logo {
  background-size: 65px;
  width: 159px;
  position: absolute;
  top: 106%;
  left: 40%;
}
// .gradient {
//   position: absolute;
//   top: 0;
//   background-image: radial-gradient( circle at 40% 60%, rgba(0, 0, 0, 0.5), rgba(11, 39, 65, 0.001) 150%, rgba(0, 0, 0, 0.01));
//   width: 100%;
//   height: calc(100vh - 300px);
//   min-height: 300px;
//   z-index: 2;
// }

video {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: calc(100vh - 300px);
  min-height: 300px;
  max-height: 200px;
  object-fit: cover;
}

.container-video {
  overflow: scroll;
}
.youtube {
  position: absolute;
  top: 150px;
  width: 180%;
}
.line {
  font-size: 16px;
  top: 68px;
  position: absolute;
  color: #333333;
}
.subtitle {
  font-size: 8px;
  left: 8px;
  top: 120px;
  position: absolute;
  color: #333333;
}
.img-schema {
  width: 57%;
  position: absolute;
  top: 413px;
  right: -148px;
}
.fa-arrow-right {
  position: absolute;
  top: 319px;
  font-size: 34px;
  transform: rotate(35deg);
  color: #333333;
}
.littlesubtitle {
  font-size: 14px;
  top: 332px;
  position: absolute;
  left: 52px;
  color: #333333;
}
.punchline {
  font-size: 15px;
  top: 365px;
  position: absolute;
  left: 83%;
  color: #333333;
  transform: rotate(-27deg);
}






.menu {
  padding: 0;
  margin: 0;
}

.menu li {
  margin:0px;
  list-style:none;
}
.menu a {
  transition:all linear 0.15s;
  color:#919191;
}
.menu li:hover > a, .menu .current-item > a {
  text-decoration:none;
  color:#be5b70;
}

/*----- Top Level -----*/
.menu > ul > li {
  float:left;
  display:inline-block;
  position:relative;
  font-size:19px;
}
.menu > ul > li > a {
  padding-right: 10px;
  display:inline-block;
  text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
  z-index:1;
  opacity:1;
  margin-bottom: 0;
  margin-left: -121px !important;
  width: 334%;
}
.sub-menu {
  width:160%;
  padding:5px 0px;
  position:absolute;
  bottom:100%;
  z-index:-1;
  opacity:0;
  transition:opacity linear 0.15s;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
}
.sub-menu li {
  display:block;
  font-size:10px;
}

.sub-menu li a {
  padding:10px 30px;
  display:block;
}
.sub-menu-items {
  font-size: 17px !important;
}
