.button-triangle {
  border-bottom: 100px solid #555;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  // height: 80%;
  width: 74%;
  margin-left: 13%;
  z-index: -1;
  a {
    height: 80%;
  }
}
