.title-infos-entretiens {
  font-size: 17px;
  text-align: center;
}
.small-container {
  margin: 25px 70px;
}
.check-list-box {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 62px;
}
.check-list-label {
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 40px;
}
.reminder {
  font-size: 10px;
  text-align: center;
}
