.swipe-li {
  list-style-type: none;
}
.class-btn-likes {
  text-align: center;
}
.btn-likes {
  font-size: 17px;
  color: #333333;
  border: solid 1px $grey;
  padding: 7px 12px;
  border-radius: 30px;
}
.container-extra {
  margin-bottom: 80px;
  overflow: scroll;
}
