.jobscount {
  color: $grey;
  text-justify: inter-word;
  text-align: center;
}

.icone-play {
  text-align: center !important;
  font-size: 33px;
  width: 100%;
}

.popover-content {
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  margin-right: 2px;
}

.text-error {
  text-align: center;
  padding: 130px 20px;
}

.geek {
  font-size: 35px;
  text-align: center;
  margin-top: -100px;
}
