.jobscount {
  color: $grey;
  text-justify: inter-word;
  text-align: center;
}

.icone-play {
  text-align: center !important;
  font-size: 33px;
  width: 100%;
}

.popover-content {
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  margin: 5px;
  text-align: justify;
  white-space: pre-wrap;
  font-size: 12px;
}

.text-error {
  text-align: center;
  padding: 130px 20px;
}

.geek {
  font-size: 35px;
  text-align: center;
  margin-top: -100px;
}

//////////////////////////////
.filter-box {
    position: relative;
    height: 55px;
}

#filter-title {
  position: absolute;
  left: 0;
  top: 9px;
  font-weight: lighter;
  font-size: 16px;
  margin: 0px 2px;
}
.dropdown {
      position: absolute;
    left: 86px;
    top: 0;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.open > .dropdown-menu {
    display: block;
        width: 307px;
    margin-left: -20px;
}

.dropdown-menu a {
        display: block;
        padding: 0px 7px;
        color: #666666;
        white-space: nowrap;
        font-size: 10px;
        margin: 22px 1px;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
