.container-img {
  text-align: center;
  margin-bottom: 20px;
}
.img-myprofile {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn-modif {
  font-size: 14px;
  color: #4e98e9;
}
.h3-enattendant {
  font-size: 23px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}
.centerline {
  text-align: center;
}

.dob {
    display: inline;
    width: auto;
    max-width: 115px;
    font-size: 13px;
    padding: 0 10px;
}
.format {
  width: 100%;
}
