.plus-regular {
  font-size: 45px;
  position: absolute;
  right:38px;
  top: 15px;
  &:clicked {
    color: rgb(220, 220, 220)!important;
  }
}
.plus-grey {
  font-size: 45px;
  position: absolute;
  right:38px;
  top: 15px;
  color: rgb(220, 220, 220)!important;
}
.fa-envelope {
  font-size: 35px;
}
.title-network {
  font-weight: lighter;
  font-size: 27px;
  padding: 0 12px;
}
.searchbar {
  padding: 8px;
}
.card-network {
  height: 75px;
  margin-top: 1em;
  padding: 0.5em  1em;
  width: 112%;
  position: relative;
}
.img-network {
  width: 65px;
  border-radius: 50%;
  height: 65px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  margin-bottom: 10px;
}
.name-user {
  position: absolute;
  top: 14px;
  left: 98px;
  font-size: 19px;
}
.desc-user {
  position: absolute;
  top: 48px;
  left: 93px;
  font-size: 12px;
  font-weight: lighter;
}
.navbar-onglet-network {
  background: white;
  transition: all 0.3s ease;
  height: 120px;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  height: 90px;
  a {
    color: $grey;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: rgb(220, 220, 220);
    text-decoration: none;
  }
  a:hover {
    box-shadow: inset 0px -5px $red;
    text-decoration: none;
    color: $grey;
  }
  .active {
    box-shadow: inset 0px -5px $red;
  }
}
