.youtube-parents {
  width: 95%;
  margin: 3% 2%;
  min-height: 320px;
}
.title-parents {
  font-size: 17px;
  color: $red;
  margin-top: 50px;
  margin-bottom: 25px;
}
.subtitle-parents {
  font-size: 15px;
  text-align: justify;
}
.subtitle-parents2 {
  font-size: 15px;
  text-align: justify;
  margin-bottom: 25px;
  margin-top: -8px;
}
.subtitle-parents-small {
  font-size: 14px;
  text-align: justify;
    margin-left: 8px;
}
.ul-parents {
  font-size: 20px;
  margin-top: 20px;
}
.surlignement {
  box-shadow: inset 0px -11px $lightblue;
  margin-left: 8px;
}
.li-parents {
  margin-left: 38px;
  font-size: 14px;
  text-align: justify;
  margin-top: 6px;
}
.image {
  background-image: url("parents.jpeg");
  margin-left: -2px;
  margin-right: -2px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 165px;
}
