.back {
  font-size: 32px;
  margin: 12px;
}
.container-signupstudents {
  position: relative;
  top: 110px;
}
.congtainer-logo-signup {
  position: absolute;
  width: 100px; /*the image width*/
  height: 100px; /*the image height*/
  left: 50%;
  top: 50%;
  margin-left: -72px;
  margin-top: -180px;
}
.congtainer-logo-signup2 {
  position: absolute;
  width: 100px; /*the image width*/
  height: 100px; /*the image height*/
  left: 50%;
  top: 25%;
  margin-left: -72px;
  margin-top: -180px;
}
 .logo2 {
  width: 150px;
 }
.title-students1 {
  font-size: 26px;
  text-align: center;
  margin-top: 9px;
  padding-top: 23px;
}
.title-students2 {
  font-size: 28px;
  text-align: center;
  margin-top: 1px;
  padding: 10px;
}
.title-students3 {
  font-size: 26px;
  text-align: center;
  margin-top: 110px;
}
.em-sunglasses {
  width: 100% !important;
  margin-bottom: 20px;
}
.party-popper {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}
.laugh {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  margin-left: 50%;
  margin-top: -10px;
}
.subtitle-students {
  text-align: center;
  font-size: 14px;
}
.subtitle-students2 {
  text-align: center;
  font-size: 13px;
  margin-bottom: 26px;
}
.subtitle-students3 {
  text-align: center;
  font-size: 11px;
  margin-bottom: 0px;
  margin-top: 15px;
}
.photo-test {
  width: 100%;
  height: 155px;
  padding: 2px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}
.check-test {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 35px;
  height: 35px;
}
.title-test {
  margin: 0px 13px;
  padding: 0px;
}

