.back {
  font-size: 32px;
  margin: 12px;
}
 .logo2 {
  background-size: 65px;
  width: 159px;
  position: absolute;
  top: 4%;
  left: 40%;
  margin-bottom: 25px;
 }
.title-students1 {
  font-size: 28px;
  text-align: center;
  margin-top: 9px;
  padding-top: 23px;
}
.title-students2 {
  font-size: 28px;
  text-align: center;
  margin-top: 1px;
  padding: 10px;
}
.em-sunglasses {
  width: 100% !important;
  margin-bottom: 20px;
}
.subtitle-students {
  text-align: center;
  font-size: 13px;
}
.photo-test {
  width: 180px;
  height: 180px;
  margin: 5px;
  padding: 5px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}
.form-check-input {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 35px;
  height: 35px;
}
.title-test {
  margin: 0px 13px;
  padding: 0px;
}
