<%= render 'shared/navbar' %>
  <%# if current_user.first_name.nil? %>

  <%# else %>
  <div class="navbar-onglet">
    <div class="navbar-onglet-item row">
      <a class="col-xs-4 col-xs-offset-2 col-md-3 col-md-offset-3" href="/network"><i class="fas fa-user-plus"></i></a>
      <a class="col-xs-4 col-md-3 active" href="/messenger"><i class="far fa-envelope"></i></a>
    </div>
  </div>





  <%# end %>
<%= render '/shared/navigationbar' %>
