<%= render 'shared/navbar' %>

  <div class="navbar-onglet-network">
    <div class="navbar-onglet-item row">
      <a class="col-xs-4" href="/network"><i class="fas fa-user-plus"></i></a>
      <a class="col-xs-4" href="/messenger"><i class="far fa-envelope"></i></a>
      <a class="col-xs-4 active" href="/users_all"><i class="fas fa-users"></i></a>
    </div>
  </div>

<%= render '/shared/navigationbar' %>
