<div class="filter-box">
  <div id="filter-title">
     <% if params[:interests] %>
       <%= link_to "Effacer filtres", jobs_path %>
     <% elsif %>
       Filtrer par:
     <% end %>
   </div>
   <div class="dropdown">
     <button class="btn form-control dropdown-toggle font-15 height-30" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-weight: lighter;
  font-size: 16px;">
       <%= params[:interests].present? ? params[:interests] : "Secteurs" %>
       <span class="caret"></span>
     </button>
     <ul class="dropdown-menu small-font" aria-labelledby="dropdownMenu1">
       <% @interests.each do |interest| %>
         <li><%= link_to "#{interest.name}", jobs_path(interests: "#{interest}") %></li>
       <% end %>
       <!-- <li role="separator" class="divider"></li> -->
     </ul>
   </div>
</div>
