<div class="search-block">
  <div class="search-title-text">
    <p>Trouve un métier ici...</p>
  </div>
  <div class="search-div">
    <%= form_tag jobs_path, method: :get, id: "search-jobs" do %>
      <%= select_tag :query,
        options_for_select(Job.pluck(:name), params[:query]),
        {
          class: "form-control chosen-select",
          placeholder: "Trouve un métier ici...",
        }
      %>
    <% end %>
  </div>
</div>
