<form class="searchbar">
  <input type="text" placeholder="Rechercher un métier ou une école.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="navbar-onglet">
      <div class="navbar-onglet-item">
        <a href="#">Métiers</a>
        <a href="#">Etudes</a>
      </div>
</div>

