.container-showjob {
  margin-bottom: 200px;
  padding-left: 0;
}

.banner__image {
    width: 95%;
    height: 220px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.show_job_img {
  text-align: center;
}

.namejobs {
  font-size: 19px;
  text-align: center;
}

.shortjobs {
  font-size: 12px;
  font-variant: normal;
  color: #666666;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-wrap;
}

.descjobs {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 10px;
  text-align: justify;
  white-space: pre-wrap;
  margin-bottom: 150px;
}

.icon a {
  color: #333333;
  font-size: 44px;
  display: inline-block;
  text-justify: inter-word;
  margin-left: -15px;
}
.icon a:hover{
  color: $red;
}
.popover {
  width: 69%;
}

.btnjobs {
  display: flex;
  text-align: center;
  border-radius: 14px;
  background-color: white;
  justify-content: center;
}

.btnjobs:hover {
  color: $red;
  border-color: $red;
}
