<div class="center">
  <p class="accroche-students3">Pour accéder à la communauté, il faut que ton profil soit à jour: nom, prénom, âge et photo. 🤓</p>
  <%#= "Votre prénom" if !current_user.first_name || current_user.first_name.empty? %>
  <%#= "Votre nom" if !current_user.last_name || current_user.last_name.empty? %>
  <div class="btn-default2">
    <%= link_to myprofile_path() do %>
    <div class="linkto">
      <%= "Mettre à jour mon profil" %>
    </div>
    <% end %>
  </div>

</div>
