<div class="navbar-down">
  <% if user_signed_in? %>
    <div class="navbar-down-item">
      <a href="/homepage"><i class="fas fa-home regular-fa-home"></i></a>
      <a href="/myprofile"><img src=<%= current_user.avatar_url.nil? ? "https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0ff296c4f785350505c2b5545ae7393&auto=format&fit=crop&w=1650&q=80" : current_user.avatar_url %> alt="profile" class="profile"></a>
    </div>
  <% end %>
</div>


