<div class="navbar-down">

    <% if user_signed_in? %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-down-item">
        <a href="/homepage"><i class="em em-checkered_flag item-navbar"></i></a>
        <a href="/chooseajob"><i class="em em-thinking_face item-navbar"></i></a>
        <a href="/infos"><i class="em em-boom item-navbar"></i></a>
        <a href="#"><i class="em em-earth_americas item-navbar"></i></a>
        <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-content="
        <ul>
          <li>
            <a href='/myprofile' title='My profile'>Mon Profil
            </a>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %><%= t('.sign_out', default: 'Log out') %><% end %>
          </li>
        </ul>
        ">
        <img src="https://images.unsplash.com/photo-1489424731084-a5d8b219a5bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=214b5beac96f7d680a19b3836b28ccc3&auto=format&fit=crop&w=668&q=80" alt="profile" class="profile"></a>
      </div>
    <% end %>
</div>





