<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/les_autres_aides" class="btn btn-primary next-step-btn-medium">Revenir page aides <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container">
  <p class="etape3-medlarge">LES AIDES PAR REGION:</p>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle btn-dropdown" type="button" data-toggle="dropdown">Choisis ta région
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/dropdown_HDF">Hauts-de-France</a></li>
      <li><a href="/dropdown_IDF">Île-de-France</a></li>
      <li><a href="/dropdown_Normandie">Normandie</a></li>
      <li><a href="/dropdown_Bretagne">Bretagne</a></li>
      <li><a href="/dropdown_PDLL">Pays de la Loire</a></li>
      <li><a href="/dropdown_CVDL">Centre-Val de Loire</a></li>
      <li><a href="/dropdown_BFC">Bourgogne-Franche-Comté</a></li>
      <li><a href="/dropdown_GE">Grand Est</a></li>
      <li><a href="/dropdown_NA">Nouvelle-Aquitaine</a></li>
      <li><a href="/dropdown_ARA">Auvergne-Rhône-Alpes</a></li>
      <li><a href="/dropdown_Occitanie">Occitanie</a></li>
      <li><a href="/dropdown_PACA">Provence-Alpes-Côte d'Azur</a></li>
      <li><a href="/dropdown_Paradis_francais">Paradis Français</a></li>
    </ul>
  </div>
</div>
<%= render '/shared/navigationbar' %>
