<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/les_autres_aides" class="btn btn-primary next-step-btn-medium">Revenir page aides <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
  <p>test</p>
<%= render '/shared/navigationbar' %>
