<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/les_autres_aides" class="btn btn-primary next-step-btn-small">Les autres aides <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container">
  <div class="cards">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="card-infos-financement">
          <div class="card-info1-bourse">
            <a href="/bourse"><h3>LA BOURSE</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
        <div class="card-infos-financement">
          <div class="card-info2-APL">
            <a href="/apl"><h3>LES APL</h3>
              <h2>(aide au logement)</h2></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>

