<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<div class="container">
  <p class="desc-cgut">CONDITIONS GÉNÉRALES D’UTILISATION DE LA PLATEFORME BIG-FAMILY</p>

<p class="desc-cgu">La Plateforme BIG-FAMILY est éditée et exploitée par la société BIG-FAMILY SAS, marque enregistrée à l’INPI sous le n° (o)</p>

<p class="desc-cgu">La société BIG-FAMILY (ci-après dénommée « la Société » ou « BIG-FAMILY ») est une société par actions simplifiée, dont le siège social est situé 10, Avenue Pierre Lefaucheux, 92100 Boulogne-Billancourt, France, immatriculée au Registre du Commerce et des Sociétés de Paris sous le n° 840 937 874 00013.</p>

<p class="desc-cgu">BIG-FAMILY a pour activité l’édition, le développement et la mise à disposition de plateformes web et/ou mobile permettant à toute personne physique, notamment des étudiants, de s’informer et d’être accompagnés dans le cadre de leur orientation professionnelle.</p>

 <p class="desc-cgu">La plateforme permet aussi aux utilisateurs de communiquer entre eux ainsi qu’avec des professionnels de leur orientation professionnelle.</p>

<p class="desc-cgu">Les présentes Conditions Générales d’Utilisation (ci-après désignées les « CGU ») définissent le cadre légal de l’utilisation de la plateforme BIG-FAMILY par les utilisateurs.  Les présentes CGU contiennent également des informations relatives aux droits et aux restrictions imposées à ces droits par les lois ou règlements.</p>

<p class="desc-cgu">Il est possible de contacter la Société à l'adresse indiquée en tête des présentes, ou encore par courrier électronique à l’adresse paula@big-family.fr.</p>

<p class="desc-cgut">ARTICLE 1 : DÉFINITIONS </p>

<p class="desc-cgu">Dans les Conditions Générales d’Utilisation, les mots ou expressions commençant avec une majuscule ont la signification qui suit : </p>

<p class="desc-cgu">• Application : désigne l’application mobile conçue, développée et exploitée par la Société et téléchargeable sur toutes les plateformes de téléchargement légale ;</p>

<p class="desc-cgu">• Compte : désigne l’espace accessible sur ou le Site ou l’Application permettant d’accéder à l’ensemble des fonctionnalités proposées ;</p>

<p class="desc-cgu">• Contenu : désigne tout(e) texte, graphique, image, musique, vidéo ou autre élément susceptible d’être mis en ligne par un utilisateur et accessible par les autres utilisateurs ;</p>

<p class="desc-cgu">• Droit de Propriété Intellectuelle : désigne l’ensemble des droits de propriété littéraire et artistique (droit d’auteur et droit voisin), de propriété industrielle (marque, dessin et modèle et brevet) prévus dans le Code de propriété intellectuelle et les Traités internationaux ;</p>

<p class="desc-cgu">• Donnée(s) Personnelle(s) : désigne toute information, identifiant directement ou indirectement l’Utilisateur, nécessaire à la création d’un Compte et nécessaire au bon fonctionnement de la Plateforme ;</p>

<p class="desc-cgu">• Plateforme(s) : désigne les plateformes et Applications éditées par BIG-FAMILY ainsi que l’ensemble du Contenu créé dont notamment : la charte graphique, les frames, les bannières, les animations flash et vidéo, le code source, code html et programmation ;</p>

<p class="desc-cgu">• Utilisateur : désigne toute personne physique régulièrement inscrite sur le Site ou l’Application ;</p>

<p class="desc-cgu">• Services : désigne l’ensemble des fonctionnalités accessibles sur le Site ou l’Application proposés par BIG FAMILY, tels que notamment décrits dans les présentes CGU ;</p>

<p class="desc-cgu">• Site : désigne le Site internet www.big-family.fr ou www.big-f.fr de la Société et, par extension, tout autre moyen d’accès aux Services (site internet mobile, Applications mobiles…) ;</p>


<p class="desc-cgut">ARTICLE 2 : OBJET ET CHAMP D’APPLICATIONS</p>

<p class="desc-cgu">BIG-FAMILY première Plateforme de mise en relation permettant aux Utilisateurs d’être accompagnés et informés dans le cadre de leur orientation professionnelle.</p>

<p class="desc-cgu">La navigation sur le Site et sur l’Application est entièrement gratuite et ne nécessite aucun engagement sous forme d’abonnement. Toutefois pour accéder à l’ensemble des fonctionnalités de la Plateforme et utiliser directement un ou plusieurs Services, l’Utilisateur doit créer un Compte.</p>

<p class="desc-cgu">Ces Services sont accessibles sur le Site internet www.big-family.fr ou www.big-f.fr ou encore via l'Application.</p>

<p class="desc-cgu">Le Site et l’Application sont accessibles à tout Utilisateur disposant d'un accès à internet. Tous les coûts afférents à l'accès de la Plateforme, que ce soit les frais matériels, logiciels ou d'accès à internet sont exclusivement à la charge de l'Utilisateur.</p>

<p class="desc-cgu">En utilisant la Plateforme, l’Utilisateur déclare accepter sans réserve les présentes CGU. L’Utilisateur déclare et reconnait, en conséquence, avoir lu et compris les dispositions des présentes CGU. À tout moment, si l’Utilisateur est en désaccord avec l’une des clauses des CGU, il doit immédiatement mettre fin à l’utilisation de la Plateforme et des services associés.</p>

<p class="desc-cgu">Les présentes CGU sont disponibles à tout instant en cliquant sur un lien direct situé en bas des pages d’accueil et « profil » de la Plateforme.</p>


<p class="desc-cgut">ARTICLE 3 : INFORMATION – DISCLAIMER</p>

<p class="desc-cgu">La Société n'est qu'un prestataire technologique, permettant aux Utilisateurs d’accéder à des données d’orientation professionnelle et d’échanger entre eux via son Site.  La Société ne saurait à ce titre prendre part à la conclusion d’un contrat entre ses Utilisateurs. Dans ces conditions, la Société n’est pas partie à un quelconque accord conclu entre les Utilisateurs.</p>

<p class="desc-cgu">La Société met à disposition des Utilisateurs une liste détaillée de professions. Cette liste est régulièrement mise à jour. Les informations recueillies pour chaque profession ont pour source divers sites internet. La Société ne se porte en aucun cas garante de l’exactitude de ces informations et, en conséquence, ne saurait être tenue responsable en cas d’erreurs ou d’imprécisions.</p>

<p class="desc-cgu">La Société propose des suggestions d’orientation aux Utilisateurs. Ces suggestions sont basées sur les résultats d’un questionnaire de préférence rempli par l’Utilisateur lors de son inscription. Cette suggestion est automatisée informatiquement et la Société ne saurait être tenue pour responsable si l’Utilisateur se dirige vers une des professions suggérées et qui ne lui correspond pas.</p>

<p class="desc-cgu">La Société met à disposition des Utilisateurs des aides à la rédaction de leur CV, lettre de motivation et autres documents liés à d’éventuels entretiens d’embauche, ainsi que des conseils pour réussir les premiers entretiens. La Société ne serait être tenue responsable en cas d’échec à l’un de ces entretiens ou sur tout évènement survenu au cours de l’un d’eux.</p>

<p class="desc-cgu">La Société incite les Utilisateurs à profiter de toutes les aides mises gratuitement à leur disposition. Ces aides sont généralement proposées par l’État et les Régions. La Société propose également des rendez-vous d’informations avec des conseillers ou des assistants sociaux. La Société n’est en aucun cas responsable des conséquences de cet entretien.</p>

<p class="desc-cgu">La Société met à disposition des Utilisateurs des informations sur les salons et autres événements liées à l’orientation et à la recherche d’emploi. La Société n’est en aucun responsable de l’exactitude de ces informations, de tout ce qu’il pourrait se dire ou se passer lors de ces rendez-vous et des conséquences dans les choix des Utilisateurs quant à leur orientation.</p>

<p class="desc-cgu">La Société redirige ses Utilisateurs vers des liens externes à la Société et ses services pour les aider dans leurs démarches administratives. La Société n’est en aucun responsable du Contenu de ces sites externes et de tout ce qu’il pourrait se passer lors de ces démarches administratives.</p>

<p class="desc-cgu">La Société propose des témoignages vidéo sur la Plateforme. Ces témoignages ont été sélectionnés depuis internet ou créé par la Société sur la base du volontariat. La Société n’est en aucun cas responsable des messages que pourraient en déduire les Utilisateurs et des choix qu’ils feront en réaction à ces vidéos.</p>

<p class="desc-cgu">La Société permet à ses Utilisateurs de prendre rendez-vous directement sur la Plateforme avec des professionnels privés, externes à la Société, spécialisés dans l’aide à l’orientation. La Société n’est en aucun cas responsable des conséquences du dit entretien.</p>

<p class="desc-cgu">La Société permet la mise en relation des Utilisateurs de la Plateforme avec des recruteurs. Ces recruteurs pourront poster des annonces de stages, des annonces d’emplois et rechercher directement des profils qui les intéressent parmi les Utilisateurs. La société ne pourra être considérée comme partie à un potentiel contrat entre un Utilisateur et un recruteur.</p>

<p class="desc-cgu">La Société permet aux instituts, écoles, organismes de formation et universités de créer une page sur la Plateforme et d’en faire la promotion. La Société a pour ambition de lier chaque profession avec les organismes éducatifs adaptées afin de faciliter les recherches de l’Utilisateur. La Société n’est en aucun cas responsable de l’exactitude des informations qui apparaitront sur ces pages et des échanges entre les Utilisateurs et ces organismes.</p>


<p class="desc-cgut">ARTICLE 4 : ENTREE EN VIGUEUR – DUREE</p>

<p class="desc-cgu">Les présentes CGU sont applicables pendant toute la durée de la navigation et d’accès à la Plateforme.</p>

<p class="desc-cgu">BIG-FAMILY se réserve le droit de modifier les présentes CGU à tout moment. A moins que les amendements ne soient dus à des obligations juridiques ou administratives, l’Utilisateur disposera d’un préavis raisonnable avant la mise en application des CGU mises à jour.</p>

<p class="desc-cgu">Toute modification prendra effet à compter de leur publication. L’Utilisateur accepte d’être averti des CGU mises à jour par leur publication sur la Plateforme.</p>

<p class="desc-cgu">En continuant d’utiliser la Plateforme ou en y accédant après la date de prise d’effet des CGU mises à jour, l’Utilisateur déclare avoir pris connaissance des mises à jour et accepte toutes les modifications qui y sont apportées. Les présentes CGU régissent les éventuels conflits qui pourraient survenir avant la date de prise d’effet des CGU mises à jour.</p>

<p class="desc-cgu">La dernière version des CGU disponible en ligne sur la Plateforme prévaudra, le cas échéant, sur toute autre version des présentes CGU.</p>


<p class="desc-cgut">ARTICLE 5 : INFORMATIONS PREALABLES</p>

<p class="desc-cgu">Le Site et l'Application peuvent contenir des hyperliens renvoyant à des fonctions ou des sites internet tiers ou application tierces. Les images et commentaires figurant peuvent aussi comporter des liens vers des sites ou des applications tierces. L’Application contient également du contenu tiers que la Société ne contrôle pas, ne gère pas et ne cautionne pas.</p>

<p class="desc-cgu">Les fonctionnalités de l’Application peuvent permettre des interactions entre l’Application et une application tierce. L’Application peut en outre inclure une fonction permettant aux Utilisateurs de partager du Contenu issu de l’Application avec un tiers. La Société ne contrôle aucunement les sites internet tiers et leur contenu, et ne saurait par conséquent être tenu responsable de leurs fonctionnalités.</p>


<p class="desc-cgut">ARTICLE 6 : CREATION D’UN COMPTE BIG-FAMILY</p>

<p class="desc-cgu">L’accès et l’inscription au Site et à l’Application sont gratuits.
Pour accéder aux fonctionnalités générales de la Plateforme, l’Utilisateur doit créer un Compte.  La navigation sur la Plateforme et l’accès aux Services qui y sont proposés sont conditionnés à cette inscription.</p>

<p class="desc-cgu">Afin d’accéder à l’ensemble des fonctionnalités de la Plateforme, l’Utilisateur doit, lors de son inscription, accepter la mention « J’accepte sans réserve les conditions générales d’utilisation des services BIG-FAMILY » et « je consens au recueil et au traitement de mes données personnelles. ».</p>

<p class="desc-cgu">Afin de créer son Compte, l’Utilisateur doit renseigner impérativement les informations suivantes :</p>

<p class="desc-cgu">• Adresse e-mail ;</p>
<p class="desc-cgu">• Mot de passe ;</p>
<p class="desc-cgu">Si l’Utilisateur souhaite accéder à la totalité des Services de la Plateforme, celui-ci doit également renseigner les informations complémentaires suivantes :</p>
<p class="desc-cgu">• Nom et prénom ;</p>
<p class="desc-cgu">• Date de naissance ;</p>
<p class="desc-cgu">• Code Postal ;</p>
<p class="desc-cgu">• Photo de profil ;</p>

<p class="desc-cgu">Une fois le Compte BIG-FAMILY validé, l’Utilisateur recevra un e-mail de confirmation.</p>

<p class="desc-cgu">Afin d’accéder aux fonctionnalités de la Plateforme, BIG-FAMILY propose aux Utilisateurs de répondre à un questionnaire de préférence permettant de préciser l’ensemble de ses centres d’intérêts. L’Utilisateur manifeste ses préférences par l’utilisation du bouton « j’aime », fonctionnalité permettant de manifester son intérêt en fonction de centres d’intérêts proposés.</p>

<p class="desc-cgu">A ce titre, le bon fonctionnement du Service BIG-FAMILY est conditionné au remplissage effectif du questionnaire (ci-après le « Questionnaire »). Cette étape constitue un prérequis indispensable permettant à BIG-FAMILY d’accompagner et d’informer au mieux l’Utilisateur.  Les informations demandées au sein du questionnaire sont donc indispensables au bon fonctionnement de la Plateforme. L’Utilisateur s’engage ainsi à fournir ses meilleurs efforts afin de remplir ce questionnaire avec précision.</p>

<p class="desc-cgu">En cas d’omission d’une ou plusieurs informations et/ou la saisie d’informations inexactes, BIG-FAMILY décline toute responsabilité et ce quel que soit sa nature et son fondement. L’Utilisateur reconnait qu’il ne dispose à cet égard d’aucune action en responsabilité à l’encontre de BIG-FAMILY.</p>


<p class="desc-cgu">En cas de méconnaissance des dispositions des présentes CGU, BIG-FAMILY se réserve le droit de modifier ou résilier l’accès à la Plateforme à tout moment, sans avis préalable et sans responsabilité envers l’Utilisateur. Dans ce cas-là, le Contenu que l’Utilisateur a publié et ses informations ne seront plus accessibles. Ces informations peuvent toutefois être conservées et apparaitre dans la Plateforme.</p>

<p class="desc-cgu">BIG-FAMILY se réserve également le droit de supprimer un Contenu quel qu’il soit de la Plateforme, pour quelque raison que ce soit et sans avis préalable. Il se peut que le Contenu supprimé de la Plateforme soit conservé par BIG-FAMILY, notamment, mais sans s’y limiter, afin de respecter certaines obligations légales.</p>


<p class="desc-cgut">ARTICLE 7 : SERVICES</p>

<p class="desc-cgu">La création d’un Compte BIG-FAMILY permet aux Utilisateurs d’accéder à certaines fonctionnalités disponibles sur la Plateforme. Ces fonctionnalités permettent aux Utilisateurs :</p>

<p class="desc-cgu">• D’accéder à des informations relatives à l’orientation professionnelle, notamment les informations sur les dates des salons d’orientation ;</p>
<p class="desc-cgu">• D’accéder à des conseils et tutoriaux dans le cadre de la création d’un CV et de la lettre de motivation, les aides financières, les métiers, les formations etc ;</p>
<p class="desc-cgu">• De communiquer avec d’autres Utilisateurs par le biais d’un système de messagerie ;</p>

<p class="desc-cgu">L’Utilisateur peut être emmené à communiquer avec d’autres Utilisateurs ayant fourni des réponses similaires au Questionnaire de préférence.
Dès son inscription sur la Plateforme, l’Utilisateur pourra accéder aux informations, relatives à d’autres Utilisateurs BIG-FAMILY. Toutefois, seules les informations concernant le nom, le prénom, le département ainsi que le résultat au Questionnaire des Utilisateurs sont accessibles.</p>

<p class="desc-cgu">Afin de pouvoir échanger avec d’autres Utilisateurs, l’Utilisateur devra au préalable leur envoyer une invitation. Chaque Utilisateur à la liberté d’accepter, de refuser l’invitation de communiquer ou de bloquer cet Utilisateur.</p>


<p class="desc-cgut">ARTICLE 8 : OBLIGATION DES UTILISATEURS</p>

<p class="desc-cgu">Les Utilisateurs s’engagent, durant l’utilisation de la Plateforme, à respecter les lois et les règlements en vigueur et à ne pas porter atteinte aux droits de tiers ou à l’ordre public. Ils sont seuls responsables des informations transmises. A ce titre, la responsabilité de la Société ne pourra en aucun cas être engagée.</p>

<p class="desc-cgu">En utilisant la Plateforme, l’Utilisateur s’engage :</p>

<p class="desc-cgu">- à ne publier et diffuser aucune photo, vidéo dont le Contenu est susceptible d’être considéré comme obscène, pornographique, indécent, attentatoire ou de nature à offenser la dignité de tout être humain ;</p>
<p class="desc-cgu">- à ne publier aucun Contenu, message ou information grossier, injurieux ou encourageant toute activité réprimée par la loi ou le règlement en vigueur ;</p>
<p class="desc-cgu">- à ne publier aucune photo ou vidéo protégée par la législation sur la propriété intellectuelle à moins de détenir les droits sur celui-ci ou le consentement nécessaire à son exploitation ;</p>
<p class="desc-cgu">- à ne publier aucun Contenu contenant un fichier corrompu ;</p>
<p class="desc-cgu">- à ne publier aucun Contenu violant les droits d’un tiers.</p>

<p class="desc-cgu">L’Utilisateur s’interdit également de transmettre :</p>

<p class="desc-cgu">- des informations incorrectes ou fausses,</p>
<p class="desc-cgu">- la moindre information sensible d’origine raciale ou ethnique ou portant sur des opinions politiques, philosophiques ou religieuses, sur une appartenance à un syndicat, sur la vie sexuelle ou la santé, contraire aux bonnes mœurs et à la loi.</p>

<p class="desc-cgu">L’Utilisateur garantit également :</p>

<p class="desc-cgu">- être seul propriétaire des Contenus publiés sur la Plateforme, être en mesure de procéder à leur publication et ayant qualité pour accorder une licence de diffusion,</p>
<p class="desc-cgu">- ne pas employer des Contenus qui soient de nature :</p>
<p class="desc-cgu">• à causer un harcèlement des tiers ou à appeler les tiers à se livrer à un harcèlement,</p>
<p class="desc-cgu">• à inciter à la haine, la discrimination, le racisme, le fanatisme et à la violence physique d’individus ou de groupes d’individus,</p>
<p class="desc-cgu">• à représenter des scènes de pornographie, de pédophilie, ou de tout autre sujet choquant ou contenant un lien avec un Site Internet réservé aux adultes,</p>
<p class="desc-cgu">• à représenter ou prôner des activités illégales ou des comportements de caractère diffamatoire, injurieux, obscène, menaçant ou calomnieux ainsi que des informations fausses ou trompeuses,</p>
<p class="desc-cgu">• à proposer une copie illégale ou non autorisée d’œuvres protégées par des droits d’auteurs, les brevets ou les marques,</p>
<p class="desc-cgu">• à susciter, provoquer ou favoriser la transmission de courriels, de chaînes de courriels, de mailing massifs non sollicités, de messages instantanés, de messages publicitaires non souhaités ou de courriers non sollicités,</p>
<p class="desc-cgu">• à favoriser ou encourager toute activité ou entreprise criminelle ou donnant des indications ou des instructions sur le moyen de favoriser les activités illégales, l’atteinte à la vie privée, la diffusion et la création de virus informatiques,</p>
<p class="desc-cgu">• à solliciter des mots de passe ou des informations personnelles de la part d’autres Utilisateurs à des fins commerciales illégales,</p>
<p class="desc-cgu">• à impliquer des activités commerciales et/ou des ventes telles que concours, loteries publicitaires, échanges, annonces publicitaires et pyramides sans l’accord écrit de BIG-FAMILY ;</p>
<p class="desc-cgu">• à distribuer reproduire, publier ou modifier de quelque manière que ce soit les éléments protégés par les droits d’auteur, marques déposées ou tout droit de propriété appartenant à des tiers sans leur consentement préalable.</p>



<p class="desc-cgut">ARTICLE 9 : RESPONSABILITE</p>

<p class="desc-cgu">Les Utilisateurs sont les seuls responsables de l'utilisation qu'ils font de la Plateforme et des conséquences directes ou indirectes de cette utilisation. Ils leur appartiennent d'en faire un usage conforme à la réglementation en vigueur et aux recommandations de la C.N.I.L.</p>

<p class="desc-cgu">BIG-FAMILY n’est également tenue d’aucune obligation de présélectionner, de contrôler, de modifier les informations et avis publiées ou transmis sur la Plateforme. BIG-FAMILY ne saurait être responsable des choix effectués par les Utilisateurs.</p>

<p class="desc-cgu">En aucun cas BIG-FAMILY, ses filiales ou entités affiliées, ou l’un de leurs salariés, dirigeants, administrateurs, mandataires, revendeurs, partenaires, fournisseurs de Contenu tiers ou concédants de licence respectifs, ou l’un de leurs dirigeants, administrateurs, salariés ou mandataires, ne seront tenus responsables de quelconques dommages indirects, incidents, spéciaux, par ricochet ou punitifs découlant de ou se rapportant à :</p>

<p class="desc-cgu">• l’utilisation de la Plateforme ou des services ;</p>
<p class="desc-cgu">• l’incapacité à utiliser la Plateforme ou les services ;</p>
<p class="desc-cgu">• la modification ou la suppression de Contenu transmis via les services ; ou</p>
<p class="desc-cgu">• les présentes CGU.</p>

<p class="desc-cgu">En aucun cas la responsabilité de BIG-FAMILY dans le cadre des services n’excèdera la valeur des sommes qu’elle a perçues. L’Utilisateur convient que tout grief tiré de la Plateforme ou des services, ou s’y rapportant, doit être formulé dans un délai d’un (1) an à compter du fait générateur du grief, sous peine de forclusion définitive à raison dudit grief. Certains pays ne permettant pas de limiter la durée d’une garantie tacite, il se peut que tout ou partie de la limitation mentionnée ci-dessus ne soit pas applicable.</p>

<p class="desc-cgu">De plus, BIG-FAMILY ne saurait être tenue responsable du non fonctionnement, d'une impossibilité d'accès ou de dysfonctionnement des services du fournisseur d'accès des Utilisateurs à ceux du réseau internet. Il en sera de même pour toutes autres raisons extérieures à BIG-FAMILY. En effet, bien que BIG-FAMILY mette tout en œuvre pour éviter un usage malveillant de la Plateforme, BIG-FAMILY ne peut être tenu responsable d’éventuels dommages résultant d’une transmission d’un virus ou de tout autre élément susceptible de contaminer les équipements et programmes informatiques.</p>


<p class="desc-cgut">ARTICLE 10 : DROIT DE PROPRIETE INTELLECTUELLE</p>

<p class="desc-cgu">« BIG-FAMILY » est une marque déposée auprès de l’INPI.</p>

<p class="desc-cgu">BIG-FAMILY est le propriétaire exclusif des droits intellectuels sur la Plateforme et notamment de l’ensemble des textes, commentaires, ouvrages, illustrations, vidéos et images, qu'ils soient visuels ou sonores, reproduits sur la Plateforme ainsi que ses bases de données dont elle est le producteur.</p>

<p class="desc-cgu">Toutes ces créations intellectuelles sont protégées au titre du droit d'auteur, du droit des marques, droit des brevets, du droit sui generis des bases de données et droit à l'image.
 A ce titre et conformément aux dispositions du Code de la Propriété Intellectuelle, seule l'utilisation de la Plateforme pour un usage privé sous réserve de dispositions différentes voire plus restrictives de ce code, est autorisée.
 Toute autre utilisation est constitutive de contrefaçon et sanctionnée au titre de la Propriété Intellectuelle sauf autorisation préalable de BIG-FAMILY.</p>

<p class="desc-cgu">Toute forme de copie totale ou partielle, d’aspiration et de reproduction de la base de données produite et exploitée par BIG-FAMILY sur la Plateforme est formellement interdite sans son accord écrit et préalable.</p>

<p class="desc-cgu">BIG-FAMILY n’est pas propriétaire du Contenu publié sur la Plateforme. En utilisant la Plateforme, l’Utilisateur concède à BIG-FAMILY un droit non exclusif, exempt de redevance, perpétuels, libre de droits, transférable, irrévocable et susceptible de faire l’objet d’une sous licence pour l’utilisation du Contenu que l’Utilisateur publie sur la Plateforme.</p>

<p class="desc-cgu">Dans le cadre de la présente licence, l’Utilisateur autorise BIG-FAMILY à librement utiliser tout ou partie des Contenus publiés, à les représenter, à les diffuser et les reproduire sur la Plateforme.</p>

<p class="desc-cgu">BIG-FAMILY demeure donc libre de diffuser les Contenus des Utilisateurs dans un cadre promotionnel, publicitaire et lucratif au travers notamment de jeux concours ou partenariat. Cette diffusion peut se faire par n’importe quel moyen.</p>

<p class="desc-cgu">Par conséquent, l’Utilisateur déclare que :</p>

<p class="desc-cgu">- Il est propriétaire du Contenu publié sur la Plateforme ou par son intermédiaire, ou que qu’il est autorisé à accorder les droits et licences évoqués dans les présentes CGU ;</p>

<p class="desc-cgu">- La publication et l’utilisation du Contenu sur la Plateforme ou par son intermédiaire n’enfreignent pas, ne détourne pas et ne viole pas les droits de tiers, y compris, mais sans s’y limiter, les droits de respect de la vie privée, les droits de publicités, les droits d’auteurs, les marques de commerce et autres droits de propriété intellectuelle ; et</p>

<p class="desc-cgu">- Il accepte de payer l’ensemble des redevances, droits d’auteur et autres sommes dues en relation avec le Contenu que publié sur la Plateforme ou par son intermédiaire.</p>


<p class="desc-cgut">ARTICLE 11 : PROTECTION DES DONNEES PERSONNELLES ET CONFIDENTIALITE</p>

<p class="desc-cgu">BIG-FAMILY s’engage à respecter la règlementation applicable en matière de protection des données personnelles, et notamment les obligations découlant du règlement européen n° 2016/679 sur la protection des données personnelles (RGPD).</p>

<p class="desc-cgu">Lors de sa première connexion, l’Utilisateur consent expressément au traitement de ses Données Personnelles dans la limite d’un traitement strictement nécessaire au bon fonctionnement de la Plateforme.</p>

<p class="desc-cgu">Le renseignement des informations nominatives collectées dans le cadre des présentes CGU est obligatoire. Ces informations sont nécessaires pour le traitement, la fourniture des services. Le défaut de renseignements empêche le bon fonctionnement des services proposés en ligne.</p>

<p class="desc-cgu">L’Utilisateur reconnait et convient que les Données Personnelles peuvent être transférées ou stockées en dehors du pays où BIG-FAMILY et/ou les Utilisateurs autorisés se situent, dans le but d’exécuter les services prévus par les présentes CGU.</p>

<p class="desc-cgu">S’agissant d’Utilisateurs situés dans l’Espace Economique Européen (« EEE »), l’Utilisateur reconnait et convient que les Données Personnelles peuvent être transférées ou stockées en dehors de l’EEE, dans le but d’exécuter les services prévus par les présentes CGU.</p>

<p class="desc-cgu">BIG-FAMILY mettra en œuvre toutes les mesures techniques et organisationnelles nécessaires au respect de la protection des Données Personnelles, à la fois dès la conception du service et par défaut. BIG-FAMILY s’engage à limiter la quantité des Données Personnelles traitées dès le départ.</p>

<p class="desc-cgu">L’Utilisateur doit s’assurer qu’il a le droit de transférer les Données Personnelles concernées afin que BIG-FAMILY puisse, en toute légalité, utiliser, traiter et transférer celles-ci pour son Compte conformément aux CGU.</p>

<p class="desc-cgu">L’Utilisateur doit s’assurer que les tiers concernés ont été informés de ladite utilisation, dudit traitement et dudit transfert, et qu’ils y ont consenti, comme l’exigent toutes les législations applicables en matière de protection des données.</p>

<p class="desc-cgu">BIG-FAMILY collecte les Données Personnelles uniquement dans le respect des termes des présentes CGU et de toute instruction légale et raisonnable que l’Utilisateur donnera à tout moment.</p>

<p class="desc-cgu">Lorsque BIG-FAMILY constate une violation de droits dans le cadre du traitement des Données Personnelles, cette violation sera notifiée à la CNIL dans un délai ne pouvant être supérieur à 72 heures après en avoir pris connaissance.</p>

<p class="desc-cgu">Toute violation relative au traitement des Données Personnelles de l’Utilisateur sera notifiée à l’Utilisateur concerné par e-mail, dans un délai d’un (1) mois.</p>

<p class="desc-cgu">Chaque partie prendra les mesures techniques et organisationnelles appropriées pour lutter contre le traitement non autorisé ou illégal des Données Personnelles ou leur perte, destruction ou détérioration accidentelle.</p>

<p class="desc-cgu">Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, le traitement des informations nominatives collectées sur la Plateforme a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés sous le n°1836642v0</p>


<p class="desc-cgu">Utilisation et transmission des Données Personnelles</p>

<p class="desc-cgu">Afin d’assurer le fonctionnement de la Plateforme BIG-FAMILY doit procéder au traitement nécessaire des Données Personnelles. Les données traitées sont directement transmises selon les modalités et pour les finalités suivantes :</p>

<p class="desc-cgu">• Enquête de satisfaction ;</p>
<p class="desc-cgu">• Statistiques de fréquentation de la Plateforme ;</p>
<p class="desc-cgu">• Fonctionnalités proposées par la Plateforme ;</p>
<p class="desc-cgu">• Information les Utilisateurs avec leur accord sur les Services par du marketing ciblé et/ou des offres promotionnelles ;</p>
<p class="desc-cgu">• Résolution d’éventuels litiges ;</p>
<p class="desc-cgu">• Empêcher, détecter et enquêter sur toutes activités potentiellement interdites et illégales</p>
<p class="desc-cgu">• Répondre à ses obligations légales et réglementaires ;</p>

<p class="desc-cgu">Le renseignement des Données Personnelles collectées à ces fins est obligatoire pour la confirmation et la validation du Compte BIG-FAMILY.  A défaut les services ne pourront être fournis.</p>

<p class="desc-cgu">BIG-FAMILY pourra également utiliser ces données pour le traitement des demandes de l’Utilisateur ainsi que pour renforcer et personnaliser sa communication notamment par les lettres/courriers électroniques d’information, et enfin pour personnaliser la Plateforme en fonction des préférences constatées des Utilisateurs. BIG-FAMILY peut également fournir à ses partenaires des statistiques consolidées et anonymisées relatives aux Utilisateurs, ces statistiques ne contenant cependant aucune donnée personnelle.</p>

<p class="desc-cgu">Ces données peuvent être transmises auprès des prestataires techniques, dans la seule finalité de la bonne exécution des services, ou aux différents fournisseurs tels que les fournisseurs de solution de paiement. L’Utilisateur accepte que BIG-FAMILY partage des informations le concernant afin de faciliter l’utilisation de la Plateforme accessible à l’adresse www.big-family.fr</p>

<p class="desc-cgu">Les Données Personnelles communiquées par l’Utilisateur seront détruites au plus tard six mois après la suppression du Compte. BIG-FAMILY se réserve le droit de conserver certaines données afin de justifier, le cas échéant de la parfaite exécution de ses obligations contractuelles ou légales. Les données ainsi conservées seront limitées à ce que strictement nécessaire. </p>

<p class="desc-cgu">Droits d'accès, de modification, d'opposition, de portabilité et de suppression</p>

<p class="desc-cgu">Dans tous les cas, l’Utilisateur dispose d'un droit d'accès, de modification, d'opposition, de portabilité et de suppression des Données Personnelles le concernant en écrivant à l'adresse suivante :</p>

<p class="desc-cgu">paula@big-family.fr en indiquant son nom, prénom, e-mail et adresse.</p>

<p class="desc-cgu">Conformément à la réglementation en vigueur, toute demande doit être signée et accompagnée de la photocopie d'un titre d'identité portant la signature de l’Utilisateur et préciser l'adresse à laquelle doit parvenir la réponse. Une réponse sera alors adressée dans un délai de 2 mois suivant la réception de la demande.</p>

<p class="desc-cgu">L’Utilisateur pourra récupérer ses Données Personnelles dans un format ouvert et lisible. Le droit à la portabilité est limité aux données fournies par l’Utilisateur concerné. Il s’applique sur la base du consentement préalable de l’Utilisateur. BIG-FAMILY s’engage à transférer, sur demande, dans un délai d’un (1) mois, tout document de recueil des Données Personnelles à l’Utilisateur afin de pouvoir mettre en œuvre le droit à portabilité. Les frais liés à la récupération des données sont à la charge de l’Utilisateur en faisant la demande.</p>


<p class="desc-cgu">Les données à caractère personnel communiquées par l’Utilisateur seront détruites au plus tard six mois après la suppression du Compte. BIG-FAMILY se réserver le droit de conserver certaines données afin de justifier, le cas échéant de la parfaite exécution de ses obligations contractuelles ou légales. Les données ainsi conservées seront limitées à ce que strictement nécessaire. </p>

<p class="desc-cgu">Newsletters BIG-FAMILY</p>

<p class="desc-cgu">En fonction des choix opérés par l’Utilisateur, il pourra être destinataire de la newsletter BIG-FAMILY.</p>

<p class="desc-cgu">En donnant expressément son accord à cette fin, l’Utilisateur accepte que BIG-FAMILY puisse lui faire parvenir une newsletter (lettre d’information) pouvant contenir des informations relatives aux nouvelles activités proposées par des partenaires de BIG-FAMILY. Les Utilisateurs auront la faculté de se désinscrire de la newsletter en cliquant sur le lien prévu à cet effet, présent dans chacune des newsletters (lettres d’information).</p>

<p class="desc-cgu">Utilisation des cookies</p>

<p class="desc-cgu">Conformément à la délibération de la CNIL n° 2013-378 du 5 décembre 2013. BIG-FAMILY informe, les Utilisateurs par ailleurs, que des cookies enregistrent certaines informations qui sont stockées dans la mémoire de leurs disques dur. Ces informations servent à générer des statistiques d’audience de la Plateforme et à proposer des services selon les services que les Utilisateurs ont déjà sélectionnés lors de leurs précédentes visites. Un message d’alerte, sous forme de bandeau, demande à chaque personne visitant la Plateforme, au préalable, si elle souhaite accepter les cookies. Ces cookies ne contiennent pas d’informations confidentielles concernant l’Utilisateur.</p>

<p class="desc-cgu">L’Utilisateur se rendant sur la page d’accueil ou une autre page de la Plateforme directement à partir d’un moteur de recherche sera informé :</p>

<p class="desc-cgu">- des finalités précises des cookies utilisés ;</p>
<p class="desc-cgu">- de la possibilité de s’opposer à ces cookies et de changer les paramètres en cliquant sur un lien présent dans le bandeau ;</p>
<p class="desc-cgu">- du fait que la poursuite de sa navigation vaut accord au dépôt de cookies sur son terminal.</p>

<p class="desc-cgu">Pour garantir le consentement libre, éclairé et non équivoque des Utilisateurs visitant la Plateforme, le bandeau ne disparaitra pas tant qu’il n’aura pas poursuivi sa navigation.</p>

<p class="desc-cgu">Sauf consentement préalable, le dépôt et la lecture de cookies ne seront pas effectués :</p>

<p class="desc-cgu">Si l’Utilisateur se rend sur la Plateforme (page d'accueil ou directement sur une autre page du Site à partir d'un moteur de recherche par exemple) et ne poursuit pas sa navigation : une simple absence d’action ne saurait être en effet assimilée à une manifestation de volonté ;</p>

<p class="desc-cgu">Ou s’il clique sur le lien présent dans le bandeau lui permettant de paramétrer les cookies et, le cas échéant, refuse le dépôt de cookies.</p>


<p class="desc-cgut">ARTICLE 12 : PROTECTION DES MINEURS</p>

<p class="desc-cgu">L’accès à la Plateforme et aux Services proposés par BIG-FAMILY est interdite aux Utilisateurs  mineur âgés de moins de 16 ans.</p>

<p class="desc-cgu">En effet, conformément à l’article 8 du RGPD, le traitement des Données Personnelles mineur est licite lorsque celui-ci est âgé d'au moins 16 ans.</p>

<p class="desc-cgu">Lorsque le mineur est âgé de moins de 16 ans, ce traitement n'est licite que si le consentement est donné par le titulaire de l’autorité parenale.</p>



<p class="desc-cgut">ARTICLE 13 : DISPOSITION D’ORDRES TECHNIQUE</p>
 <p class="desc-cgu">Les services sont fournis en l’état et dans la mesure des disponibilités. BIG-FAMILY ne garantit pas une fourniture sans erreur, sans interruption ponctuelle et sécurisée des services proposés via la Plateforme.  BIG-FAMILY n’est tenue par aucune obligation d’assistance personnalisée notamment technique. BIG-FAMILY décline toute garantie expresse ou implicite notamment concernant la qualité et la compatibilité de la Plateforme à l’utilisation que les Utilisateurs en feront.  BIG-FAMILY ne garantit aucun résultat ni bénéfice dans l’utilisation qui sera faite des services proposés à travers la Plateforme.  BIG-FAMILY ne garantit pas davantage que les informations et les données circulant sur l’internet sont protégées contre de telles attaques ou des détournements éventuels.</p>


<p class="desc-cgut">ARTICLE 14 : SECURITE</p>

<p class="desc-cgu">Généralités</p>

<p class="desc-cgu">L’Utilisateur s’engage à prendre toutes les précautions raisonnables pour préserver la confidentialité de son identifiant et mot de passe permettant d’accéder à la Plateforme. A cet égard, l’Utilisateur s’engage notamment à :</p>

<p class="desc-cgu">• N’écrire nulle part et en aucun cas son identifiant ou mot de passe, même sous forme codée ;</p>
<p class="desc-cgu">• A toujours utiliser ses identifiants à l’abri des regards et oreilles indiscrets ;</p>
<p class="desc-cgu">• Se garder de composer ses identifiants devant des tiers ;</p>

<p class="desc-cgu">Il est par ailleurs vivement recommandé à l’Utilisateur de changer, à intervalles réguliers, le mot de passe requis pour l’accès à la Plateforme, en accédant à son Compte, onglet « mon Compte », « mon mot de passe », puis « éditer ».</p>

<p class="desc-cgu">Lorsqu’il modifie son mot de passe, l’Utilisateur doit veiller à ce que le mot de passe ne se compose pas de combinaisons facilement identifiables comme par exemple son nom, prénom, date de naissance, ou ceux d’un proche (conjoint, enfant, etc.), un mot de passe utilisé pour d’autres usages (notamment pour une messagerie personnelle, etc.).</p>

<p class="desc-cgu">L’Utilisateur doit notamment s’assurer de choisir un mot de passe suffisamment long et composé chaque fois que cela est possible, d’une combinaison comportant à la fois des lettres, des chiffres, ainsi que des caractères en majuscules et en minuscules.</p>

<p class="desc-cgu">BIG-FAMILY pourra, à sa discrétion, imposer une date d’expiration du mot de passe de l’Utilisateur au-delà de laquelle il ne pourra pas accéder à la Plateforme et aux services sans procéder à une modification préalable de son mot de passe.</p>

<p class="desc-cgu">L’Utilisateur s’engage également à ne pas stocker sur son ordinateur, son smartphone et/ou sa tablette numérique, ses identifiants, ni à les envoyer via des canaux de transmission non sécurisés tels que courrier électronique, sms.</p>

<p class="desc-cgu">L’Utilisateur a par ailleurs la responsabilité d’effacer les informations stockées sur son ordinateur, son smartphone et/ou sa tablette numérique après utilisation des services de paiement, notamment la suppression des cookies et de l’historique ou encore la suppression des données stockées dans la mémoire cache.</p>

<p class="desc-cgu">Internet est un réseau international ouvert de télécommunication auquel l’Utilisateur peut avoir accès à travers un ordinateur, un smartphone ou une tablette numérique. Pour accéder à la Plateforme et aux services, l’Utilisateur doit se conformer aux exigences techniques (concernant les équipements et les logiciels) telles que décrites dans les présentes CGU.</p>

<p class="desc-cgu">L’Utilisateur est tenu de prendre toutes les mesures nécessaires pour s’assurer que les caractéristiques techniques de son ordinateur, smartphone, ou tablette numérique, ainsi que leurs logiciels et l’abonnement à internet, lui permettent d’accéder à la Plateforme en toute sécurité.</p>

<p class="desc-cgu">L’Utilisateur est entièrement responsable du fonctionnement correct de son équipement informatique, ainsi que de sa liaison à internet. A ce titre, l’Utilisateur doit veiller à ce que cet équipement ne présente pas de problème ou de virus et présente une sécurité suffisante afin de prévenir le risque qu’un tiers obtienne l’accès à son Compte et aux données que cet espace contient.</p>

<p class="desc-cgu">L’Utilisateur doit tout mettre en œuvre afin de préserver cette sécurité. Pour cela, l’Utilisateur doit s’assurer en particulier qu’il n’existe pas de risque que des programmes hostiles ou virus accèdent et perturbent les systèmes informatiques de BIG-FAMILY. En particulier, l’Utilisateur doit s’assurer de la sécurité de son ordinateur, smartphone, tablette numérique, en utilisant et en mettant régulièrement à jour des logiciels anti-Virus et anti-espions ainsi qu’un pare-feu personnel.</p>

<p class="desc-cgu">L’Utilisateur assume les risques techniques notamment liés à une coupure de courant, à une interruption des connexions, à un dysfonctionnement ou encore à la surcharge des réseaux ou des systèmes.</p>

<p class="desc-cgu">L’Utilisateur reconnaît qu’il doit s’adresser au fournisseur d’accès à internet de son choix pour accéder à internet, à la Plateforme et aux services. Dans ce contexte, l’Utilisateur reconnaît qu’il lui appartient de choisir son fournisseur d’accès à internet et de fixer les modalités de ses relations avec lui.</p>

<p class="desc-cgu">BIG-FAMILY ne saurait être responsable des risques relatifs à l’accès internet et des risques relatifs à la transmission de données à distance par l’Utilisateur ou vers l’Utilisateur, notamment en cas de conflit opposant l’Utilisateur à ce fournisseur d’accès à internet, en relation avec le caractère confidentiel/personnel des données transmises, le coût de transmission, la maintenance et interruptions des lignes téléphoniques et du réseau internet.</p>

<p class="desc-cgu">L’Utilisateur a la responsabilité d’utiliser les services conformément aux exigences techniques conformément aux consignes de sécurité données par BIG-FAMILY.</p>

<p class="desc-cgu">Dans des conditions normales, les services sont accessibles à travers la Plateforme.</p>

<p class="desc-cgu">L’Utilisateur doit se connecter à la Plateforme pour une période de temps limité et s’engage à se déconnecter aussitôt qu’il a terminé d’utiliser les services. La déconnexion à la Plateforme n’étant pas automatique, une fois connecté, l’Utilisateur reste connecté à la Plateforme jusqu’à ce qu’il procède à la déconnexion en cliquant sur l’indication déconnexion du Site.</p>

<p class="desc-cgu">BIG-FAMILY se réserve le droit de :</p>

<p class="desc-cgu">• Supprimer ou retirer tout Contenu ou information que BIG-FAMILY jugera inapproprié ;</p>
<p class="desc-cgu">• Sans préjudice des actions judiciaires engagées par des tiers, exercer à titre personnel toute action en justice visant à réparer les préjudices que BIG-FAMILY aurait personnellement subis du fait des manquements imputables à l’Utilisateur au titre des présentes CGU.</p>
<p class="desc-cgu">• Avertir le cas échéant, les autorités compétentes, coopérer avec elles et leur fournir toutes les informations utiles à la recherche et à la répression d’activités illégales ou illicites, conformément à la législation en vigueur.</p>


<p class="desc-cgu">Modification et fin des services</p>

<p class="desc-cgu">L’Utilisateur peut se désinscrire de la Plateforme à tout moment en adressant une demande à cet effet à BIG-FAMILY, par voie électronique exclusivement. BIG-FAMILY adresse alors à l’Utilisateur, par voie électronique, la confirmation de la désinscription de l’Utilisateur aux services, sa désinscription prenant effet à la date de cette confirmation par BIG-FAMILY.</p>

<p class="desc-cgu">BIG-FAMILY se réserve le droit de modifier ou d’arrêter de proposer tout ou partie des services à tout moment, à sa libre discrétion. L’Utilisateur est informé de ces modifications et/ou arrêt par tout moyen utile, dans un délai de quinze (15) jours.</p>

<p class="desc-cgu">En cas de non-respect par l’Utilisateur des présentes CGU, BIG-FAMILY se réserve le droit de suspendre ou de résilier l’accès de l’Utilisateur aux services, avec effet immédiat au cas où l’Utilisateur ne respecterez une stipulation quelconque des présentes CGU, ou si l’Utilisateur accédait aux services en violation d’une quelconque loi, règle ou réglementation applicable à BIG-FAMILY. La résiliation prend effet de plein droit à la date de sa signification par BIG-FAMILY à l’Utilisateur par voie postale (lettre) ou électronique (email). La résiliation entraîne automatiquement et sans mise en demeure préalable, la suppression du Compte de l’Utilisateur.</p>

<p class="desc-cgu">La fin des services, pour quelque cause que ce soit, entraine la suppression du Compte de l’Utilisateur, qui n’a alors plus accès à son Compte.</p>


<p class="desc-cgut">ARTICLE 15 : FORCE MAJEURE</p>

<p class="desc-cgu">Tout événement en dehors du contrôle de BIG-FAMILY et contre lequel elle n'a pu raisonnablement se prémunir constitue un cas de force majeure et suspend à ce titre les obligations des parties, comme par exemple sans que cette liste soit limitative : une grève ou une panne technique (edf, erdf, des opérateurs de télécommunications, des fournisseurs d’accès internet ou d’hébergement, des Registrar, etc.), un arrêt de fourniture d'énergie (telle que l'électricité), une défaillance du réseau de communication électronique dont dépend BIG-FAMILY et/ou des réseaux qui viendraient s'y substituer.</p>

<p class="desc-cgu">BIG-FAMILY ne pourra être tenue responsable, ou considérée comme ayant failli à ses obligations prévues dans les présentes CGU, pour toute inexécution liée à un cas de force majeure tel que défini par la loi et la jurisprudence française, à la condition qu’elle le notifie à l’autre partie d’une part, et qu’elle fasse son possible pour minimiser le préjudice et exécuter au plus vite ses obligations après cessation du cas de force majeure d’autre part.</p>

<p class="desc-cgu">Sauf disposition particulière dans les présentes CGU, les correspondances échangées entre les Utilisateurs et BIG-FAMILY sont assurées par courrier électronique via la Plateforme.  En application des articles 1316 et suivants du Code civil et, le cas échéant, de l’article L.110-3 du Code de commerce, les parties déclarent que les informations délivrées par courrier électronique font foi entre les parties tant qu’aucun écrit contradictoirement authentifié et signé, venant remettre en cause ces informations informatisées, ne soit produit.  Les éléments tels que le moment de la réception ou de l’émission, ainsi que la qualité des données reçues feront foi par priorité telles que figurant sur les systèmes d’information de BIG-FAMILY, ou telles qu’authentifiées par les procédures informatisées de BIG-FAMILY sauf à en apporter la preuve écrite et contraire par les Utilisateurs.</p>

<p class="desc-cgut">ARTICLE 16 : INTEGRALITE</p>

<p class="desc-cgu">Les dispositions des présentes CGU expriment l'intégralité de l'accord conclu entre les Utilisateurs, Professionnels et BIG-FAMILY. Elles prévalent sur toute proposition, échange de lettres antérieures et postérieures à la conclusion des présentes, ainsi que sur toute autre disposition figurant dans les documents échangés entre les parties et relatifs à l'objet des CGU, sauf avenant dûment signé par les représentants des deux parties.</p>


<p class="desc-cgut">ARTICLE 17 :  NON RENONCIATION</p>

<p class="desc-cgu">Le fait que l'une des parties aux présentes CGU n'ait pas exigé l'application d'une clause quelconque, que ce soit de façon permanente ou temporaire, ne pourra en aucun cas être considéré comme une renonciation aux droits de cette partie découlant de ladite clause.</p>


<p class="desc-cgut">ARTICLE 18 :  NULLITE</p>

<p class="desc-cgu">Si une ou plusieurs dispositions des présentes CGU sont tenues pour non valides ou déclarées comme telles en application d'une loi, d'un règlement ou à la suite d'une décision devenue définitive d'une juridiction compétente, les autres stipulations des présentes CGU garderont toute leur force et leur portée.  Le cas échéant BIG-FAMILY s’engage à supprimer et remplacer immédiatement ladite clause par une clause juridiquement valide.</p>


<p class="desc-cgut">ARTICLE 19 : TITRE</p>

<p class="desc-cgu">En cas de difficulté d'interprétation entre le titre et le chapitre de l’un quelconque des articles et l'une quelconque des clauses, les titres seront réputés non-écrits.</p>


<p class="desc-cgut">ARTICLE 20 : ATTRIBUTION DE JURIDICTION- DROIT APPLICABLE</p>

<p class="desc-cgu">Les présentes CGU sont régies et interprétées conformément au droit français, sans tenir compte des principes de conflits de lois.</p>

<p class="desc-cgu">En cas de litige susceptible de survenir à l’occasion de l’interprétation et/ou de l’exécution des présentes ou en relation avec les présentes CGU, les Parties s’engagent à faire tous leurs efforts pour résoudre de façon amiable tous les litiges auxquels les présentes CGU peuvent donner lieu</p>

<p class="desc-cgu">Ainsi, en cas de litige entre un Utilisateur et BIG-FAMILY, les parties conviennent de négocier de bonne foi le règlement du litige. Si les Parties ne parviennent pas à régler le litige après au moins 30 jours ouvrés de négociation, le litige sera réglé devant la juridiction de la ville de Paris ayant compétence exclusive</p>

</div>
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
</div>
