<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/infos" class="btn btn-primary next-step-btn-medium">Revenir page infos <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>

<div class="container">
  <p class="desc-infos">Voilà des vidéos plutôt bien faite d'un youtubeur si tu as des doutes sur comment fonctionne Parcoursup:</p>

  <p class="desc-infos" style="font-size: 13px;"><strong>Pour commencer: une vidéo avec des conseils pour t'orienter et les bases de Parcoursup.</strong></p>
  <iframe width="100%" height="30%" src="https://www.youtube.com/embed/I1sPoebdS2w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <p class="desc-infos" style="font-size: 13px; margin-top: 20px;"><strong>Parcoursup: comment ça marche?</strong></p>
  <iframe width="100%" height="30%" src="https://www.youtube.com/embed/morJ6XXPzY0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <p class="desc-infos" style="font-size: 13px; margin-top: 20px;"><strong>Parcoursup: La réponse à vos voeux</strong></p>
  <iframe width="100%" height="30%" src="https://www.youtube.com/embed/_FALNeLWx9I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <%= render '/shared/navigationbar' %>

<!-- https://www.welcometothejungle.co/professions -->

</div>
</div>
