<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/infos" class="btn btn-primary next-step-btn-medium">Revenir page infos <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers1">
          <h1>C I O</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>Le Centre d'Information et d'Orientation est un service de l'Éducation Nationale, public et gratuit. Tu trouveras un conseiller qui assure des permanences dans ton lycée. Un RDV te sera très utile surtout si tu es hésitant ou complètement perdu. N'hésite pas à lui poser plein de questions. <strong>De toute façon tu n'as rien à y perdre et c'est entièrement gratuit, alors autant y aller!</strong></p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers2">
          <h1>PROFS</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>Ton prof principal est avant tout là pour t'aider dans ton orientation. Ose lui demander des conseils. Et si tu n'as pas d'affinités avec lui, n'hésite surtout pas à aller voir un autre prof ou une autre personne que t'aimes bien. <strong>Ne reste pas dans ton coin, c'est en parlant qu'on apprend et qu'on valide nos choix. Confronte-toi à plusieurs avis différents, ça te permettra de te faire ton propre avis et te construire toi-même ! Crois-en toi et ose !</strong></p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers3">
          <h1>SALONS</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p><em>Tu trouveras toutes les dates des salons de l'orientation dans ton agenda Big-Family.</em> En résumé: sur un salon tu trouveras les stands des écoles du supérieur et ils te donneront toutes les infos sur leur école. C'est super, surtout quand tu hésites entre plusieurs écoles. Nous te conseillons fortement de faire au moins l'étape 1 et 2 de Big-Family avant un salon, ça t'aidera à avoir une idée de ce que tu aimerais faire plus tard et tirer le meilleur parti des salons. <strong>Là encore, ose, tu as tout à y gagner!</strong></p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers4">
          <h1>L'AUDACE</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>Une des raisons pour laquelle cette app existe c'est justement pour vous montrer qu'une autre façon de faire est possible. Nos rêves sont réalisables et la seule condition pour y arriver, c'est la volonté. Confronte-toi TOUT DE SUITE à la réalité d'un métier qui te plaît. Fais un CV et pousse les portes (un employeur n'est pas obligé de te payer pour un stage de moins de 2 mois). Il n'a rien à y perdre, alors fais-lui savoir ! 1 semaine c'est suffisant pour se rendre compte, <strong>allez fonce !</strong></p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers5">
          <h1 style='font-size: 39px; padding-top: 73px;'>BIEN M'ENTOURER</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p><strong>Le mieux c'est de s'entourer dès le départ</strong> de lycéens qui veulent faire le même métier que toi. C'est le meilleur moyen pour s'entraider et ne pas être seul à ton arrivée dans tes études supérieures.</p>
            <a target="_blank" class="btn-link" style="left: 68%; font-size: 17px;" href="/network">Mon réseau</a>
            <p style="font-size: 10px; margin-top: 19px;"><em>Si tu as envie de parler à quelqu'un pour qu'il/elle t'aide à trouver ce que tu veux faire plus tard et t'aider dans tes démarches administratives, <strong>tu peux contacter l'assistant(s) de service sociale dans le Crous de ta région.</strong></em></p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers6">
          <h1>CENTRES PRIVES</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>De nombreux conseillers d'orientation privés existent en France. C'est en générale entre 500 et 1500€ et ils t'aident à trouver le métier que tu aimerais faire plus tard.</p>
            <a target="_blank" class="btn-link" style="left: 50%; font-size: 15px;" href="https://www.google.fr/search?q=conseillers+d%27orientation+priv%C3%A9s&rlz=1C5CHFA_enFR774FR774&oq=conseillers+d%27orientation+priv%C3%A9s&aqs=chrome..69i57j0l5.7685j0j4&sourceid=chrome&ie=UTF-8">Voici le lien pour en trouver</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
