<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers1">
          <h1>C I O</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>TEST</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers2">
          <h1>PROFS</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>TEST</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers3">
          <h1>SALONS</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>TEST</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers4">
          <h1>L'AUDACE</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>TEST</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers5">
          <h1>AIDES PUBLIQUES</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>TEST</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-conseillers6">
          <h1>CENTRES PRIVES</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>TEST</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
