<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/les_autres_aides" class="btn btn-primary next-step-btn-medium">Revenir page aides <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container">
  <p class="etape3-medlarge">LES AIDES PAR REGION:</p>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle btn-dropdown" type="button" data-toggle="dropdown">Choisis ta région
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/dropdown_HDF">Hauts-de-France</a></li>
      <li><a href="/dropdown_IDF">Île-de-France</a></li>
      <li><a href="/dropdown_Normandie">Normandie</a></li>
      <li><a href="/dropdown_Bretagne">Bretagne</a></li>
      <li><a href="/dropdown_PDLL">Pays de la Loire</a></li>
      <li><a href="/dropdown_CVDL">Centre-Val de Loire</a></li>
      <li><a href="/dropdown_BFC">Bourgogne-Franche-Comté</a></li>
      <li><a href="/dropdown_GE">Grand Est</a></li>
      <li><a href="/dropdown_NA">Nouvelle-Aquitaine</a></li>
      <li><a href="/dropdown_ARA">Auvergne-Rhône-Alpes</a></li>
      <li><a href="/dropdown_Occitanie">Occitanie</a></li>
      <li><a href="/dropdown_PACA">Provence-Alpes-Côte d'Azur</a></li>
      <li><a href="/dropdown_Paradis_francais">Paradis Français</a></li>
    </ul>
  </div>

  <p class="subtitle-aides">Les aides proposées par la région <strong>Nouvelle-Aquitaine:</strong></p>
  <ul>
    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i></i><a target="_blank" href="https://les-aides.nouvelle-aquitaine.fr/fiche/erasmus-sejour-detudes/" style="font-size: 15px; color: #333333;"> <strong>Programme Erasmus+</strong> : une aide pour partir à l'étranger</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i></i><a target="_blank" href="https://les-aides.nouvelle-aquitaine.fr/fiche/le-programme-regional-de-mobilite-internationale-prmi/" style="font-size: 15px; color: #333333;"> <strong>Hors programme Erasmus+</strong> : une aide pour partir à l'étranger</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="https://les-aides.nouvelle-aquitaine.fr/fiche/erasmus-stage-en-entreprise/" style="font-size: 15px; color: #333333;"> Aide pour effectuer <strong>un stage à l'étranger</strong></a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="https://les-aides.nouvelle-aquitaine.fr/fiche/initiatives-jeunes-soutien-aux-projets-de-jeunes/" style="font-size: 15px; color: #333333;"> <strong>Projets Initiatives Jeunesse</strong>, pour les projets associatifs</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="https://les-aides.nouvelle-aquitaine.fr/fiche/financement-du-premier-equipement-professionnel-des-apprentis/" style="font-size: 15px; color: #333333;"> Les aides pour les <strong>apprentis / alternants</strong> pour l'achat d'équipement</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="https://les-aides.nouvelle-aquitaine.fr/fiche/aide-aux-transports-apprenti-e-s-ata/" style="font-size: 15px; color: #333333;"> Les aides pour les <strong>apprentis / alternants</strong> pour les transports</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="https://les-aides.nouvelle-aquitaine.fr/fiche/primes-aux-apprentis-transport-hebergement-restauration/" style="font-size: 15px; color: #333333;"> Les aides pour les <strong>apprentis / alternants</strong> pour l'hébergement et la restauration</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="https://les-aides.nouvelle-aquitaine.fr/fiche/fonds-social-daides-aux-apprentis-fsaa/" style="font-size: 15px; color: #333333;"> Les aides pour les <strong>apprentis / alternants</strong> en difficulté financière</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="https://www.nouvelle-aquitaine.fr/dispositifs-region/bourses-regionales-sanitaire-social.html" style="font-size: 15px; color: #333333;"> Bourses pour les <strong>formations sanitaires et sociales</strong></a></li>
  </ul>
</div>
</div>
<%= render '/shared/navigationbar' %>
