<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/les_autres_aides" class="btn btn-primary next-step-btn-medium">Revenir page aides <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container">
  <p class="etape3-medlarge">LES AIDES PAR REGION:</p>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle btn-dropdown" type="button" data-toggle="dropdown">Choisis ta région
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/dropdown_HDF">Hauts-de-France</a></li>
      <li><a href="/dropdown_IDF">Île-de-France</a></li>
      <li><a href="/dropdown_Normandie">Normandie</a></li>
      <li><a href="/dropdown_Bretagne">Bretagne</a></li>
      <li><a href="/dropdown_PDLL">Pays de la Loire</a></li>
      <li><a href="/dropdown_CVDL">Centre-Val de Loire</a></li>
      <li><a href="/dropdown_BFC">Bourgogne-Franche-Comté</a></li>
      <li><a href="/dropdown_GE">Grand Est</a></li>
      <li><a href="/dropdown_NA">Nouvelle-Aquitaine</a></li>
      <li><a href="/dropdown_ARA">Auvergne-Rhône-Alpes</a></li>
      <li><a href="/dropdown_Occitanie">Occitanie</a></li>
      <li><a href="/dropdown_PACA">Provence-Alpes-Côte d'Azur</a></li>
      <li><a href="/dropdown_Paradis_francais">Paradis Français</a></li>
    </ul>
  </div>

  <p class="subtitle-aides">Les aides proposées par la région <strong>Hauts-de-France:</strong></p>
  <ul>
    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://www.hautsdefrance.fr/bourse-mermoz/" style="font-size: 15px; color: #333333;"> <strong>La Bourse Mermoz</strong> : une aide pour partir à l'étranger</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/spip.php?page=aide&id_dispositif=728&connect=opengrc" style="font-size: 15px; color: #333333;"> <strong>Mobinov - Erasmus+</strong> : une aide pour partir à l'étranger</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/spip.php?page=aide&id_dispositif=713&connect=opengrc" style="font-size: 15px; color: #333333;"> <strong>Aide au Permis de conduire</strong> : un prêt de 1000€ à taux 0.</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/spip.php?page=aide&id_dispositif=627&connect=opengrc" style="font-size: 15px; color: #333333;"> <strong>Aide financière complémentaire à la scolarité des lycéens</strong></a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/spip.php?page=aide&id_dispositif=54&connect=opengrc" style="font-size: 15px; color: #333333;"> <strong>Aide régionale à la restauration des étudiants</strong> : repas gratuits dans les restaus universitaires</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/spip.php?page=aide&id_dispositif=544&connect=opengrc" style="font-size: 15px; color: #333333;"> <strong>Pass régional TER’Etude</strong> : TER gratuit</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/spip.php?page=aide&id_dispositif=618&connect=opengrc" style="font-size: 15px; color: #333333;"> <strong>Contrat Etudiant</strong> : contrats de travail de 5 à 10 heures hebdomadaires.</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/aide68" style="font-size: 15px; color: #333333;"> <strong>Une aide pour les associations étudiantes</strong></a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/spip.php?page=aide&id_dispositif=594&connect=opengrc" style="font-size: 15px; color: #333333;"> <strong>Carte Génération #HDF - LYCEENS</strong>: 100€ pour acheter tes livres</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/spip.php?page=aide&id_dispositif=727&connect=opengrc" style="font-size: 15px; color: #333333;"> <strong>Organise un voyage scolaire et fais toi rembourser la moitié des frais.</strong></a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/spip.php?page=aide&id_dispositif=521&connect=opengrc" style="font-size: 15px; color: #333333;"> <strong>Dispositif AMBITION: </strong>Programme Régional de Réussite en Etudes Longues (PRREL)</a></li>

    <li style="list-style-type:  none;margin-left: -17px;margin-right: 8px; margin-bottom:  10px;"><i class="fas fa-external-link-alt"></i><a target="_blank" href="http://guide-aides.hautsdefrance.fr/?id_citoyen_type=8&id_sstheme=&motscles=#" style="font-size: 15px; color: #333333;"><strong>Toutes les aides:</strong></a></li>

  </ul>
</div>
</div>
<%= render '/shared/navigationbar' %>

