<%= render 'shared/navbar' %>
<div class="container">
  <h3 class="title-infos-entretiens">La checklist pour un entretien réussi:</h3>
  <p class="reminder"><em>(N'oublie pas de cocher quand tu es OK pour chaque étape)</em></p>
  <div class="cards">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="card-infos-entretien">
          <div class="card-info1-entretien">
            <a href="/un_cv_parfait"><h3>UN CV PARFAIT</h3></a>
          </div>
          <div class="form-check">
            <input class="form-check-input check-list-box" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label check-list-label" for="defaultCheck1">
            </label>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-2">
        <div class="card-infos-entretien">
          <div class="card-info2-entretien">
            <a href="/lettre_de_motivation_qui_cartonne"><h3>UNE LETTRE DE MOTIVATION QUI CARTONNE</h3></a>
          </div>
          <div class="form-check">
            <input class="form-check-input check-list-box" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label check-list-label" for="defaultCheck1">
            </label>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-2">
        <div class="card-infos-entretien">
          <div class="card-info3-entretien">
            <a href="/je_vais_tout_dechirer"><h3>PRÊT(E) POUR TOUT DECHIRER</h3></a>
          </div>
          <div class="form-check">
            <input class="form-check-input check-list-box" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label check-list-label" for="defaultCheck1">
            </label>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-2">
        <div class="card-infos-entretien">
          <div class="card-info4-entretien">
            <a href="/je_sors_du_lot"><h3>JE SORS DU LOT</h3></a>
          </div>
          <div class="form-check">
            <input class="form-check-input check-list-box" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label check-list-label" for="defaultCheck1">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
