<%= render 'shared/navbar' %>
<div class="container">
  <h3 class="title-infos-entretiens">Voici toutes les aides dont tu peux bénéficier en tant qu'étudiants:</h3>
<!--   <p class="reminder"><em>(N'oublie pas de cocher quand tu es OK pour chaque étape)</em></p>
 -->  <div class="cards">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="card-infos-financement">
          <div class="card-info1-financement">
            <a href="/bourse_et_APL"><h3>LA BOURSE ET LES APL</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
        <div class="card-infos-financement">
          <div class="card-info2-financement">
            <a href="/les_autres_aides"><h3>LES AIDES DONT PERSONNE NE PARLE</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
        <div class="card-infos-financement">
          <div class="card-info3-financement">
            <a href="/le_pret_bancaire"><h3>FINANCER SES ETUDES AVEC UN PRÊT BANCAIRE</h3></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
