<div class="container-homepage">
  <div class="cards-homepage">
    <div class="row row-homepage">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <a href="/interests">
          <div class="card-homepage">
            <i class="em em-heart likes-emoji"></i>
            <p>Etape 1: </p>
            <h3><strong>  Mes likes</strong></h3>
            <i class="fas fa-angle-right"></i>
          </div>
        </a>
        <a href="/chooseajob">
          <div class="card-homepage">
            <i class="em em-thinking_face likes-emoji"></i>
            <p>Etape 2: </p>
            <h3><strong>  Quels métiers ?</strong></h3>
            <i class="fas fa-angle-right"></i>
          </div>
        </a>
        <a href="/infos">
          <div class="card-homepage">
            <i class="em em-boom likes-emoji"></i>
            <p>Etape 3: </p>
            <h3><strong>  Les infos importantes</strong></h3>
            <i class="fas fa-angle-right"></i>
          </div>
        </a>
        <a href="/network">
          <div class="card-homepage">
            <i class="em em-earth_americas likes-emoji"></i>
            <i class="em em-muscle likes-emoji" style="left: 65px;"></i>
            <p>Etape 4: </p>
            <h3 style="padding-left: 14%;"><strong>  Mon réseau</strong></h3>
            <i class="fas fa-angle-right"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="navbar-down">
  <% if user_signed_in? %>
    <div class="navbar-down-item">
      <a href="/homepage"><i class="fas fa-home homepage-fa-home"></i></a>
      <a href="/myprofile"><img src=<%= current_user.avatar_url.nil? ? "https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0ff296c4f785350505c2b5545ae7393&auto=format&fit=crop&w=1650&q=80" : current_user.avatar_url %> alt="profile" class="profile"></a>
    </div>
  <% end %>
</div>
