<div class="wrapper">

  <video autoplay loop>
    <source src='<%= asset_path "jeunes.mp4"%>' type="video/mp4"/>
    Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
  <div class="sign-in">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to "Voir ma session", homepage_path %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
    <% end %>
  </div>
  <div class="banner">
    <h1>Bienvenue dans la</h1>
    <p class="home"><span id="banner-typed-text"></span></p>
  </div>
  <div class= "container">
    <div class="row">
      <div class="col-xs-12 logo-row">
        <%= image_tag("logo.svg", class: "logo")  %>
        <h2 class="line">La meilleure façon de construire ta vie.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="subtitle">Tous les secrets de l’orientation et la création de ton propre réseau.</p>
      </div>
    </div>
    <div class="row">
        <iframe class="youtube" src="https://www.youtube.com/embed/nGeKSiCQkPw?list=RDQM-gh_Nk0JfxI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="small-container-home">
          <i class="fas fa-arrow-right arrow-home"></i>
          <p class="littlesubtitle">Fais toi-aussi partie de la family !</p>
          <p class="punchline">100% gratuit</p>
          <a type="student-btn" href="/signupstudents" class="btn btn-primary students">Etudiants</a>
          <a type="student-btn" href="/signupparents" class="btn btn-success parents">Parents</a>
        </div>
      </div>
    </div>
  </div>
</div>
