<div class="wrapper-home">
  <a href="#" class="button-triangle5">Tout ce qui me concerne</a>
  <a href="#" class="button-triangle4">Mon réseau</a>
  <a href="#" class="button-triangle3">Ils sont là pour moi</a>
  <a href="/chooseajob" class="button-triangle2">Trouver un métier</a>
  <a href="/interests" class="button-triangle1">Apprendre à me connaître</a>
</div>

<%= render '/shared/navigationbar' %>
