<%= render 'shared/navbar' %>
<div class="container">
  <div class="espace">
    <div>
      <h1 class="agenda">AGENDA</h1>
    </div>
    <div class="cards">
      <div class="row">
        <div class="col-xs-6">
          <div class="card-infos">
            <div class="card-info1">
              <a href="/entretien"><h3>Être prêt pour un entretien</h3></a>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card-infos">
            <div class="card-info2">
              <a href="/conseillers"><h3>Ils sont là pour moi</h3></a>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card-infos">
            <div class="card-info3">
              <a href="/outils"><h3>Pro avant l'heure</h3></a>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="card-infos">
            <div class="card-info4">
              <a href="/changements"><h3>Et si tu as des doutes...</h3></a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
