<%= render 'shared/navbar' %>
<div class="container">
  <div class="cards">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-infos">
          <a href="#"><h3>test</h3></a>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos">
          <a href="#"><h3>test</h3></a>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos">
          <a href="#"><h3>test</h3></a>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos">
          <a href="#"><h3>test</h3></a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
