<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/network" class="btn btn-primary next-step-btn-medium">Etape 4: Mon réseau <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container">
  <div>
    <h1 class="agenda">AGENDA</h1>

  </div>
  <div class="cards">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-infos">
          <div class="card-info6">
            <a href="/ose"><h3>J'ose et j'y vais à fond!</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos">
          <div class="card-info2">
            <a href="/conseillers"><h3>Ils sont là pour moi</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos">
          <div class="card-info5">
            <a href="/financements"><h3>Trouver des financements</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos">
          <div class="card-info4">
            <a href="/changements"><h3>Comprendre Parcoursup</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos">
          <div class="card-info1">
            <a href="/entretien"><h3>Être prêt pour un entretien</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos">
          <div class="card-info3">
            <a href="/outils"><h3>Pro avant l'heure</h3></a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>
