<%= render 'shared/navbar' %>
<div class="container-extra">
<div class="container">
  <p class="reminder" style="padding: 0;">Clique en bas à droite de la vidéo pour avoir les sous-titres français !</p>
  <iframe width="100%" height="60%" src="https://www.youtube.com/embed/QfTRvttNFDs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>
</div>
<%= render '/shared/navigationbar' %>
