<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/entretien" class="btn btn-primary next-step-btn-medium" style="width: 168px;">Revenir aux étapes <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container-extra">
<div class="container">
  <p style="margin-bottom: 28px; font-weight: lighter; font-size: 30px; margin-top: 20px; text-align: center;">JE SORS DU LOT</p>
  <p class="title-infos-entretiens" style="margin-bottom: 28px; font-size: 11px;">Pour cette partie il n'y a pas de règle, c'est plutôt au cas par cas, mais pose-toi une seule question: "comment sortir du lot au milieu de dizaines autres très bons candidats ?"</p>
  <p class="desc-infos"><strong>Exemple 1:</strong> Tu es styliste, éclate-toi à faire des croquis, des recherches d'imprimés, de formes, de couleurs et propose lors de ton entretien un moodboard pour leur prochaine collection. Peu importe s'ils le font, le principal est qu'ils sentent que tu es différent(e) et ultra motivé(e).</p>
  <p class="desc-infos"><strong>Exemple 2:</strong> Tu es organisatrice/teur d'évènements, dans la même logique que l'exemple 1 imagine des thèmes, des goodies pour les invités, des endroits et propose un projet d'évènement.</p>
  <p class="desc-infos"><strong>Et ainsi de suite:</strong> Si tu es architecte, dessine un plan, montre une tes maquettes; si tu veux devenir pilote d'avion, montre à quel point les avions te passionnent en réalisant un petit projet ou en montrant ta collection d'avions, tes brevets de pilotage...; si tu es un mécano montre des photos d'un moteur que tu as démonté et remonté; etc etc ...</p>
  <p style="margin-bottom: 28px; font-weight: lighter; font-size: 17px; margin-top: 20px; text-align: center;">Montre ta passion, ta motivation !</p>
  <p class="reminder" style="padding: 0;">Voici une vidéo très intéressante: clique en bas à droite de la vidéo pour avoir les sous-titres français !</p>
  <iframe width="100%" height="60%" src="https://www.youtube.com/embed/QfTRvttNFDs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <p class="desc-infos"><strong>Conclusion:</strong> oublie instagram, ça ne reflète pas du tout la réalité. Le monde du travail ne te permet pas de gagner assez ta vie et avoir assez de vacances pour partir 3 semaines par mois dans les plus beaux hôtels. Au début de ta carrière tu vas devoir te battre et faire tes preuves ! <strong>Mais crois-moi tu seras tellement fier(e) de toi que tu seras BEAUCOUP plus heureux que les instagrameurs.</strong></p>
</div>
</div>
<%= render '/shared/navigationbar' %>
