<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/je_sors_du_lot" class="btn btn-primary next-step-btn-medium" style="width: 138px;">Je sors du lot <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container" style="margin-bottom: 5px;">
  <p style="margin-bottom: 28px; font-weight: lighter; font-size: 30px; margin-top: 20px; text-align: center;">L'ENTRETIEN</p>
  <p class="title-infos-entretiens" style="margin-bottom: 28px; font-size: 11px;">C'est ULTRA IMPORTANT de bien préparer un entretien ! Oui oui même pour ceux qui arrivent toujours à s'en sortir !</p>
  <p class="desc-infos"><strong>1. LA BOITE:</strong> renseignez-vous bien sur ce qu'elle fait, les dernières nouveautés, des articles sur internet sur la stratégie future, des interviews du PDG sur les valeurs ? la stratégie ? SOYEZ AU TOP !</p>
  <p class="desc-infos"><strong>2. VOUS:</strong> entraînez-vous à raconter votre parcours en quelques phrases, la première question c'est souvent "présentez-vous rapidement". Préparez les questions pièges comme: "Qu'est-ce que vous avez fait qui vous rend fier(e)?", "Pouvez-vous me dire 3 qualités et 3 défauts sur vous", "Pourquoi vous et pas un autre ?"</p>
  <p class="desc-infos"><strong>3. LE POSTE:</strong> Lisez bien la fiche de poste et préparez chaque mission avec un exemple concret, par ex: mission: "démarcher les clients potentiels et participer au développement économique de l'entreprise", préparez comme exemple: "J'étais commercial(e) chez Red Bull à mi-temps à côté de mes études supérieures et j'étais en charge de trouver des nouveaux consommateurs et de faire la promotion de la marque sur des évènements. J'ai adoré cette expérience et j'aimais beaucoup trouver des nouvelles stratégies pour être toujours plus efficace dans mon travail. Par exemple ..."</p>
  <p class="desc-infos"><strong>4. DES QUESTIONS:</strong> à la fin d'un entretien il y a toujours cette question "avez-vous des questions?". Préparez une question en rapport avec les missions ou l'entreprise, c'est toujours mieux que de dire "euuuh bah non j'crois pas"</p>
  <p class="desc-infos">Envoyez-nous un mail à <strong>paula@big-family.fr</strong> avec comme sujet <em>"Help pour mon entretien"</em>, et on se fera un plaisir de vous aider à préparer votre entretien.</p>
</div>

<%= render '/shared/navigationbar' %>

