<div class="container-extra">
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/financements" class="btn btn-primary next-step-btn-medium" style="width: 216px;">Revenir page financement <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
  <div class="container">
    <p class="title-infos-entretiens">Emprunter de l'argent pour financer ses études peut également être une option - si vous êtes susceptible d'occuper, à terme, un emploi bien rémunéré. L'Etat peut se porter garant de votre prêt, afin de faciliter son obtention.</p>
    <p class="etape3-xtrasmall" style="width: 119px;">Pour Qui ?</p>
    <p class="desc-infos">Le prêt étudiant est ouvert à l'ensemble des étudiants sans conditions de ressources et sans caution parentale ou d'un tiers. Avec la possibilité de rembourser leur emprunt de manière différée. Il faut cependant avoir moins de 28 ans, être de nationalité française et être inscrit dans un établissement en vue de la préparation d'un concours ou d'un diplôme de l'enseignement supérieur français</p>

    <p class="etape3-large" style="width: 247px;">Comment ça marche?</p>
    <p class="desc-infos">Fais le tour de toutes les banques pour trouver le meilleur taux d'intérêt. C'est-à-dire par exemple tu empruntes 10 000€ à un taux fixe de 1,5%, et bien au final la Banque te donnera 10 000€ mais tu lui rembourseras 10 150€.</p>

    <p class="etape3-xtrasmall" style="width: 119px;">Combien?</p>
    <p class="desc-infos">15 000€ maximum que tu rembourseras sur 2 ans minimum. En général tu n'as pas besoin de caution personnelle, ni de conditions de ressources ou de garantie parentale.</p>
  </div>
</div>
<%= render '/shared/navigationbar' %>


