<div class="container-extra">
  <div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/le_pret_bancaire" class="btn btn-primary next-step-btn-xtrasmall">Infos sur le prêt <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container">
  <div class="cards">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-infos3">
          <div class="card-info-aide1">
            <a href="/aideslogement"><h3>Autres aides pour le logement</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos2">
          <div class="card-info-aide2">
            <a href="/aidesregionales"><h3>Les aides dans ta région</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos2">
          <div class="card-info-aide3">
            <a href="/aidespourpartir"><h3>Partir à l'étranger</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos2">
          <div class="card-info-aide4">
            <a href="/aidestransports"><h3>Les aides pour les transports</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos2">
          <div class="card-info-aide5">
            <a href="/aidesmaster"><h3>Tu as prévu de faire un master?</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos2">
          <div class="card-info-aide6">
            <a href="/aidespremieremploi"><h3>Tu cherches ton premier emploi?</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos2">
          <div class="card-info-aide7">
            <a href="/aidesartistes"><h3>Les artistes c'est par ici...</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos3">
          <div class="card-info-aide8">
            <a href="/aidesmerite"><h3>La mention très bien ça te parle ? C'est par ici.</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos3">
          <div class="card-info-aide9">
            <a href="/aidesurgences"><h3>Aide pour une situation urgente.</h3></a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-infos3">
          <div class="card-info-aide11">
            <a href="/aidesautres"><h3>Et si tu n'as pas trouvé ton bonheur...</h3></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>

