<div class="container-extra">
  <div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
<div class="container">
  <p class="desc-cgut">Les Mentions Légales de la Société Big-Family:</p>
  <p class="desc-cgut">1. Présentation du site.</p>
<p class="desc-cgu">Propriétaire : Big-Family – SASU au capital de 1000€ – SIRET 840 937 874 00013 – 10, avenue Pierre Lefaucheux 92100 Boulogne-Billancourt.</p>
<p class="desc-cgu">Société immatriculée à la CCI PARIS ILE-DE-France.</p>
<p class="desc-cgu">Numéro d’identification à la TVA : FR 95 840937874</p>
<p class="desc-cgu">Nous contacter : paula@big-family.fr</p>
<p class="desc-cgu">Hébergeur : HEROKU –  Heroku, Inc. - https://www.heroku.com/home - The Landmark @ 1 Market St., Suite 300, San Francisco, CA 94105</p>
<p class="desc-cgu">Back-Office : FOREST ADMIN - www.forestadmin.com - 1 Rue de Metz, 75010 Paris</p>

<p class="desc-cgut">2. Conditions générales d’utilisation du site et des services proposés.</p>
<p class="desc-cgu">L’utilisation du site www.big-family.fr implique l’acceptation pleine et entière des conditions générales d’utilisation disponibles lors de la création de compte.</p>
<p class="desc-cgu">Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site www.big-family.fr ou www.big-f.fr sont donc invités à les consulter de manière régulière.</p>
<p class="desc-cgu">Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Big-Family, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
Le site www.big-family.fr est mis à jour régulièrement et les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
<p class="desc-cgut">3. Description des services fournis.</p>
<p class="desc-cgu">Le site www.big-family.fr a pour objet de fournir une information concernant l’ensemble des activités de la société.</p>
<p class="desc-cgu">Big-Family s’efforce de fournir sur le site www.big-family.fr des informations aussi précises que possible, avec un maximum de liens de redirection vers les sites dédiés (exemple : explication de la bourse pour les étudiants avec un lien de redirection vers la page inscription du site de la bourse).</p>
<p class="desc-cgu">Toutefois, Big-Family ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers sites internet où sont prises ces informations.</p>
<p class="desc-cgu">Tous les informations indiquées sur le site www.big-family.fr sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site www.big-family.fr ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
<p class="desc-cgut">4. Limitations contractuelles sur les données techniques.</p>
<p class="desc-cgu">Le site utilise la technologie JavaScript, Ruby On Rails et SQL.</p>
<p class="desc-cgu">Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.</p>
<p class="desc-cgut">5. Propriété intellectuelle et contrefaçons.</p>
<p class="desc-cgu">Big-Family est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.</p>
<p class="desc-cgu">Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : Big-Family.</p>
<p class="desc-cgu">Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

</div>
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
</div>
