<div class="container-stop" style="overflow: hidden">
  <div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/infos" class="btn btn-primary next-step-btn-medium">Revenir page infos <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils1" style="border-radius: 22px;">
          <h1 style="padding-top: 110px; background-color: rgba(0, 0, 0, 0.5); border-radius: 21px;">GMAIL</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <h4 style="margin-top: 0;"><strong>GMAIL:</strong></h4>
            <p style="margin-top: -8px;"><strong>C'est quoi ?</strong></p>
            <p style="margin-top: -10px; font-size: 9px;">C'est la messagerie google, elle te permet d'avoir un mail et pleins d'autres services: drive, photos...</p>
            <p><strong>Notre conseil:</strong></p>
            <p style="margin-top: -10px; font-size: 9px;">Nous te conseillons fortement de te créer une adresse professionnelle Gmail si ce n'est pas déjà fait. Une adresse professionnelle c'est: prénom.nom@gmail.com. Donc par exemple si tu t'appelles Jules Dupont, ce sera jules.dupont@gmail.com.</p>
            <p style="margin-top: -10px; font-size: 9px;"><strong>1. </strong>Tu gagneras en crédibilité. Non non "julioswagdu95@gmail.com" ne va pas t'aider pour trouver un stage !</p>
            <p style="margin-top: -10px; font-size: 9px;"><strong>2. </strong>Le faire tout de suite te permettra de bien comprendre comment ça marche et tu n'auras pas l'air d'un petit bébé quand tu arriveras à ton premier stage/emploi! 💪</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
          <div class ="card-outils2" style="border-radius: 22px;">
            <h1 style="padding-top: 110px; background-color: rgba(0, 0, 0, 0.5); border-radius: 21px;">WORD</h1>
          </div>
        <div class="desc">
          <div class="cards-desc">
            <div class="card-desc">
              <h4 style="margin-top: 0;"><strong>WORD:</strong></h4>
              <p><strong>C'est quoi ?</strong></p>
              <p style="margin-top: -10px; font-size: 9px;">C'est ce qui te permet de rédiger des document: lettre de motivation, CV, rapport de stage...</p>
              <p><strong>Notre conseil:</strong></p>
              <p style="margin-top: -10px; font-size: 9px;">C'est hyper important de maîtriser cet outil, peu importe le métier vers lequel tu te diriges. Tu peux également t'en servir dans ta vie privée: lettre de résiliation à un abonnement, lettre perso...</p>
              <p style="margin-top: -10px; font-size: 9px;"><strong>Pas de panique, ce n'est pas pressé à la seconde</strong>, tu peux prendre le temps d'apprendre dans tes cours d'informatique ou avec des tutos sur youtube.</p>
              <p style="margin-top: -1px; font-size: 9px;">Entraîne-toi, c'est plutôt facile à apprendre. 💪</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils3" style="border-radius: 22px;">
          <h1 style="padding-top: 110px; background-color: rgba(0, 0, 0, 0.5); border-radius: 21px;">EXCEL</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <h4 style="margin-top: 0;"><strong>EXCEL:</strong></h4>
            <p><strong>C'est quoi ?</strong></p>
            <p style="margin-top: -10px; font-size: 9px;">C'est ce qui te permet de créer de tableaux bien construit, des tableaux d'analyse, c'est un outils très intelligent où tu peux entrer des formules et automatiser beaucoup de choses. A condition de le maîtriser.</p>
            <p><strong>Notre conseil:</strong></p>
            <p style="margin-top: -10px; font-size: 9px;">C'est hyper important de bien connaître cet outil, c'était moins le cas pour nos parents, mais pour nous c'est obligatoire.</p>
            <p style="margin-top: -10px; font-size: 9px;"><strong>Pas de panique, ce n'est pas pressé à la seconde</strong>, tu peux prendre le temps d'apprendre dans tes cours d'informatique ou avec des tutos sur youtube.</p>
            <p style="margin-top: -1px; font-size: 9px;">Entraîne-toi, c'est plutôt facile à apprendre au démarrage. 💪</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils4" style="border-radius: 22px;">
          <h1 style="padding-top: 110px; font-size: 40px; padding-bottom: 101px;background-color: rgba(0, 0, 0, 0.5); border-radius: 21px;">POWERPOINT</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <h4 style="margin-top: 0;"><strong>POWERPOINT:</strong></h4>
            <p><strong>C'est quoi ?</strong></p>
            <p style="margin-top: -10px; font-size: 9px;">C'est ce qui te permet de créer des présentations, c'est ce que tu peux projeter en grand écran lors d'une présentation orale. Par exemple: si tu as un projet à présenter en cours, lors d'une conférence... En d'autres mots, tu peux faire une jolie synthèse d'un sujet qui donne envie d'être lue.</p>
            <p><strong>Notre conseil:</strong></p>
            <p style="margin-top: -10px; font-size: 9px;">C'est hyper important de bien connaître cet outil, c'était moins le cas pour nos parents, mais pour nous c'est obligatoire.</p>
            <p style="margin-top: -10px; font-size: 9px;"><strong>Pas de panique, ce n'est pas pressé à la seconde</strong>, tu peux prendre le temps d'apprendre dans tes cours d'informatique ou avec des tutos sur youtube.</p>
            <p style="margin-top: -7px; font-size: 9px;">Entraîne-toi, c'est très facile à apprendre. 💪</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils5">
          <h1>PHOTOSHOP, INDESIGN, ILLUSTRATOR...</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div> -->
    <!-- <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils6">
          <h1>FIGMA, SLACK, TRELLO...</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div> -->
  </div>
</div>
</div>
<%= render '/shared/navigationbar' %>

