<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils1">
          <h1>GMAIL</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils2">
          <h1>WORD</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils3">
          <h1>EXCEL</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils4">
          <h1>POWERPOINT</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils5">
          <h1>PHOTOSHOP, INDESIGN, ILLUSTRATOR...</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils6">
          <h1>FIGMA, SLACK, TRELLO...</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>

