<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
    <a type="student-btn" href="/infos" class="btn btn-primary next-step-btn-medium">Revenir page infos <i class="fas fa-arrow-right arrow-next-step"></i></a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils1">
          <h1>GMAIL</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p style="font-size: 11px;">Nous te conseillons fortement de te créer une adresse professionnelle Gmail si ce n'est pas déjà fait. Une adresse professionnelle c'est: prénom.nom@gmail.com. Donc par exemple si tu t'appelles Jules Dupont, ce sera jules.dupont@gmail.com.</p>
            <p style="font-size: 11px;">1. Tu gagneras en crédibilité. Non non "julioswagdu95@gmail.com" ne va pas t'aider pour trouver un stage !</p>
            <p style="font-size: 11px;">2. Le faire tout de suite te permettra de bien comprendre comment ça marche et tu n'auras pas l'air d'un petit bébé quand tu arriveras à ton premier stage/emploi! 💪</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils2">
          <h1>WORD</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils3">
          <h1>EXCEL</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils4">
          <h1>POWERPOINT</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils5">
          <h1>PHOTOSHOP, INDESIGN, ILLUSTRATOR...</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-conseillers">
        <div class ="card-outils6">
          <h1>FIGMA, SLACK, TRELLO...</h1>
        </div>
      <div class="desc">
        <div class="cards-desc">
          <div class="card-desc">
            <p>...A FAIRE...</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/navigationbar' %>

