<div class="container">
 <!--  <div class="back image"> -->
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
<!--   </div> -->
  <h1 class="accroche-parents"> Devenez le meilleur conseiller en orientation pour votre enfant.</h1>
  <p class="sous-accroche-parents-small"><em>Vous serez</em></p>
  <p class="sous-accroche-parents-medium">Informés. Avertis.</p>
  <p class="sous-accroche-parents-medium"> & Connectés à lui.</p>

  <div>
    <p style="text-align: center; margin: 0; margin-top: 30px;">👇 L'explication en vidéo 👇</p>
    <iframe class="youtube-parents" src="https://www.youtube.com/embed/nGeKSiCQkPw?list=RDQM-gh_Nk0JfxI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <a type="student-btn" href="/users/sign_up" class="btn btn-primary parents-signup">Sign Up</a>
    </div>
  </div>
  <h2 class="title-parents"><strong>C'est quoi la T O M I - Family ? </strong></h2>
    <p class="subtitle-parents">La première application qui a décidé d'<strong>apporter une vraie solution bienveillante</strong> au problème de l'orientation des lycéens.</p>
    <p class="subtitle-parents2">Nous les aidons à trouver leur voie via une application qui leur ressemble.</p>
    <ul class="ul-parents"><span class="surlignement">Pour les lycéens:</span>
      <li class="li-parents">Toutes les infos importantes et à jour pour bien choisir son orientation, <strong>MAIS SURTOUT</strong> la création de leur propre réseau en s'entourant d'autres étudiants qui ont le même projet professionnel.</li>
      <li class="li-parents">Notre solution est innovante: nous voulons casser "la solitude du lycéen" et le mal-être qui en découle en lui permettant de s'entourer de bonnes fréquentations, qui lui ressemblent, où ils pourront s'entraider et se tirer vers le haut.</li>
      <li class="li-parents">Les informations sont neutres et les données protégées, nous ne gagnons pas d'argent d'une façon malhonnête.</li>
      <li class="li-parents">Nous souhaitons aider tous les lycéens de tous les milieux grâce à notre politique "100% gratuit".</li>
    </ul>



  <ul class="ul-parents"><span class="surlignement">Pour vous, parents:</span>
    <p class="subtitle-parents-small"><em>(à développer)</em> Parce que l'orientation de vos enfants <strong>dépend en grande partie de votre influence sur eux</strong>, nous ne pouvions vouloir aider les lycéens sans être en contact avec leurs parents. Vous êtes leur pilier mais nous savons que ce n'est pas un rôle facile tous les jours, surtout lorsqu'il s'agit de l'orientation. Voilà ce que nous vous proposons: </p>
    <li class="li-parents">Tout savoir sur l'orientation, ce qu'il ne faut pas louper, les métiers qui recrutent etc... <em>(à développer)</em></li>
    <li class="li-parents">des séances de sophrologie pour apprendre à ne pas véhiculer du stress à son enfant, et que des bonnes énergies qui aide à l'épanouissement <em>(à développer)</em></li>
    <li class="li-parents">Des séances de yogathérapie pour s'aligner avec soi-même et donner le bon exemple <em>(à développer)</em></li>
    <li class="li-parents">Une psychologue passionnée qui nous apprend la meilleure façon pour bien communiquer avec son enfant et l'aider à trouver sa voie <em>(à développer)</em></li>
    <li class="li-parents">Une meilleure communication avec les enfants <em>(à développer)</em></li>
    <li class="li-parents">Un agenda de tous les évènements sur l'orientation <em>(à développer)</em></li>
    <li class="li-parents">Le lâcher-prise: faire l'opposé des erreurs de nots propres parents n'est pas forcément une bonne chose <em>(à développer)</em></li>
  </ul>


</div>
