<div id="students-content">
  <div class="back">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
  <%= image_tag("logo.png", class: "logo2")  %>
  <p class="title-students3">BRAVO, Test terminé !</p>
  <i class="em em-confetti_ball"></i>
  <p class="subtitle-students"><strong>Ton métier idéal: </strong></p>
  <p class="subtitle-students"><%= "#{["Astronaute, et tu as de la chance il parait qu’ils recrutent chez Star Wars !!!", "Joueur de jeu vidéo professionnel ...Et le mieux dans cette blague, c'est que c'est un vrai métier !!", "Gardien d'autruches, ...Et fais gaffe elles courent vite !! Tu peux déjà commencer à t'entrainer à courir.", "Pousseur dans le métro chinois ...Les métros sont tellement bondés, que les pousseurs sont chargés de pousser les gens pour en faire rentrer un maximum !", "Soigneur de nénuphar ...Et le mieux dans cette blague, c'est que c'est un vrai métier !!", "Posteur de commentaires sur internet: Le gouvernement chinois paie des gens pour qu'ils laissent des commentaires positifs sur les sites liés au parti Communiste. Et bien t'en as de la chance !"].sample}" %></p>
  <i class="em em-rolling_on_the_floor_laughing"></i>
  <p class="subtitle-students3">Allez on n’est pas là pour coller des gommettes, n’attend plus et crée-toi un compte 100% gratuit.</p>
  <p class="subtitle-students2"><strong>On va te le trouver ce métier idéal!</strong></p>

  <div class="row">
    <div class="col-xs-10">
      <a type="student-btn" href="/users/sign_up" class="btn btn-primary students-test">Sign Up</a>
    </div>
  </div>
</div>
