<div class="container">
  <% if @interests.empty? %>
    <p class="text-whishlist-banner">Oups, as-tu liké des centres d'intérêts?</p>
  <% else %>
  <div class="cards">
    <div class="row">
      <% @interests.each do |interest| %>
        <div class="col-xs-12">
          <div class="card-interest">
            <div class="card__content-interest">
              <div class="card__title-interest">
                <% interest.jobs.each do |job| %>
                  <h2><%= link_to job.name, job_path(job) %></h2>
                <% end %>

                <%= link_to "", interest_path(interest), class: "card-link"%>
                <% if interest.get_likes.where(voter_id: current_user).count == 0 %>
                  <%= link_to likeinterest_path(interest), method: :patch, class: "card-like-link" do%>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to dislikeinterest_path(interest), method: :patch, class: "card-like-link" do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
