<div class="container-extra">
  <div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>

<div class="show_job_img"><%= cl_image_tag 'http://res.cloudinary.com/dozkmkl7p/image/upload/v1530181270/Capture_d_e%CC%81cran_2018-06-28_a%CC%80_12.20.50.png', :class => "banner__image" %></div>

<div class="container" style="margin-bottom: 0;">
  <p class="title-infos-entretiens">"J'ai du convaincre mes parents mais aujourd'hui je suis heureux."</p>
  <p class="title-infos-entretiens" style="font-size: 13px; margin-right: -55%; margin-top: -8px;"><em>Ben</em></p>

  <p class="desc-infos">Je suis Ben Thouard, photographe Aquatique basé à Tahiti, et cela fait 12 ans que je vis de la photo.</p>
  <p class="desc-infos">Je suis passionné par l'océan et le surf depuis toujours et ce sont ces passions qui ont rythmé ma vie.</p>
  <p class="desc-infos">Adolescent, j’ai découvert la photo et ai très vite compris que j'en ferai mon métier. Je l’ai d'abord imaginé, et une fois prêt, j'ai du convaincre mes parents. Faire une école de photo alors que je sortais d'un bac S et avec un père chirurgien, c'était, comment dire, pas forcément évidemment. C'est vrai que ce n'est pas commun de se diriger dans cette branche en sortant d'un bac s, et c'est surtout un métier avec aucune sécurité financière. Mais j'étais déterminé et ils ont fini par me soutenir.</p>
  <p class="desc-infos">Et après seulement un an et demi d'études, j'ai décidé de quitter mon école de photo pour me lancer directement en tant que professionnel. Alors entreprendre c'est super, mais quitter son école après seulement un an et demi et annoncer à ses parents qu'on arrête tout pour partir vivre à Hawaii, là où l'océan est le plus beau, c'est un peu moins super.</p>
  <p class="desc-infos">Comme la pillule avait du mal à passer, il fallait absolument que j'arrive à me débrouiller et à faire mes preuves au plus vite. C'était la seule façon pour me donner raison et qu'ils comprennent que ma passion me permettait d'être heureux et de mettre toute l'énergie dont je dispose pour réussir.</p>
  <p class="desc-infos">Je ne vais pas vous mentir, il m'a fallu du temps avant de commencer à gagner ma vie et être serein dans mon quotidien, c'est vrai que je n'ai pas choisi une branche facile. Mais au final, ça a mis autant de temps que des études. Et je reste convaincu que ce métier ne s'apprend pas avec une formation mais sur le tas rythmé par sa passion.</p>
  <p class="desc-infos"><strong>J'ai du me battre au quotidien pendant très longtemps avant qu'on me prenne au sérieux et avant de pouvoir vivre de ma passion. Mais aujourd'hui je suis le plus heureux et ma vie est extraordianire au quotidien, et c'est ça le plus important. Il suffit de croire en vous et tout est possible. C'est dur parfois, mais vaut le coup de se battre, croyez-moi !</strong></p>
</div>

<div class="show_job_img"><%= cl_image_tag 'http://res.cloudinary.com/dozkmkl7p/image/upload/v1530186627/BenThouard7.jpg', :class => "banner__image" %></div>
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
</div>
