<div class="container-extra">
  <div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>

<div class="show_job_img"><%= cl_image_tag "http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1530179092/victor.jpg", :class => "banner__image" %></div>

<div class="container" style="margin-bottom: 0;">
  <p class="title-infos-entretiens">"Je fais les choses différemment et ça dérange."</p>
  <p class="title-infos-entretiens" style="font-size: 13px; text-align: right; margin-top: -8px;"><em>Victor</em></p>
  <p class="desc-infos">Au lycée, j’étais bon en math et en physique, et mauvais en français et en langues, pour le reste j’étais suffisamment malin pour sécher les cours et aller faire du kitesurf tous les jours, ma passion, sans que ça ne se voit dans ma moyenne...</p>
  <p class="desc-infos">Quand on m’a demandé ce que je voulais faire plus tard, j’ai réfléchi à un métier plutôt scientifique et plutôt général. </p>
  <p class="desc-infos">J’ai d’abord pensé à ingénieur, je passe les entretiens, mon dossier plait, je suis pris à HEI Lille : une valeur sûre, à côté des parents, dans une ville connue... trop facile.</p>
  <p class="desc-infos">Je croise alors la route d’un vieux capitaine de marine marchande qui me raconte ses aventures sur des cargos. Je me renseigne : Une école en 5 ans, dans le style ingénieur, un bon salaire, des responsabilités, des rêves de transat, les plus gros moteurs du monde, 6 mois de congés par an... quoi ??? oui vous avez bien compris, 6 mois de congés par an. Je passe donc le concours de l’Ecole Nationale Supérieure Maritime et me retrouve l’année suivante au Havre à tracer des routes sur des cartes marines, démonter des moteurs marins, étudier le droit maritime, devenir apprenti pompier ou médecin... je cherchais du général, j’ai été servi ! On est formé à la polyvalence (polie c’est certain, valant pas si sûr). </p>
  <p class="desc-infos">Je pars ensuite naviguer sur des pétroliers, ce n’était pas ce dont je rêvais en rentrant dans l’école mais bon il fallait bien se lancer, et puis c’est une navigation exigeante et formatrice. Finalement, j’y reste un moment, je signe un CDI, je suis sur le point de passer 2nd Capitaine et avoir une carrière toute tracée, en même temps je repense aux vieilles histoires de mon capitaine et j’ai envie de voyage.</p>
  <p class="desc-infos">Tout le monde me le déconseille mais je démissionne et je pars à Tahiti ou je trouve des embarquements sur place sur des navires polyvalents entre les iles. Je reste 2 ans en short au soleil, j’en prends plein les yeux, j’apprends pleins de choses, dans mon métier et humainement.</p>
  <p class="desc-infos">Récemment, alors que tout roulait à Tahiti, je rentre en France pour rejoindre une start-up qui développe un cargo hybrid avec une nouvelle génération de voile automatisée, fiable et performante pour réduire la consommation du navire. <strong>Et comme d’habitude, les mêmes septiques qui me déconseillent de tenter l’aventure, ceux qui vivent en regrettant toute leur vie de ne pas l’avoir tentée : l’aventure...</strong></p>

</div>
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
</div>
