<div class="container-extra">
  <div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>

<div class="show_job_img"><%= cl_image_tag "http://res.cloudinary.com/dozkmkl7p/image/upload/f_auto,q_auto/v1530180551/Amandina.jpg", :class => "banner__image" %></div>

<div class="container" style="margin-bottom: 0;">
  <p class="title-infos-entretiens">"J'ai réalisé mon rêve de petite fille sans aimer l'école."</p>
  <p class="title-infos-entretiens" style="font-size: 13px; text-align: right; margin-top: -8px;"><em>Amandina</em></p>

  <p class="desc-infos">Je m'appelle Amandina, j'ai 34 ans, 5 chiens, 2 chats, un bébé, le papa qui va avec, et un métier que j'adore.</p>
  <p class="desc-infos">Quand j'étais petite je voulais sauver l'humanité. j'hésitais entre médecine et journalisme. Problème: j'ai toujours aimé apprendre des nouvelles choses mais je n'aimais pas beaucoup l'école. Après le bac, j'ai donc pris la décision de ne pas faire les 10 ans d'études pour devenir médecin.</p>
  <p class="desc-infos">Je me suis dirigée vers une école d'infirmière pour le côté humain et technique du métier. Et quand on est infirmière, comme médecin, on est utile partout dans le monde.</p>
  <p class="desc-infos">Diplômée et avec toujours cette folle envie de sauver le monde, je suis partie en Nouvelle-Calédonie où j'ai bossé dans la brousse, dans les tribus mélanésiennes, mais aussi en dispensaire, dans le centre médical d'une mine de nickel et dans des squats à Nouméa.</p>
  <p class="desc-infos">Je suis devenue ensuite bénévole pour la Croix Rouge où j'ai commencé par faire les premiers secours. J'ai ensuite intégré un programme d'aide humanitaire qu'on appelle les ERU (Emergency Respons Unit). Grâce à ce programme j'ai été envoyée en Haïti pour aider après le tremblement de 2010 et ai suivi une formation aux Philippines. <strong>Cette expérience m'a permis de vivre des moments très forts où j'ai pu me rendre utile et venir en aide aux plus démunis comme j'ai toujours rêvé de faire. </strong>Après cette super expérience, j'ai surtout réalisé que je ne pouvais pas sauver le monde toute seule, et qu'il était très important de s'entourer d'associations. Chaque petite action compte, et je suis heureuse de contribuer à ma manière à sauver l'Humanité.</p>
  <p class="desc-infos">Aujourd'hui, après beaucoup de voyages et de boulots différents, j'ai eu envie de me poser et construire une famille. Je travaille dans un centre d'hémodialyse, dans un tout petit village, et j'ai la chance de pouvoir me rendre au travail à vélo et de regarder tous les matins les cocotiers se balancer dans la lumière du lever du jour...</p>

</div>
<div class="navbar-up">
  <div class="navbar-up-item">
    <i class=" back fas fa-chevron-left" onclick="history.back(-1)"></i>
  </div>
</div>
</div>
