<div class="card2 card-likes" id= <%= "#{interest.id}" %>>
  <p><%= interest.name %></p>
  <% if interest.get_likes.where(voter_id: current_user).count == 0 %>
    <%= link_to like2interest_path(interest), method: :patch, remote: true, class: "card-like-link2" do%>
      <i class="far fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to dislike2interest_path(interest), method: :patch, remote: true, class: "card-like-link2" do %>
      <i class="fas fa-heart"></i>
    <% end %>
  <% end %>
</div>
