/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background-color: transparent;
  height: 0;
  color: black;
  font-size: 14px;
  border: 0;
}
.alert-warning {
  background: $red;
}
