.banner {
  width: 100vw;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("3.svg");
  h1 {
    color: white;
    margin: 0;
    font-size: 32px;
    text-align: center;
    padding-top: 70px;
  }

}
