/* General styling for the links */

a {
  // padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  margin: 20px auto;
}

/* BUTTON 1 */

.btneffect, .btneffect:link, .btneffect:visited {
    color: #2c3e50;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 15px;
    text-align: center;
    transition: 0.3s transform;
  &:hover {
    box-shadow: 0 4em 0 0 $red inset, 0em 0em 0 0 #bbb;
    transform: translate(0.3em, 0.2em);
    color: white;
  }
}
// .special-effect {
//   border: 3px solid $lightblue !important;
// }
.students {
  position: absolute;
  top: 12px;
  left: 32%;
  width: 55%;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 76px;
  margin-top: 2px;
}
.students-home {
  position: absolute;
  top: 45px;
  left: 21%;
  width: 55%;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 2px;
}
.parents {
  position: absolute;
  top: 115px;
  left: 21%;
  width: 55%;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 40px;
  border: 1px solid $red;
  color: $red;
  margin-top: 2px;
}
.students-test {
  width: 55%;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 60px;
  margin-top: 2px;
  left: 30%;
  position: absolute;
}
.parents-signup {
  width: 55%;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 20px;
}
.sign-in {
  border: 2px solid $red;
  background-color: rgba(120, 120, 120, 0.3);
  border-radius: 5px;
  padding: 0px 7px;
  position: absolute;
  right: 11px;
  top: 11px;
  z-index: 15;
  a {
    color: $red !important;
    font-size: 13px;
    &:active {
      text-decoration: none !important;
    }
  }
}
.signup {
  margin-bottom: 5px;
}

.btn-default {
  background-color: $red !important;
  border-radius: 4px;
  margin-top: 15px;
  color: white;
  width: 180px;
  font-size: 16px;
  margin-bottom: 70px;
  margin-left: 20%;
}

.btn-simple {
  border: 2px solid $grey;
}
