/* General styling for the links */

a {
  // padding: 15px 30px;
  text-decoration: none;
  // font-size: 18px;
  margin: 20px auto;
}

/* BUTTON 1 */

.btneffect, .btneffect:link, .btneffect:visited {
    color: #2c3e50;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 15px;
    text-align: center;
    transition: 0.3s transform;
  &:hover {
    box-shadow: 0 4em 0 0 $red inset, 0em 0em 0 0 #bbb;
    transform: translate(0.3em, 0.2em);
    color: white;
  }
}
// .special-effect {
//   border: 3px solid $lightblue !important;
// }
.students {
  position: absolute;
  top: 12px;
  left: 32%;
  width: 55%;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 70px;
  margin-top: 2px;
}
.students-home {
  position: absolute;
  width: 174px;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 2px;
  left: 50%;
  top: 45px;
  margin-left: -92px;
}
.students-network {
  width: 45%;
  border-radius: 4px;
  font-size: 20px;
  margin-left: 28%;
  margin-bottom: 100px;
}
.parents {
  position: absolute;
  top: 115px;
  left: 21%;
  width: 55%;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 40px;
  border: 1px solid $red;
  color: $red;
  margin-top: 2px;
}
.students-test {
  width: 55%;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 60px;
  margin-top: 2px;
  left: 30%;
  position: absolute;
}
.parents-signup {
  width: 55%;
  border-radius: 4px;
  font-size: 25px;
  margin-bottom: 20px;
}
.sign-in {
  border: 2px solid $red;
  background-color: rgba(190, 190, 190, 0.8);
  border-radius: 5px;
  padding: 0px 7px;
  position: absolute;
  right: 11px;
  top: 11px;
  z-index: 15;
  a {
    color: $red !important;
    font-size: 13px;
    font-weight: bolder;
    &:active {
      text-decoration: none !important;
    }
  }
}
.signup {
  margin-bottom: 5px;
}

.btn-default {
  background-color: $red !important;
  border-radius: 4px;
  margin-top: 15px;
  color: white;
  width: 180px;
  font-size: 16px;
  margin-left: 20%;
}
.btn-default2 {
    background-color: #C3413B !important;
    border-radius: 4px;
    color: white;
    padding: 7px;
    position: relative;
    width: 215px;
    left: 50%;
    top: 30%;
    margin-left: -109px;
    margin-top: 31px;
}
.linkto {
  color: white;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}
.btn-simple {
  font-style: italic !important;
  font-size: 18px;
  font-weight: lighter;
  color: #c8c8c8;
  width: 100%;
}
.btn-enter {
  background-color: $red !important;
  border-radius: 4px;
  margin-top: 15px;
  color: white;
  width: 180px;
  font-size: 16px;
  margin-left: 17%;
  padding: 7px;
  margin-bottom: 70px;
}
.log-out {
  text-align: right;
  a {
    color: $grey;
  }
}
.btn-plus {
  background-color: #C3413B !important;
  border-radius: 4px;
  margin-top: 15px;
  color: white;
  width: 180px;
  font-size: 16px;
  margin-bottom: 100px;
  margin-left: 10%;
  padding: 7px 21px;
  position: relative;
  top: 32px;
}
.btn-envoyer {
  background-color: #C3413B !important;
  border-radius: 4px;
  color: white;
  width: 180px;
  font-size: 20px;
  height: 40px;
  position: relative;
  left: 50%;
  top: 30%;
  margin-left: -92px;
  margin-top: 4px;
}
.btn-link {
  background-color: #f0dcdc !important;
  border-radius: 15px;
  color: $grey;
  width: 180px;
  font-size: 20px;
  border: 0px solid #d6bcbc;
  box-shadow: 2px 2px 2px #d6bcbc;
  height: 40px;
  position: relative;
  left: 65%;
  top: 30%;
  margin-left: -105px;
  margin-top: 4px;
  padding: 5px;
}
.btn-dropdown {
  border-radius: 4px;
  color: white;
  width: 180px;
  font-size: 20px;
  height: 40px;
  position: relative;
  left: 0%;
  top: 30%;
  margin-left: 10%;
  margin-top: 22px;
  padding: 5px;
}
