.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  .col-xs-6 {
    padding: 2px;
  }
}

.card {
  box-shadow: 1px 1px 1px 1px rgba(170, 170, 170,0.2),1px 1px 1px 1px rgba(170, 170, 170,0.2);
  padding: 0;
  position: relative;
  .card__image {
    width: 100%;
    height: 138px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
  }
  .card-like-link {
    z-index: 3;
    position: absolute;
    bottom: 11px;
    right: 6px;
    color: #d53533;
    font-size: 26px;
  }
}
.card:hover {
  box-shadow: 1px 1px 1px 1px rgba(130, 130, 130,0.8),1px 1px 1px 1px rgba(130, 130, 130,0.8);
}

.card__title h2 {
  font-size: 7px;
  margin-top: 6px;
  padding-right: 6px;
  margin-right: 0;
  text-align: left;
  height: 27px;
  width: 80%;
}

.card__title a {
  font-size: 10px;
  padding: 0;
  color: $grey;
  &:hover {
    color: black;
  }
}
.card__text {
  font-size: 8px;
  padding: 0;
  margin: 5px;
  color: $grey;
  text-align: left;
  text-justify: inter-word;
}
.card__text a {
  font-size: 7px;
  padding: 0;
  color: $grey;
  &:hover {
    color: black;
  }
}

///////////////////////////////

.cards-interest {
  list-style: none;
  height: calc(100vh - 160px);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-interest {
  background: white;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  transition: all .3s ease;
}

.card-interest-content {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 0%), url("heart.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 80%;
  height: 60%;
  position: absolute;
  position: relative;
  left: 10%;
  border-style: solid;
  border-width: 5px;
  border-color: #333333;
  p {
    position: absolute;
    width: 90%;
    font-size: 26px;
    top: 35%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .remove-box {
    position: absolute;
    top: 108%;
  }
  .fa-times {
    font-size: 45px;
    left: 2%;
    // transform: translate(-50%, -50%);
  }
  .fa-heart {
    position: absolute;
    top: 117%;
    font-size: 45px;
    right: -16%;
    transform: translate(-50%, -50%);
  }
}
/////////////////////////////////////////
.card-infos {
  padding: 0;
  margin: 10px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  height: 110px;
  h3 {
    font-size: 16px;
    padding: 44px 10px;
    color: white;
  }
  &:hover {
    box-shadow: 1px 1px 1px 1px rgba(170, 170, 170,0.6),1px 1px 1px 1px rgba(170, 170, 170,0.6);
  }
}
.card-info1 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url("meeting.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.card-info2 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url("conseillers.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.card-info3 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url("outils.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.card-info4 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url("changements.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.card-info5 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url("money.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.agenda {
  font-size: 46px;
  text-align: center;
  padding: 67px 10px;
  background-color: rgb(240, 220, 220);
}
.card-conseillers {
  margin: 20px 5px;
  height: 255px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  h1 {
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
  }
  .card-conseillers1 {
    background-image: url("door3.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      padding-top: 94px;
      padding-bottom: 81px;
    }
  }
  .card-conseillers2 {
    background-image: url("door6.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      padding-top: 94px;
      padding-bottom: 81px;
    }
  }
  .card-conseillers3 {
    background-image: url("door5.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      padding-top: 94px;
      padding-bottom: 81px;
    }
  }
  .card-conseillers4 {
    background-image: url("door2.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      padding-top: 94px;
      padding-bottom: 81px;
    }
  }
  .card-conseillers5 {
    background-image: url("door1.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      padding-top: 59px;
      padding-bottom: 63px;
    }
  }
  .card-conseillers6 {
    background-image: url("door4.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      padding-top: 59px;
      padding-bottom: 63px;
    }
  }
  .card-desc {
    color: $grey;
    cursor: pointer;
    font-size: 13px;
    text-align: justify;
  }
  .desc {
    position: absolute;
    bottom: -300px;
    background-color: rgba(255, 255, 255, 0.92);
    width: 100%;
    height: 100%;
    .cards-desc {
      display: flex;
      flex-wrap: wrap;
      padding: 33px 10px;
    }
  }
  &:hover {
    .desc {
      position: absolute;
      bottom: 0;
      width: 100%;
      transition: bottom .4s ease-in-out;
    }
  }
}
//////////////////////////////////////////////////////////
.card-infos-entretien {
  box-shadow: 1px 1px 1px 1px rgba(170, 170, 170,0.2),1px 1px 1px 1px rgba(170, 170, 170,0.2);
  padding: 0;
  margin: 10px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  height: 110px;
  h3 {
    font-size: 21px;
    padding: 24px 12px;
    padding-bottom: 66px;
    color: white;
  }
  &:hover {
    box-shadow: 1px 1px 1px 1px rgba(170, 170, 170,0.6),1px 1px 1px 1px rgba(170, 170, 170,0.6);
  }
}
.card-info1-entretien {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url("cv2.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}
.card-info2-entretien {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 0%), url("motiv.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}
.card-info3-entretien {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 0%), url("success.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}
.card-info4-entretien {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.04) 0%), url("different.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}
//////////////////////////////////////////////////////////
.card-infos-financement {
  box-shadow: 1px 1px 1px 1px rgba(170, 170, 170,0.2),1px 1px 1px 1px rgba(170, 170, 170,0.2);
  padding: 0;
  margin: 10px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 35px;
  height: 110px;
  &:hover {
    box-shadow: 1px 1px 1px 1px rgba(170, 170, 170,0.6),1px 1px 1px 1px rgba(170, 170, 170,0.6);
  }
}
.card-info1-financement {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 0%), url("bourse.png");
  width: 100%;
  height: 125%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
    h3 {
    font-size: 22px;
    padding: 50px 30px;
    padding-bottom: 46px;
    color: white;
  }
}
.card-info2-financement {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 0%), url("aides.png");
  width: 100%;
  height: 125%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
    h3 {
    font-size: 22px;
    padding: 44px 1px;
    padding-bottom: 30px;
    color: white;
  }
}
.card-info3-financement {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 0%), url("bank.jpeg");
  width: 100%;
  height: 125%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
    h3 {
    font-size: 22px;
    padding: 31px 2px;
    padding-bottom: 30px;
    color: white;
  }
}
///////////////////////////////////
.card-outils1 {
  background-image: url("gmail.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 87px;
    padding-bottom: 90px;
  }
}
.card-outils2 {
  background-image: url("word.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 87px;
    padding-bottom: 90px;
  }
}
.card-outils3 {
  background-image: url("excel.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 87px;
    padding-bottom: 90px;
  }
}
.card-outils4 {
  background-image: url("ppt.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 87px;
    padding-bottom: 90px;
  }
}
.card-outils5 {
  background-image: url("design.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    font-size: 27px;
    padding-top: 90px;
    padding-bottom: 80px;
  }
}
.card-outils6 {
  background-image: url("sites.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    font-size: 27px;
    padding-top: 87px;
    padding-bottom: 120px;
  }
}
//////////////////////////////////////
.card-parents {
  padding: 0;
  margin: 10px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  height: 170px;
  h3 {
    font-size: 23px;
    color: white;
  }
}
.card-parents1 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url("conseillers.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  h3 {
    padding: 65px 10px;
  }
}
.card-parents2 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url("quotidien.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  h3 {
    padding: 62px 10px;
  }
}
.card-parents3 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url("energies.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  h3 {
    padding: 52px 5px;
  }
}
.card-parents4 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 0%), url("mentor.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  h3 {
    padding: 66px 5px;
  }
}
////////////////////////////////
.card-study {
  margin: 20px 5px;
  height: 255px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  h1 {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
  }
}
.card-study1 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url("university.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 105px;
    padding-bottom: 90px;
  }
}
.card-study2 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url("cpge.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 65px;
    padding-bottom: 63px;
  }
}
.card-study3 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url("gepb.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 93px;
    padding-bottom: 73px;
  }
}
.card-study4 {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 0%), url("dut.jpeg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    padding-top: 105px;
    padding-bottom: 90px;
  }
}
