.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  .col-xs-6 {
    padding: 2px;
  }
}

// .row {
//   margin: -17px;
//   padding: 0;
// }

.card {
  box-shadow: 1px 1px 1px 1px rgba(170, 170, 170,0.2),1px 1px 1px 1px rgba(170, 170, 170,0.2);
  padding: 0;
  position: relative;
  .card__image {
    width: 100%;
    height: 138px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
  }
  .card-like-link {
    z-index: 3;
    position: absolute;
    bottom: 5px;
    right: 3px;
    color: #d53533;
    font-size: 22px;
  }
  .card-like-link:hover {
    z-index: 3;
    position: absolute;
    bottom: 5px;
    right: 3px;
    color: #d53533;
    font-size: 22px;
  }
}
.card:hover {
    box-shadow: 1px 1px 1px 1px rgba(130, 130, 130,0.2),1px 1px 1px 1px rgba(130, 130, 130,0.2);
  }

.card__title h2 {
  font-size: 7px;
  margin: 5px;
  text-align: left;
  height: 27px;
  width: 80%;
}

.card__title a {
  font-size: 10px;
  padding: 0;
  color: $grey;
}
.card__title a:hover {
  text-decoration: none;
  font-size: 12px;
  color: $grey;
}
.card__text {
  font-size: 8px;
  padding: 0;
  margin: 5px;
  color: $grey;
  text-align: left;
  text-justify: inter-word;
}
.card__text a {
  font-size: 7px;
  padding: 0;
  color: $grey;
}
.card__text a:hover {
  text-decoration: none;
  font-size: 8px;
  color: $grey;
}

///////////////////////////////

.cards-interest {
  list-style: none;
  margin-top: 40px;
  padding: 0;
}

.cards-infos {

}
