.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.col-xs-5 {
  box-shadow: 1px 1px 1px 1px rgba(140, 140, 140,0.2),1px 1px 1px 1px rgba(140, 140, 140,0.2);
  padding: 0;
  margin: 5px 5px;
  .card__image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
  }
}

.card__title h2 {
  font-size: 7px;
  margin: 5px;
  text-align: center;
  height: 20px;
}
.card__title a {
  font-size: 10px;
  padding: 0;
  color: $grey;
}

.card__text {
  font-size: 8px;
  padding: 0;
  margin: 5px;
  color: $grey;
  text-align: center;
  text-justify: inter-word;
}
.card__text a {
  font-size: 7px;
  padding: 0;
  color: $grey;
}

.card__btn {
  font-size: 10px;
  justify-content: center;
}
