/* Main navbar */
.navbar-up {
  box-shadow: 1px 0px 3px 3px rgba(130,130,130,0.04),1px 0px 3px 3px rgba(130,130,130,0.04);
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .back {
    font-size: 30px;
    color: $grey;
    position:fixed;
    left:15px;
    top: 21px;
    z-index:0;
    cursor: pointer;
  }
  .back:hover {
    color: $red;
  }
}

/* Main navbar */
.navbar-down {
  box-shadow: 1px 0px 3px 3px rgba(130,130,130,0.04),1px 0px 3px 3px rgba(130,130,130,0.04);
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  bottom: 0;
  width: 100vw;
  margin-left: 0;
  padding-left: 0;
  .profile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position:fixed;
    right:15px;
    bottom: 6px;
    z-index:0;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

/* Basic navbar item */
.navbar-down-item {
  cursor: pointer;
  padding: 0 20px;
  width: 75vw;
  display: flex;
  margin-left: 0;
  padding-left: 0;
  justify-content: space-between;
  padding: 5px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
}
.navbar-down-item a {
  color: $grey;
}
.navbar-down-item a:hover {
  color: $red;
}

/* Add an active class to highlight the current page */
.active {
  color: $red;
}


