<div class="navbar-onglet">
        <div class="navbar-onglet-item row">
          <a class="col-xs-4 col-xs-offset-2 col-md-3 col-md-offset-3 active" href="/jobs">Métiers</a>
          <a class="col-xs-4 col-md-3" href="/chooseastudy">Etudes</a>
        </div>
  </div>
 <!-- 1. Mettre le surlignement sur l'onglet actif et rendre "Métiers" actif par défaut -->
  <!-- 2.1. Afficher ces boutons pour Métiers -->
 <a href="/suggestion" class="btneffect col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">Métiers suggérés</a>
  <a href="/favorites" class="btneffect col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">Mes favoris</a>
  <a href="/jobs" class="btneffect col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">Tous les métiers</a>
